<core:WRAP file="page.html" placeholder="content">

<table width=100% border=0 cellspacing=0 cellpadding=0  height=100% >
<tr>
	<td width=100% valign=top style='padding:10px 20px 30px 20px'>
				<!--ÍÀ×ÀËÎ: ÊÎÍÒÅÍÒ-->
<core:INCLUDE file="page_data.html">
<form method="post" name="change_own_password" id="change_own_password">
<input name="identifier" type="hidden" id="identifier">
	<core:INCLUDE file="form_errors.html">
  <table width="100%" border="0" cellspacing="2" cellpadding="3">
    <tr>
      <td><label for="old_password"><locale:STRING name='old_password' file='user'></label></td>
      <td><input name="old_password" type="password" id="old_password" label="Old password" class="input">
      </td>
    </tr>
    <tr>
      <td><label for="password"><locale:STRING name='password' file='user'></label></td>
      <td><input name="password" type="password" id="password" label="Password" class="input">
      </td>
    </tr>
    <tr>
      <td><label for="second_password"><locale:STRING name='second_password' file='user'></label></td>
      <td><input name="second_password" type="password" id="second_password" label="Password verify" class="input">
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><action_button action="change_own_password" name="submit" type="submit" id="submit1" value="Submit" class="button">
      </td>
    </tr>
  </table>
</form>


			<!--ÊÎÍÅÖ: ÊÎÍÒÅÍÒ-->
	</td>
</tr>
</table>