<core:WRAP file="popup.html" placeholder="content">
<h2><locale:STRING name='work_with_user_membership' file='user'></h2>
<form method="post" name="set_membership" id="set_membership">
<table width="100%" border="0" cellspacing="3" cellpadding="0">
	<tr class=com4>
		<td colspan=2 class=pad4><core:INCLUDE file="form_errors.html"></td>
	</tr>
<tr>
	<th><locale:STRING name='group_name' file='user'></th>
	<th></th>
</tr>
<DATA_SOURCE target='groups'>
	<core:PARAMETER name='data_source_path' value='user_membership_data_source'>
</DATA_SOURCE> 
<grid:LIST id='groups'>
<tr>
	<td><grid:ITEM><small>{$identifier}</small></grid:ITEM></td>
	<td><grid:ITEM><selector class="checkbox"></grid:ITEM></td>
</tr>
</grid:LIST>
<tr>
<td colspan=2 align=center>
<action_button action="set_membership" name="update" id="update" value="Update" class="button">
 &nbsp;
<input name="cancel" type="button" id="cancel" value="Cancel" onclick='window.close();' class="button">

</td>
</tr>
</table>


</form>