<tr class=com4>
  <td colspan=2 class=pad4><core:INCLUDE file="form_errors.html"></td>
</tr>
<core:INCLUDE file='/admin/admin_form_items/parent_select.html'>
<core:INCLUDE file='admin/admin_form_items/identifier.html'>
<core:INCLUDE file='admin/admin_form_items/title.html'>
<td colspan=2>
<span class=req>*</span><label for="content"><locale:STRING name='content'></label>
</td>
</tr>
<tr>
  <td colspan=2><richedit name="content" id="message_content"></richedit>
  </td>
</tr>
<core:INCLUDE file='admin/admin_form_items/req_info.html'>
