<core:WRAP file="page.html" placeholder="content">

<table width=100% border=0 cellspacing=0 cellpadding=0  height=100%>
<tr>
	<td width=100% valign=top style='padding:10px 20px 30px 20px'>
				<!--ÍÀ×ÀËÎ: ÊÎÍÒÅÍÒ-->

<core:INCLUDE file="/search/fulltext_search_form.html">

<DATASOURCE target='search_result' navigator='search_pager'>
	<core:PARAMETER name='datasource_path' value='/search_datasource'>
	<core:PARAMETER name='restrict_by_class' value='0' type='boolean'>
	<core:PARAMETER name='loader_class_name' value='site_object'>
</DATASOURCE>

<core:INCLUDE file="/search/search_results.html">

			<!--ÊÎÍÅÖ: ÊÎÍÒÅÍÒ-->
	</td>
</tr>
</table>