<core:WRAP file="popup.html" placeholder="content">
<h2><locale:STRING name='poll_answer_creation' file='poll'></h2>
<form method="post" name="create_poll_answer" id="create_poll_answer">
	<core:INCLUDE file="form_errors.html">
  <table width="100%" border="0" cellspacing="2" cellpadding="3">
		<core:INCLUDE file="/poll_answer/form_fields.html">
    <tr>
      <td>&nbsp;</td>
      <td><action_button action="create_answer" name="create" type="submit" id="create" value="Create" class="button">
	     &nbsp;
      <input name="cancel" type="button" id="cancel" value="Cancel" onclick='window.close();' class="button">

      </td>
    </tr>
  </table>
</form>