<core:WRAP file="admin/page.html" placeholder="content">

<span class=jip>
<fetch:MAPPED>
<core:INCLUDE file="jip_actions/extended.html">
</fetch:MAPPED>
</span>

<fetch:SUB_BRANCH target='images_folder'  navigator="pager">
	<core:PARAMETER name='loader_class_name' value='images_folder'>
</fetch:SUB_BRANCH>

<fetch:SUB_BRANCH target='images' navigator="pager" >
	<core:PARAMETER name='loader_class_name' value='image_object' >
</fetch:SUB_BRANCH>

<core:INCLUDE file="pager.html">

<table border=0 cellspacing=0 cellpadding=4 width=100%>

<list:LIST id='images_folder'>
  <list:ITEM>
  <thead class=jip>
	<tr>
		<td jip='object' class=jip-object><img src='/shared/images/folder.gif' align='center'>&nbsp;<a href='{$path}'>{$identifier}</a></td>
		<td>
		<core:INCLUDE file="jip_actions/normal.html">
		</td>
	</tr>
</thead>
  </list:ITEM>
</list:LIST>

<list:LIST id='images'>
  <list:ITEM>
    <thead class=jip>
		<tr>
			<td jip='object' class=jip-object><img src='{$path}?icon' align=center>&nbsp;&nbsp;<a href='{$path}'>{$identifier}</a></td>
			<td>
			<core:INCLUDE file="jip_actions/normal.html">
			</td>
		</tr>
		</thead>
  </list:ITEM>
</list:LIST>
</table>