<tabs active_tab="tab1" class="tabulator">

  <tabs:labels>
    <tab_item:label tab_id="tab1"><locale:STRING name="question" file="faq"></tab_item:label>
    <tab_item:label tab_id="tab2"><locale:STRING name="answer" file="faq"></tab_item:label>
  </tabs:labels>
  <table>
  <core:INCLUDE file='/admin/admin_form_items/errors.html'>
  </table>

  <tabs:contents>
    <tab_item:content tab_id="tab1">
          <table width="100%" border="0" cellspacing="2" cellpadding="2">
          <tr>
            <td><span class=req>*</span><label for="question"><locale:STRING name="question" file="faq"></label></td>
            <td><textarea name="question" id="question" cols="50" rows="10" class="textarea"></textarea>
            </td>
          </tr>
          <tr>
            <td><label for="question_author"><locale:STRING name="question_author" file="faq"></label></td>
            <td><input type="text" name="question_author" id="question_author" class="input">
            </td>
          </tr>
          <tr>
            <td><label for="question_author_email"><locale:STRING name="question_author_email" file="faq"></label></td>
            <td><input type="text" name="question_author_email" id="question_author_email" class="input">
            </td>
          </tr>
          </table>
    </tab_item:content>

    <tab_item:content tab_id="tab2">
          <table width="100%" border="0" cellspacing="3" cellpadding="0" height="100%">
          <tr>
            <td colspan='2' height='100%' align='left'><richedit name="answer" id="answer" rows="45" cols="80" ></richedit>
            </td>
          </tr>
          <tr><td colspan=2>&nbsp;</td></tr>
          <tr>
            <td align='right' width='100' class='labels'><label for="answer_author"><locale:STRING name="answer_author" file="faq"></label></td>
            <td width='80%'><input type="text" name="answer_author" id="answer_author" class="input"></td>
          </tr>
          <tr>
            <td align='right' width='100' class='labels'><label for="answer_author_email"><locale:STRING name="answer_author_email" file="faq"></label></td>
            <td width='80%'><input type="text" name="answer_author_email" id="answer_author_email" class="input">
            </td>
          </tr>
          <tr><td colspan='2'>&nbsp;</td></tr>
          </table>
    </tab_item:content>
  </tabs:contents>
</tabs>