<html>
<core:INCLUDE file="/admin/include/admin_top.html">
<body>
  <table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%">
  <tr>
    <td height="100%">
      <div id="lo-place-left">
      <!--BEGIN:[ LEFT COLUMN ]-->
      <core:INCLUDE file="/admin/navigation/content_management.html">

      <!--END:[ LEFT COLUMN ]-->
      </div>
      <img src="/shared/images/1x1.gif" width="180px">
    </td>
    <td height="100%" width="100%">
    <div id="lo-place-center" valign="top">
    <!--BEGIN:[ CENTER ]-->
      <core:PLACEHOLDER id="content">
    <!--END:[ CENTER ]-->
    </div>
    </td>
    <td height="100%">
      <div id="lo-place-right">
      <!--BEGIN:[ RIGHT COLUMN ]-->
      <table border="0" cellpadding="0" cellspacing="10" width="100%">
      <tr>
        <td>
          <!--BEGIN:[ security ]-->
          <span behavior="CShowHide" id="security">
          <table border="0" cellpadding="0" cellspacing="0" class="panel" width="100%" height="1">
          <tr>
            <td>
              <span id="security_minus">
              <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td background='/shared/images/page/tab2/1.gif' class="icon"><img alt="Security" src="/shared/images/icon/context/24/security.gif"></td>
                <td background='/shared/images/page/tab2/2.gif' class="label"><nobr>Security</nobr></td>
                <td><img alt="-" src="/shared/images/page/tab2/minus.gif"></td>
              </tr>
              </table>
              </span>
            </td>
          </tr>
          <tr>
            <td><span id="security_body">
              <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td class="content">
                <!--BEGIN:[ content ]-->
                <ul>
                <li><a href=''>User group</a>
                <li><a href=''>Users</a>
                <li><a href=''>Controllers</a>
                <li><a href=''>Objects access</a>
                </ul>
                <!--END:[ content ]-->
                </td>
                <td class="shadow"><img src='/shared/images/1x1.gif' width=3 height=100%></td>
              </tr>
              </table></span>
            </td>
          </tr>
          <tr><td><table border="0" cellpadding="0" cellspacing="0" width="100%"><tr><td><img src="/shared/images/1x1.gif" width="3"></td><td width="100%"><img src="/shared/images/1x1.gif" class="shadow" height="3" width="100%"></td></tr></table></td></tr>
          </table>
          </span>
          <!--END:[ security ]-->
        </td>
      </tr>
      </table>
      <!--END:[ RIGHT COLUMN ]-->
      </div>
      <img src="/shared/images/1x1.gif" width="180">
    </td>
  </tr>
  </table>

</body>
</html>
