<core:INCLUDE file="/admin/include/admin_header.html">
<script>var page_tab_id = 'content_management';</script>
<core:INCLUDE file="/admin/include/admin_top.html">
  <table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%">
  <tr>
    <td height="100%">
      <div id="lo-place-left">
      <!--BEGIN:[ LEFT COLUMN ]-->
      <core:INCLUDE file="/admin/navigation/content_management.html">

      <!--END:[ LEFT COLUMN ]-->
      </div>
      <img src="/shared/images/1x1.gif" width="180px">
    </td>
    <td height="100%" width="100%">
    <div id="lo-place-center" valign="top">
    <!--BEGIN:[ CENTER ]-->
      <core:PLACEHOLDER id="content">
    <!--END:[ CENTER ]-->
    </div>
    </td>
    <td height="100%">
      <div id="lo-place-right">
      <!--BEGIN:[ RIGHT COLUMN ]-->

      <!--END:[ RIGHT COLUMN ]-->
      </div>
      <img src="/shared/images/1x1.gif" width="180">
    </td>
  </tr>
  </table>

<core:INCLUDE file="/admin/include/admin_bottom.html">
