<pager:total>
        <!--BEGIN:[ pager ]-->
        <span behavior="CPager">
        <table border="0" cellpadding="0" cellspacing="0" class="pager">
        <tr>
        <core:OPTIONAL for='more_than_one_page'>
          <pager:first><td class="arr"><a href='{$href}'>&laquo;</a></td></pager:first>
          <pager:prev><td class="arr"><a href='{$href}'>Л</a></td></pager:prev>
          <pager:list>
            <pager:current><td class="active">25</td></pager:current>
            <pager:number><a href="{$href}">{$number}</a></pager:number>
            <pager:section> <a href="{$href}">[{$number_begin} - {$number_end}]</a> </pager:section>
          </pager:list>
          <pager:next><td class="arr"><a href="{$href}">Ы</a></td></pager:next>
          <pager:last><td class="arr"><a href="{$href}">&raquo;</a></td></pager:last>
        </core:OPTIONAL>
        <core:OPTIONAL for='number'>
          <td>[10 из {$number}]</td>
        </core:OPTIONAL>
        </tr>
        </table>
        </span>
        <!--END:[ pager ]-->
</pager:total>

