<core:WRAP file="admin/content_management_page.html" placeholder="content">

<fetch:SUB_BRANCH target='pages'>
  <core:PARAMETER name='order' value='priority=ASC'>
</fetch:SUB_BRANCH>

<grid:LIST id='pages'>
  <admin:list:HEADER>
   <admin:list:TITLE>
    <locale:STRING name='pages_list' file='paragraph'>
   </admin:list:TITLE>
  </admin:list:HEADER>
  <table cellpadding="0" cellspacing="0" class="content">
    <core:INCLUDE file='/admin/grid_items/grid_body_folder.html'>
  </table>
  <admin:list:footer>
    <core:INCLUDE file='/admin/grid_items/grid_footer_full.html'>
  </admin:list:footer>
</grid:LIST>

<fetch:SUB_BRANCH target='paragraphs' navigator="pager" >
  <core:PARAMETER name='loader_class_name' value='paragraph' >
  <core:PARAMETER name='order' value='priority=ASC'>
</fetch:SUB_BRANCH>

<core:INCLUDE file="/admin/pager.html">

<grid:LIST id='paragraphs'>
  <admin:list:HEADER>
   <admin:list:TITLE>
    <locale:STRING name='paragraphs_list' file='paragraph'>
   </admin:list:TITLE>
  </admin:list:HEADER>
  <table cellpadding="0" cellspacing="0" class="content">
    <core:INCLUDE file='/admin/grid_items/grid_body_final_level.html'>
  </table>
  <admin:list:footer>
    <core:INCLUDE file='/admin/grid_items/grid_footer_full.html'>
  </admin:list:footer>
</grid:LIST>