<core:WRAP file="admin/content_management_page.html" placeholder="content">

<fetch:MAPPED>
<span class='jip'>
<core:INCLUDE file="jip_actions/normal.html">
</span>
</fetch:MAPPED>

<fetch:SUB_BRANCH target='items'>
  <core:PARAMETER name='loader_class_name' value='navigation_item'>
  <core:PARAMETER name='order' value='priority=ASC'>
</fetch:SUB_BRANCH>

<grid:LIST id='items'>
<table>
<tr><td colspan='6' class='btitle1' height='3'></td></tr>
<tr>
  <th><grid:SELECTORS_TOGGLER></th>
  <th><locale:STRING name='published_status' ></th>
  <th><locale:STRING name='items_order'></th>
  <th><locale:STRING name='title'></th>
  <th>URL</th>
  <th><locale:STRING name='actions'></th>
</tr>
<grid:ITERATOR>
<tr class='jip'>
  <td><core:INCLUDE file="/admin/selector.html"></td>
  <td><core:INCLUDE file="published_status.html"></td>
  <td><core:INCLUDE file='/admin/priority_input.html'></td>
  <td>
    <core:INCLUDE file="/admin/list_item_hint.html">
    <a href="{$path}">{$title}({$children})</a>
  </td>
  <td><a href='{$url}' target='_blank'><img src='/shared/images/arrow.gif' border='0'  alt='{$url}' title='{$url}'></a></td>
  <td jip='action'><core:INCLUDE file="jip_actions/dropdown.html"></td>
</tr>
</grid:ITERATOR>
<tr><td colspan='6' class='btitle1' height='3'></td></tr>
<tr>
  <td colspan='6'>
  <grid:actions select_class='select' button_class='button' locale_value='do'>
    <grid:action shortcut='delete' locale_value='delete' form_submitted='0'>
    <grid:action shortcut='save_priority'  locale_value='change_order' form_submitted='1'>
    <grid:action shortcut='toggle_published_status'   locale_value='toggle_published_status' form_submitted='1'>
  </grid:actions>
  </td>
</tr>
</table>
</grid:LIST>