<html>
<head>
<title><metadata:TITLE separator=' :: ' /></title>
<metadata:CHARSET>
<link rel="stylesheet" href="/shared/styles/admin.css" type="text/css">
<script language="javascript" src="/shared/js/common.js"></script>
<script language="javascript" src="/design/main/js/form_errors.js"></script>
<metadata:METADATA>
	<meta name="description" content="{$description}">
	<meta name="keywords" content="{$keywords}">
</metadata:METADATA>
</head>
<body style='overflow:auto'>

<table width=100% border=0 cellspacing=0 cellpadding=0 height=100%>
<tr>
	<td>
		<!--BEGIN: header-->
		<table width=100% border=0 cellspacing=0 cellpadding=0>
		<tr>
			<td>
				<table width=100% border=0 cellspacing=0 cellpadding=0 background='/shared/images/admin/jt31.gif' bgcolor=#2F6EE3>
				<tr>
					<td style='padding:4px 0 7px 15px;' background='/shared/images/admin/jt1.jpg' class=norepeat><img src='/shared/images/admin/jt2.gif' border=0></td>
					<td width=100%></td>
					<td valign=bottom style='padding:0 15px 0 0'><img src='/shared/images/admin/jt4.gif'></td>
				</tr>
				</table>	
			</td>
		</tr>
		<tr>
			<td>
				<table width=100% border=0 cellspacing=0 cellpadding=0 background='/shared/images/admin/jt32.gif' height=6>
				<tr>
					<td width=100%></td>
				</tr>
				</table>	
			</td>
		</tr>
		</table>
		<!--END: header-->
	</td>
</tr>
<tr>
	<td height=100%>
		<table width=100% border=0 cellspacing=0 cellpadding=0 height=100% class=form>
			<tr>
				<td height=100% valign=top>
					<!--начало: страница-->
					<core:PLACEHOLDER id="content">
				</td>
			</tr>
		</table>
	</td>
</tr>
</table>	


</body>
</html>
