<core:WRAP file="front_popup.html" placeholder="content">

<form method="post" name="chat_room_form" id="chat_room_form">
	<table width=100% border=0 cellspacing=0 cellpadding=0 height=100%>
	<tr>
		<td colspan=2 class=table-title><locale:STRING name='update_user_settings' file='chat'></td>
	</tr>
	<tr>
		<td colspan=2 height=100% valign=top class=com4>

		<table>
		<col align=right>
		<tr>
			<td ><locale:STRING name='color' file='chat'><td>
			<td>
				<color_picker id='user_color' name='color' class='input'>		
			<td>
		</tr>
    <tr>
     <td>
				<locale:STRING name='sex' file='chat'>
	   <td>
     <td>
			<table>
		    <tr>
		     <td><label for="sex_male"><locale:STRING name='male' file="chat"></label></td>
		     <td><input name="sex" type="radio" id="sex_male" label="sex_male" value="1"></td>
		    </tr>
		    <tr>
		     <td><label for="sex_female"><locale:STRING name='female' file="chat"></label></td>
		     <td><input name="sex" type="radio" id="sex_female" label="sex_female" value="2"></td>
		    </tr>
		    <tr>
		     <td><label for="sex_unknown"><locale:STRING name='sex_unknown' file="chat"></label></td>
		     <td><input name="sex" type="radio" id="sex_unknown" label="sex_unknown" value="3"></td>
		    </tr>

			</table>
	   <td>

		</tr>
		
		</table>
		</td>
	</tr>
	<tr>
    <td class=tab-bottom><img src='/shared/images/i.gif'></td>
    <td width=100% class=tab-bottom><span class=desc><locale:STRING name='form_field_req'></span></td>
	</tr>
  <tr>
    <td colspan=2 align=center height=30><action_button action="user_settings" name="update" type="submit" id="update" locale_value="update"  reload_parent="true" class="button">
    &nbsp;
    <input name="cancel" type="button" id="cancel" locale_value="close" onclick='window.close();' class="button">
    </td>
  </tr>
	</table>	
</form>