	<tr>
		<td><span class=req>*</span><locale:STRING name='parent'></td>
		<td align='left' nowrap><node_select name='parent_node_id' id='parent_node_id'></td>
	</tr>
	<tr>
		<td><span class=req>*</span><locale:STRING name='identifier'></td>
		<td align='left' nowrap><input id="identifier" name="identifier" class="input" type="text" size="60"  value=''/></td>
	</tr>
	<tr>
		<td><locale:STRING name='description' file='file'></td>
		<td align='left' nowrap><textarea name="description" class="input" cols='60' rows='5' class='textarea'></textarea></td>
	</tr>
