<core:WRAP file="popup.html" placeholder="content">
<h2><locale:STRING name="message_creation" file="guestbook"></h2>
<form method="post" name="create_guestbook_message" id="create_guestbook_message">
	<core:INCLUDE file="form_errors.html">
  <table width="100%" border="0" cellspacing="2" cellpadding="3">
		<core:INCLUDE file="/guestbook_message/form_fields.html">
    <tr>
      <td>&nbsp;</td>
      <td><action_button action="create_guestbook_message" name="create" type="submit" id="create" value="Create" class="button">
      &nbsp;
      <input name="cancel" type="button" id="cancel" value="Cancel" onclick='window.close();' class="button">


      </td>
    </tr>
  </table>
</form>