<core:WRAP file="popup.html" placeholder="content">

<script src='/shared/js/image_properties.js'></script>
<script>
	var image_properties_objects = new Array();
	var image_id_obj;
	var preview_obj;
	var preview_caption_obj;
	var preview_description_obj;
	var insert_button_obj;
	var image = new Object();
	
	var img_1x1 = new Image();
	img_1x1.src = '/shared/images/1x1.gif';
	
	function change_img_prop(obj)
	{
		image[obj.name] = (obj.value == null ? '' : obj.value);
	}
	
	function set_img_prop(prop_name, value)
	{
		if (value == null) value = '';
		if (prop_name == 'type' && value == '') value = 'thumbnail';
		if (prop_name == 'link_to' && value == '') value = 'original';
		image[prop_name] = value;
		obj = document.getElementsByName(prop_name);
		if (obj.length && obj.length > 0)
		{
			if (typeof(obj(0)) == 'object')
				obj(0).value = value;
		}
	}

	function update_image_data(img)
	{
		preview_obj.src = img_1x1.src;
		preview_obj.width = 1;
		preview_obj.height = 1;
		
		if (img.variations.thumbnail)
		{
			preview_obj.src = '/root?node_id=' + img.node_id;
			preview_obj.width = img.variations.thumbnail.width;
			preview_obj.height = img.variations.thumbnail.height;
		}

		preview_caption_obj.nodeValue = img.name;
		preview_description_obj.nodeValue = img.description;

		insert_button_obj.disabled = false;
		img.alt = img.description;
		
		for(id in img_props)
			set_img_prop(img_props[id], img[img_props[id]]);
		
		for(id in static_img_props)
			set_img_prop(static_img_props[id], img[static_img_props[id]]);
	}
	
	function insert_image()
	{
		h = get_close_popup_handler();		
		h(image);
		//opener.popups[window.name]['process_popup'](image);
		window.close();
	}
	
	function get_image()
	{
		//img = opener.popups[window.name]['init_popup'](window.name);
		h = get_init_popup_handler();
		img = h(window.name);
		
		preview_obj = document.getElementById('_preview');
    
		obj = document.getElementById('_preview_caption');
		preview_caption_obj = obj.firstChild;

		obj = document.getElementById('_preview_description');
		preview_description_obj = obj.firstChild;
		
		obj = document.getElementsByName('_insert_button');
		insert_button_obj = obj[0];

		if (typeof(img) == 'object' && img != null)
		{
			if (img.node_id)
			{
				if(img.node_id == 0)
					preview_obj.src = '/shared/images/no_img.gif';
				else
					preview_obj.src = '/root?node_id=' + img.node_id;
					
				insert_button_obj.disabled = false;
			}
			
			for(id in img)
				set_img_prop(id, img[id])

			preview_description_obj.nodeValue = img.alt;
			preview_caption_obj.nodeValue = img.name;
		}
		
//		hide_loading_div();
		render_properties();
		process_popup();
	}
	
	function render_properties()
	{
		props = get_query_item(location.href, 'properties');
		
		if (props == 0)
			return;
		
		elem = document.getElementById('properties');
		elem.style.display = 'block';
		
		if (props == null)
			props = 65535;
		
		for(i=0; i<img_props.length; i++)
			if ((Math.pow(2, i) & props) == 0)
			{
				elem = document.getElementById('_' + img_props[i]);
				elem.disabled = true;
				elem.className = 'disabled_input';
			}
	}
	
	function type_changed()
	{
		set_img_prop('width', '');
		set_img_prop('height', '');
	}
	
	add_event(window, 'load', get_image);
	
</script>
<core:LITERAL>
<table cellspacing=0 cellpadding=1 border=0>
<form>
<tr id='images_panel'>
	<td>
		<table cellspacing=0 cellpadding=1 border=0>
		<tr>
			<td>
				<table cellspacing=0 cellpadding=1 border=0>
				<tr>
					<td>
						<fieldset>
</core:LITERAL>
							<legend style='color:#000000'><locale:STRING name='images' file='image'></legend>
							<table cellspacing=0 cellpadding=1 border=0>
							<tr>
								<td align=right>
									</td>
							</tr>
							<tr>
								<td align=center>
									<iframe src='/root/images_folder?action=image_select' width=400 height=300></iframe>
									</td>
							</tr>
							</table>	
						</fieldset>
					</td>
					<td valign=top>
						<fieldset>
							<legend style='color:#000000'><locale:STRING name='preview' file='image'></legend>
							<table cellspacing=0 cellpadding=1 border=0>
							<tr>
								<td colspan=2><img src='/shared/images/1x1.gif' width=160 height=1></td>
							</tr>
							<tr>
								<td colspan=2 align='center'><span class='text' style='font-weight:bold'><div id='_preview_caption'>&nbsp;</div></span></td>
							</tr>
							<tr>
								<td><img src='/shared/images/1x1.gif' height=190 width=1></td>
								<td align='center' valign='top' width=100%><img id='_preview' src='/shared/images/1x1.gif'></td>
							</tr>
							<tr>
								<td><img src='/shared/images/1x1.gif' height=100 width=1></td>
								<td colspan=2 valign='top'><span class='text'><div id='_preview_description'>&nbsp;</div></span></td>
							</tr>
							</table>	
						</fieldset>
					</td>
				</tr>
				</table>	
			</td>
		</tr>
		<tr>
			<td>
				<div id='properties' style='display:none'>
				<fieldset>
					<legend><locale:STRING name='image_properties' file='image'></legend>
<core:LITERAL>
					<table cellspacing=0 cellpadding=1 border=0>
					<tr>
					<tr>
						<td align=right>Width:</td>
						<td>
							<table cellspacing=0 cellpadding=1 border=0>
							<tr>
								<td><input class="input" type='text' name='width' id='_width' size='5' onchange='change_img_prop(this)'></td>
								<td>Height:</td>
								<td><input class="input" type='text' name='height' id='_height' size='5' onchange='change_img_prop(this)'></td>
								<td>Border:</td>
								<td><input class="input" type='text' name='border' id='_border' size='5' onchange='change_img_prop(this)'></td>
							</tr>
							</table>	
						</td>
					</tr>
						<td align=right>H-space:</td>
						<td>
							<table cellspacing=0 cellpadding=1 border=0>
							<tr>
								<td><input class="input" type='text' name='hspace' id='_hspace' size='3' onchange='change_img_prop(this)'></td>
								<td>V-space:</td>
								<td><input class="input" type='text' name='vspace' id='_vspace' size='3' onchange='change_img_prop(this)'></td>
								<td>Align:</td>
								<td>
									<select name='align' id='_align' onchange='change_img_prop(this)'>
										<option value='baseline'>Baseline
										<option value='bottom'>Bottom
										<option value='left' selected=1>Left
										<option value='middle'>Middle
										<option value='right'>Right
										<option value='texttop'>Texttop
										<option value='top'>Top
									</select>
								</td>
							</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td align=right>Alt:</td>
						<td>
							<table cellspacing=0 cellpadding=1 border=0>
							<tr>
								<td><input class="input" type='text' name='alt' id='_alt' size='40' onchange='change_img_prop(this)'></td>
							</tr>
							</table>	
						</td>
					</tr>
					<tr>
						<td align=right>Type:</td>
						<td>
							<table cellspacing=0 cellpadding=1 border=0>
							<tr>
								<td>
									<select name='type' id='_type' onchange='change_img_prop(this); type_changed()'>
										<option value='icon'>Icon
										<option value='thumbnail' selected>Thumbnail
										<option value='original'>Original
									</select>
								</td>
								<td align=right>Link to:</td>
								<td>
									<select name='link_to' id='_link_to' onchange='change_img_prop(this)'>
										<option value=''>No link
										<option value='icon'>Icon
										<option value='thumbnail'>Thumbnail
										<option value='original' selected>Original
									</select>
								</td>
							</tr>
							</table>
						</td>
					</tr>
					</table>
				</fieldset>
				</div>
			</td>
		</tr>
		<tr>
			<td align=right>
				<input type='hidden' name='_image_id'>
				<input type='button' name='_insert_button' value='</core:LITERAL><locale:STRING name='insert'><core:LITERAL>' class='button' onclick='insert_image()' disabled=1 >
				<input type='button' value="</core:LITERAL><locale:STRING name='close'><core:LITERAL>" class='button' onclick='window.close()'>
				</td>
		</tr>
		</table>	
	</td>
</tr>
</form>
</table>
</core:LITERAL>