<grid:LIST id='users'>
<table>
	<tr>
		<th><grid:SELECTORS_TOGGLER></th>
		<th><locale:STRING name='login' file='user'></th>
		<th><locale:STRING name='email'></th>
		<th><locale:STRING name='name' file='user'></th>
		<th><locale:STRING name='lastname' file='user'></th>
		<th><locale:STRING name='actions'></th>
	</tr>
	<grid:ITERATOR>
	<tr class="jip">
		<td><core:INCLUDE file="/admin/selector.html"></td>
		<td jip='object' class='jip_object'>
		<core:INCLUDE file="/admin/list_item_hint.html">
		{$identifier}
    </td>
		<td><a href='mailto:{$email}'>{$email}</a></td>
		<td>{$name}</td>
		<td>{$lastname}</td>
		<td jip='action'><core:INCLUDE file="jip_actions/dropdown.html"></td>
	</tr>
	</grid:ITERATOR>
	<tr>
		<td colspan='8' align='left'><core:INCLUDE file='/admin/delete_button.html'></td>
	</tr>
</table>
</grid:LIST>