<core:WRAP file="page.html" placeholder="content">
<span class=jip>
<fetch:MAPPED>
<core:INCLUDE file="jip_actions/extended.html">
</fetch:MAPPED>
</span>

<fetch:SUB_BRANCH target='informers' navigator="pager" >
	<core:PARAMETER name='loader_class_name' value='informer_object'>
	<core:PARAMETER name='order' value='priority=ASC'>
</fetch:SUB_BRANCH>

<core:INCLUDE file="pager.html">

<grid:LIST id='informers'>
<table width=100%>
<tr>
	<th><locale:STRING name='title'></th>
	<th><locale:STRING name='published_status' ></th>
	<th><locale:STRING name='modified_date'></th>
	<th><locale:STRING name='actions'></th>
</tr>
<grid:ITERATOR>
<tr class="jip">
<td jip='object'>{$title}</td>
<td align="center">
	<core:INCLUDE file="published_status.html">
</td>
<td><locale:DATE_FORMAT hash_id='modified_date' type='stamp' locale_format='short_date_time'></td>
<td jip='action'><core:INCLUDE file="jip_actions/normal.html"></td>
</tr>
</grid:ITERATOR>
</table>
</grid:LIST>