<core:WRAP file="popup.html" placeholder="content">
<h2><locale:STRING name="nav_menu_item_creation" file="navigation"></h2>
<form method="post" name="create_navigation_item" id="create_navigation_item">
	<core:INCLUDE file="form_errors.html">
  <table width="100%" border="0" cellspacing="2" cellpadding="3">
		<core:INCLUDE file="/navigation_item/form_fields.html">
    <tr>
      <td>&nbsp;</td>
      <td><action_button action="create_navigation_item" name="create" type="submit" id="create" value="Create" class="button">
      &nbsp;
      <input name="cancel" type="button" id="cancel" value="Cancel" onclick='window.close();' class="button">

      </td>
    </tr>
  </table>
</form>