<table border="0" cellpadding="0" cellspacing="5" class="col5" width="100%">
<tr>
  <td width="100%">
    <admin:list:actions>
      <admin:list:action shortcut='delete' locale_value='delete' form_submitted='0'>
      <admin:list:action shortcut='move' locale_value='move' form_submitted='0'>
      <admin:list:action shortcut='save_priority'  locale_value='change_order' form_submitted='1'>
      <admin:list:action shortcut='toggle_published_status' locale_value='toggle_published_status' form_submitted='1'>
    </admin:list:actions>
  </td>
</tr>
</table>
