<table border="0" cellpadding="0" cellspacing="5" class="col5" width="100%">
<tr>
  <td width="100%">
    <grid:actions select_class='select' button_class='button' locale_value='do'>
      <grid:action shortcut='delete' locale_value='delete' form_submitted='0'>
      <grid:action shortcut='move' locale_value='move' form_submitted='0'>
      <grid:action shortcut='save_priority'  locale_value='change_order' form_submitted='1'>
      <grid:action shortcut='toggle_published_status' locale_value='toggle_published_status' form_submitted='1'>
    </grid:actions>
  </td>
</tr>
</table>
