<span id="{$id}" behavior="CDDCommon">
<img src="/shared/images/icon/i.gif">
  <span id="content" style="display:none;">
    <table class="hint-table-css">
    <tr><td class="hint-title-css"> <img src="/shared/images/icon/i1.gif"> <locale:STRING name="detail_info"></td></tr>
    <tr><td><table><tr><td><locale:STRING name="identifier"></td><td>{$identifier}</td></tr>
    <tr><td><locale:STRING name="title"></td><td><b>{$title}</b></td></tr>
    <tr><td><locale:STRING name="created_date"></td><td><locale:DATE_FORMAT hash_id="created_date" type="stamp" locale_format="short_date_time"></td></tr>
    <tr><td><locale:STRING name="modified_date"></td><td><locale:DATE_FORMAT hash_id="modified_date" type="stamp" locale_format="short_date_time"></td></tr>
    <tr><td><locale:STRING name="controller_class_name"></td><td>{$controller_name}</td></tr>
    <tr><td><locale:STRING name="class_name"></td><td>{$class_name}</td></tr>
    <tr><td><locale:STRING name="version"></td><td>{$version}</td></tr>
    <tr><td><locale:STRING name="language"></td><td>{$locale_id}</td></tr>
    </table></td></tr></table>
  </span>
</span>
