<core:WRAP file="popup.html" placeholder="content">
<h2><locale:STRING name='file_creation' file='file'></h2>
<form name="create_file" id="create_file" enctype="multipart/form-data" method="post">
<core:INCLUDE file="form_errors.html">
<table>	
	<core:INCLUDE file='/file/form_fields.html'>
	<tr>
		<td><span class=req>*</span><locale:STRING name='file' file='file'></td>
		<td align='left' nowrap><input id="file" name="file" class="input" type="file"/></td>
	</tr>
	<tr>
	<td colspan='2' align=center>
	<action_button name="create_button" class="button"  action="create_file" locale_value="create"/>
   &nbsp;
   <input name="cancel" type="button" id="cancel" locale_value="close" onclick='window.close();' class="button">

	</td>
	</tr>

</table>

</form>