<core:WRAP file="/admin/popup.html" placeholder="content">
<fetch:MAPPED>
  <h1>{$title}</h1>
</fetch:MAPPED>
<form method="post" name="detail_info_form" id="detail_info_form">
<input type='hidden' id='object_id' name='object_id'>
<DATASOURCE target='object_detail'>
  <core:PARAMETER name='datasource_path' value='object_detail_info_datasource'>
</DATASOURCE>
<table>
  <tr>
    <td valign='top'>
    <core:DATASPACE id='object_detail'>
    <core:INCLUDE file='/jip_actions/normal.html'>
    <table>
      <tr><td><locale:STRING name="identifier"></td><td>{$identifier}</td></tr>
      <tr><td><locale:STRING name="title"></td><td><b>{$title}</b></td></tr>
      <tr><td><locale:STRING name="created_date"></td><td><locale:DATE_FORMAT hash_id="created_date" type="stamp" locale_format="short_date_time"></td></tr>
      <tr><td><locale:STRING name="modified_date"></td><td><locale:DATE_FORMAT hash_id="modified_date" type="stamp" locale_format="short_date_time"></td></tr>
      <tr><td><locale:STRING name="controller_class_name"></td><td>{$controller_name}
        <core:INCLUDE file='/admin/actions/controller_actions.html'>
      </td></tr>
      <tr><td><locale:STRING name="class_name"></td><td>{$class_name}</td></tr>
      <tr><td><locale:STRING name="version"></td><td>{$version}</td></tr>
      <tr><td><locale:STRING name="language"></td>
        <td>
        <span behavior='CShowHide'>
        {$locale_id} <span id='minus'><a href='javascript:void(0);'>(<locale:STRING name='change_locale' file='user'>)</a></span>
        <span id='body' style='display: none;'>
          <br>
          <select id='locale_id' name='locale_id' class='input' options_datasource='available_content_locales_datasource' class='input'></select><br>
          <js_checkbox name='locale_recursive' id='locale_recursive'> <label for="locale_recursive_checkbox">Применить к вложенным элементам</label><br>
          <input type='button' class='button' locale_value='change_locale' locale_file='user' onclick='submit_form(this.form,"?action=change_locale&popup=1")'>
        </span>
        </span>
        </td></tr>
      </table>
      </core:DATASPACE>
    </td>
    <td valign='top'>
      <DATASOURCE target='versions' >
        <core:PARAMETER name='datasource_path' value='object_versions_datasource'>
      </DATASOURCE>

      <grid:LIST id='versions'>
      <admin:list:header>
        <admin:list:title>
         <locale:STRING name='versions'>
        </admin:list:title>
      </admin:list:header>

      <table  cellpadding='1' cellspacing='1' class='content'>
        <tr>
          <th>#</th>
          <th><locale:STRING name="creator"></th>
          <th><locale:STRING name="created_date"></th>
        </tr>
      <grid:ITERATOR>
        <grid:SEPARATOR><tr><td class="col6" colspan="6" height="1"></td></tr></grid:SEPARATOR>
        <grid:STRIPE odd><tr class="odd_row"></grid:STRIPE>
        <grid:STRIPE even><tr class="even_row"></grid:STRIPE>
        <td align='right'><span behavior='CRow' target='-2'></span>{$version}</td>
        <td>{$creator_name} {$creator_lastname} <a href='mailto:{$creator_email}'>@</a></td>
        <td align='right'><locale:DATE_FORMAT hash_id='created_date' type='stamp'></td>
        <td>
          <core:INCLUDE file='/admin/actions/version_actions.html'>
        </td>
        </tr>
      </grid:ITERATOR>
      </table>

      <admin:list:footer></admin:list:footer>
     </grid:LIST>
    </td>
</tr>
</table>
</form>
<table>
<tr>
  <td colspan="2" align='center'>
  <form id='version_form' name='form'>
    <input name="cancel" type="button" id="cancel" locale_value="close" onclick='window.close();' class="button">
  </form>
  </td>
</tr>
</table>

