<core:WRAP file="page.html" placeholder="content">


<fetch:MAPPED>
<span class=jip>
<table width=100% border=0 cellspacing=2 cellpadding=2 >
<tr>
	<td jip='action'>
		<core:INCLUDE file="jip_actions/normal.html">
    
	</td>
</tr>
<tr class=jip>
  <td align="center" valign="top" jip='object'> 
	<core:OPTIONAL for='file_id'>
	<a href='/root?node_id={$file_id}'><locale:STRING name='download' file='pricelist'  locale_type='content'></a>
  </core:OPTIONAL>
	<core:INCLUDE file="published_status.html">          <br>

  {$content}
   </td>
</tr>
</table>	
</span>
</fetch:MAPPED>
