<table width=100% border=0 cellspacing=0 cellpadding=0>
<tr>
	<td class=com1>
		<core:BLOCK id='user_menu_block'>
		
			<fetch:SUB_BRANCH target="menu" >
				<core:PARAMETER name='path' value='/root/navigation/member_menu'>
				<core:PARAMETER name='data_source_path' value='simple_navigation_data_source'>
				<core:PARAMETER name='loader_class_name' value='navigation_item'>
			</fetch:SUB_BRANCH>
			

			<grid:LIST id='menu'>
			<table width=100% border=0 cellspacing=3 cellpadding=0>
			<col align=right style='padding:2px 5px 2px 2px'>
			<grid:ITERATOR>
					<tr>
						<td><a href='{$url}'>{$title}</a></td>
					</tr>
			</grid:ITERATOR>
			</table>
			</grid:LIST>
			
		</core:BLOCK>
	</td>
</tr>
</table>
