<core:WRAP file="admin/page.html" placeholder="content">
<br>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<th>
<locale:STRING name='class_name'>
</th>
<th>
<locale:STRING name='actions'>
</th>
</tr>


<DATA_SOURCE target='classes'>
	<core:PARAMETER name='data_source_path' value='class_list_data_source'>
</DATA_SOURCE>

<grid:LIST id='classes'>
<grid:ITERATOR>
<tr class=jip>
<td jip='object' class=jip-object><small>{$class_name}</small></td>
<td><core:INCLUDE file="/jip_actions/extended.html"></td>
</tr>
</grid:ITERATOR>
</grid:LIST>
</table>