<!-- Powered by LIMB | http://www.limb-project.com/ -->
<!-- Designed by BIT | http://www.bit-creative.com/ -->

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><metadata:TITLE separator=' :: ' /></title>
<metadata:CHARSET>
<link href="/shared/styles/admin.css" rel="stylesheet" type="text/css">

<script type="text/javascript" language="javascript" src="/shared/js/common.js"></script>
<script type="text/javascript" language="javascript" src="/shared/js/htc.js"></script>
<script type="text/javascript" language="javascript" src="/shared/styles/behaviors.js"></script>
<script type="text/javascript" language="javascript" src="/shared/js/form_errors.js"></script>
<script type="text/javascript" language="javascript" src="/shared/js/store_tab_url.js"></script>
<script type="text/javascript" language="javascript" src="/shared/js/admin_menu_toggler.js"></script>
<script type="text/javascript" language="javascript" src="/shared/js/hint.js"></script>
<metadata:METADATA>
  <meta name="description" content="{$description}">
  <meta name="keywords" content="{$keywords}">
</metadata:METADATA>
</head>
<body>