<html>
<head>
<title><metadata:TITLE separator=' :: ' /></title>
<metadata:CHARSET>
<link rel="stylesheet" href="/shared/styles/admin.css" type="text/css">
<script language="javascript" src="/shared/js/common.js"></script>
<script language="javascript" src="/shared/js/htc.js"></script>
<script language="javascript" src="/shared/js/form_errors.js"></script>
<script language="javascript" src="/shared/js/store_tab_url.js"></script>
<script language="javascript" src="/shared/js/admin_menu_toggler.js"></script>
<script language="javascript" src="/shared/js/hint.js"></script>
<metadata:METADATA>
  <meta name="description" content="{$description}">
  <meta name="keywords" content="{$keywords}">
</metadata:METADATA>
</head>
<body bgcolor="#FFFFFF" onload='init_menu()'>