    <core:BLOCK id='admin_history_block'>

    <DATASOURCE target="history" >
      <core:PARAMETER name='datasource_path' value='session_history_datasource' >
    </DATASOURCE>
    <grid:LIST id='history'>
    <span behavior="CShowHide">
    <table border="0" cellpadding="0" cellspacing="5" class="panel" width="100%">
    <tr>
      <td class="icon"><img title="{$title}" alt="{$title}" src="/shared/images/icon/menu/context/history.gif"><br><img alt="" src="images/1x1.gif" class="sep"></td>
      <td width="100%">
        <table border="0" cellpadding="0" cellspacing="0" class="label" width="100%">
        <tr>
          <td width="100%">History</td>
          <td><span id="minus"><img src='/shared/images/marker/minus.gif'></span></td>
        </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <span id="body">

        <grid:ITERATOR>
          <a href="{$href}"> {$title} &raquo; </a><br>
          </grid:ITERATOR>
          </td>
      </tr>
      </table>
    </span>

    </grid:LIST>

    </core:BLOCK>
