<grid:LIST id='admin_wide_menu'>
<grid:ITERATOR>
<span behavior="CShowHide">
  <table border="0" cellpadding="0" cellspacing="5" class="panel" width="100%">
    <tr>
      <td class="icon"><img title="{$title}" alt="{$title}" src="/shared/images/icon/menu/context/{$identifier}.gif"><br><img alt="" src="images/1x1.gif" class="sep"></td>
      <td width="100%">
        <span id="minus">
        <table border="0" cellpadding="0" cellspacing="0" class="label" width="100%">
        <tr>
          <td width="100%">{$title}</td>
          <td><img src='/shared/images/marker/minus.gif'></td>
        </tr>
        </table>
       </span>
      </td>
    </tr>

    <core:DATA_TRANSFER hash_id='child_items' target='navi_children'>
    <grid:LIST id='navi_children'>
    <tr>
      <td></td>
      <td>
        <span id='body'>
          <table border="0" cellpadding="2" cellspacing="5" width="100%">
          <tr>
          <grid:ITERATOR>
            <grid:SEPARATOR count='3'></tr><tr></grid:SEPARATOR>
            <td align="center" width="33%">
              <img alt="{$title}" src="/shared/images/icon/menu/48/{$identifier}.gif" border="0" title="{$title}"><br>
              <core:OPTIONAL for="new_window"><a href='{$url}' target="_blank">{$title}</a></core:OPTIONAL>
              <core:DEFAULT for="new_window"><a href='{$url}'>{$title}</a></core:DEFAULT>
            </td>
          </grid:ITERATOR>
          </tr>
          </table>
        </span>
        </grid:LIST>
      </td>
    </tr>
</table>
</span>
  </grid:ITERATOR>
</grid:LIST>