<core:WRAP file="popup.html" placeholder="content">

<form method="post" name="create_site_object" id="create_site_object">
  <table width=100% border=0 cellspacing=0 cellpadding=0 >
  <tr>
    <td colspan=2 class=table-title><locale:STRING name='document_folder_creation' file='document'> <h1>"<fetch:MAPPED>{$title}</fetch:MAPPED>"</h1></td>
  </tr>
  <tr>
    <td colspan=2 valign=top class=com4>
       <core:INCLUDE file='/admin/admin_form_items/folder_form_fields.html'>
    </td>
  </tr>
  <tr>
    <td class=tab-bottom><img src='/shared/images/i.gif'></td>
    <td width=100% class=tab-bottom><span class=desc><locale:STRING name='form_field_req'></span></td>
  </tr>
  <tr>
    <td colspan=2 align=center height=30>
    <action_button action="create_documents_folder" name="create" type="submit" id="create" locale_value="create" class="button">
    &nbsp;
    <input name="cancel" type="button" id="cancel" locale_value="close" onclick='window.close();' class="button">
    </td>
  </tr>
  </table>
</form>