<core:WRAP file="admin/admin_display_page.html" placeholder="content">
<fetch:MAPPED>
<span class=jip>
<core:INCLUDE file="jip_actions/extended.html">
</span>
</fetch:MAPPED>
<br>

<fetch:SUB_BRANCH target='answers'>
	<core:PARAMETER name='loader_class_name' value='poll_answer'>
	<core:PARAMETER name='order' value='priority=ASC'>
</fetch:SUB_BRANCH>


<grid:LIST id='answers'>
<table width=100%>
<tr>
	<th><grid:SELECTORS_TOGGLER></th>
	<th><locale:STRING name='poll_answers_list' file='poll'></th>
	<th><locale:STRING name='created_date'></th>
	<th><locale:STRING name='modified_date'></th>
	<th><locale:STRING name='actions'></th>
</tr>

<grid:ITERATOR>
	<tr class="jip">
		<td><core:INCLUDE file="/admin/selector.html"></td>
		<td jip='object'>{$title}</td>
		<td><locale:DATE_FORMAT hash_id='created_date' type='stamp' locale_format='short_date_time'></td>
		<td><locale:DATE_FORMAT hash_id='modified_date' type='stamp' locale_format='short_date_time'></td>
		<td jip='action'><core:INCLUDE file="jip_actions/normal.html"></td>
	</tr>
</grid:ITERATOR>
<tr><td colspan='5' align='left'><core:INCLUDE file='/admin/delete_button.html'></td></tr>
</table>
</grid:LIST>
