	<!--начало: путь-->					
	<table width=100% border=0 cellspacing=0 cellpadding=0>
	<tr>
		<td style='padding:0 25px 3px 0' class=path>
		<metadata:BREADCRUMBS>
		<list:LIST>
			<list:ITEM>
				<list:BREADCRUMBS common>
				<a href="{$path}?action=admin_display">{$title}</a>  &raquo; 
				</list:BREADCRUMBS>
				<list:BREADCRUMBS last>
				{$title}
				</list:BREADCRUMBS>
			</list:ITEM>
		</list:LIST>
		</metadata:BREADCRUMBS>
		</td>
	</tr>
	</table>
	<!--конец: путь-->
	<fetch:MAPPED>
	<!--начало: заголовок-->
	<table width=100% border=0 cellspacing=0 cellpadding=0>
	<tr>
		<td style='padding:0 25px 3px 0'><h1>{$title}</h1></td>
	</tr>
	</table>
	<!--конец: заголовок-->
	</fetch:MAPPED>
