<core:WRAP file="/admin/page.html" placeholder="content">
<table border=0 cellspacing=0 cellpadding=0>
<tr><td height=1 colspan=100 bgcolor=#c0c0c0></td></tr>
<col valign=top style='padding:0 0px 0 0px'>
<tr height=30 valign=middle class=com7>
<th>
<locale:STRING name='tree_element'>
</th>
<th>
<locale:STRING name='tree_element_class'>
</th>
<th>
<locale:STRING name='items_order'>
</th>
<th>
<locale:STRING name='actions'>
</th>
</tr>
<tr><td height=1 colspan=100 bgcolor=#c0c0c0></td></tr>
<tr>
	<td height=10 background='/shared/images/t_l.gif' class=bgr_no_rep></td>
</tr>

<fetch:SUB_BRANCH target='tree'>
	<core:PARAMETER name='datasource_path' value='/fetch_tree_datasource'>
	<core:PARAMETER name='path' value='/root'>
	<core:PARAMETER name='depth' value='-1' type='numeric'>
	<core:PARAMETER name='check_expanded_parents' value='1' type='boolean'>
	<core:PARAMETER name='include_parent' value='1' type='boolean'>
	<core:PARAMETER name='restrict_by_class' value='0' type='boolean'>
</fetch:SUB_BRANCH>

<grid:LIST id='tree'>
<grid:ITERATOR>
<tr>
<td height=100%><grid:TREE_ITEM></td>
<td><small>{$class_name}</small></td>
<td><core:INCLUDE file="order.html"></td>
<td><core:INCLUDE file="/jip_actions/simple.html"></td>
</tr>
</grid:ITERATOR>
</grid:LIST>

</table>