<core:WRAP file="popup.html" placeholder="content">

<br>
<fetch:MAPPED>
<a href="{$path}"><locale:STRING name='download_link' file='file'></a><br>
<locale:STRING name='file_name' file='file'>:{$file_name}
Mime-type:{$mime_type}
<locale:STRING name='size' file='file'>:{$size}
</fetch:MAPPED>

<form name="edit_file" id="edit_file" enctype="multipart/form-data" method="post">
	<core:INCLUDE file="form_errors.html">
	<table>
	
	<tr>
		<td><span class=req>*</span><locale:STRING name='identifier'></td>
		<td align='left' nowrap><input id="identifier" name="identifier" class="input" type="text" size="60"  value=''/></td>
	</tr>
	
	<tr>
		<td><span class=req>*</span><locale:STRING name='file' file='file'></td>
		<td align='left' nowrap><input id="file" name="file" class="input" type="file"/></td>
	</tr>
	
	<tr>
		<td><locale:STRING name='description' file='file'></td>
		<td align='left' nowrap><textarea name="description" class="input" cols='60' rows='5' class='textarea'></textarea></td>
	</tr>
	
	<tr>
	<td colspan='2'>
	<action_button name="edit_button" class="button"  action="edit" reload_parent="true" value="Update"/>
	</td>
	</tr>

</table>

</form>