<html>
<head>
	<title><metadata:TITLE separator=' :: ' /> :: Official Shweir Secondary School</title>
	<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
	<link href="/shared/styles/chat.css" rel="stylesheet" type="text/css">
	<metadata:METADATA>
	<meta name="description" content="{$description}">
	<meta name="keywords" content="{$keywords}">
	</metadata:METADATA>
</head>

<script language="javascript" src="/shared/js/common.js"></script>
<script language="javascript" src="/design/main/js/form_errors.js"></script>
<script language="javascript" src='/shared/js/chat_design.js'></script>
<script language="javascript" src='/shared/js/chat.js'></script>

<body style="margin: 0px">
<core:INCLUDE file="front_breadcrumbs.html"><br>
<fetch:MAPPED>
{$title} <a href='javascript:window.location.reload()'>(<locale:STRING name='refresh' file='chat'>)</a>
</fetch:MAPPED>
<table id="main_table" width="100%" border="1" height="90%">
  <tr>

    <td id="main_table_chat_td" width="80%" valign="top" height='100%'>
			<!-- chat -->
			<iframe name="chat_messages_frame" style="height: 100%; width: 100%" src='/shared/chat/blank.html'></iframe>
			<!-- chat ends -->
		</td>

    <td width="20%" valign='top'>
			<!-- chat users-->
			<table height='100%' width='100%' cellpadding='0' cellspacing='0'>
			<tr>
				<td >
					<span id='chat_users_panel_header'>&nbsp;</span><br>
					<a href='javascript:start_action('get_users')'><locale:STRING name='refresh' file='chat'></a>
				</td>
			<tr>
			<tr>
				<td height='100%' valign='top'>
					<iframe name="chat_users_panel_frame" style="height: 100%; width: 100%" src='/shared/chat/blank.html'></iframe>
				</td>
			<tr>
			
			</table>
			<!-- chat users ends-->
		</td>

  </tr>
  <tr>
    <td height='1'>

			<!-- chat login-->
			<chat:NOT_LOGGED_IN>
			<core:INCLUDE file='chat/chat_login_form.html'>
			</chat:NOT_LOGGED_IN>
			<!-- chat login ends-->			
			
			<!-- chat message-->
			<chat:LOGGED_IN>
			<core:LITERAL>
				<table cellpadding=0 cellspacing=0 border=1 width=100%>
				<form action='/chat/send_message.php' id='message_form' name='message_form' target='send_message_frame' method='post' enctype='multipart/form-data'>
				<!--<form action='/chat/send_message.php' id='message_form' name='message_form' target='send_message_frame' method='post' >-->
				<tr>
					<td width=100%>
						<input type=hidden name=chat_room_id value='<!--<<chat_room_id>>-->'>
						<table cellspacing=0 cellpadding=5 border=1 id=message_panel>
						<tr>
							<td rowspan=2>
								<table width=100% border=0 cellspacing=0 cellpadding=0>
								<tr>
									<td width=1% align=right class=textbold></td>
									<td colspan=2>
									</core:LITERAL>
										<table width=100% border=0 cellspacing=0 cellpadding=0>
										<tr>
											<td align='right'>
												&nbsp;<locale:STRING name='recipient' file='chat'>&nbsp;
											</td>
							
											<td>
												<core:LITERAL>
												<select name='recipient_id' id='chat_users_combobox'>
												</core:LITERAL>
														<option value='-1'><locale:STRING name='recipient_all' file='chat'></option>
												<core:LITERAL>
												</select>
											</td>
										</tr>
										<tr>
											<td>
											</td>
											<td>
												</core:LITERAL>
										
												<DATA_SOURCE target='smiles'>
													<core:PARAMETER name='data_source_path' value='smiles_list_data_source' >
												</DATA_SOURCE>
		
												<table>
													<tr align='center' valign='middle'>
													<grid:LIST id='smiles'>
														<grid:SEPARATOR count='20'></tr><tr></grid:SEPARATOR>
														<grid:ITEM>
														<td>
															<a href='javascript:emoticon("{$abbr}")'><img src="/shared/images/smiles/{$img}" border="0" alt="{$title}" title="{$title}"></a>
														</td>
														</grid:ITEM>
													</grid:LIST>
													</tr>
												<table>

												<core:LITERAL>
											</td>
										</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td class=textbold>
									&nbsp;</core:LITERAL><locale:STRING name='message' file='chat'><core:LITERAL>&nbsp;
									</td>
									<td width=1>
										<input type='hidden' name='message'>
										<textarea cols=50 rows=2 name='_message' id='_message' onkeyup='key_up()'></textarea>&nbsp;
									</td>
									<td valign=bottom align=left>
										<table cellpadding=0 cellspacing=0 border=0>
										<tr>
											<td class=title>
												Ctrl+Enter
											</td>
										</tr>
										<tr>
											<td>
												<input class='button' type='button' name='say' value='Say' onclick='start_action("send_message")'>
											</td>
										</tr>
										</table>
									</td>
								</tr>

								<input type='hidden' name='MAX_FILE_SIZE' value='50000'>
								<tr>
									<td align=right class=textbold nowrap=1>&nbsp;Picture/file:&nbsp;</td>
									<td>
										<input id='file_input' type='file' name='file' size=20> (50 kB max)
									</td>
									<td></td>
								</tr>

								</table>
							</td>
						</tr>
						</table>
					</td>
				</tr>
				</form>
				</table>
			</core:LITERAL>
			</chat:LOGGED_IN>
			<!-- chat message ends-->
			</td>
	 </tr>
	</table>
</td>
<td valign=top>
			<chat:LOGGED_IN>
				<table cellpadding=1 cellspacing=1 border=1 width=100%>
				<tr>
					<td>
					You are: <chat:USER_ATTRIBUTE name='nickname'>
					<span style="border: 1px solid #000000; font-family:Verdana; font-size:10px;text-decoration: none;background-color: <chat:USER_ATTRIBUTE name='color'>;">&nbsp;&nbsp;&nbsp;</span>
					<br>
					Sex:  <chat:USER_ATTRIBUTE name='status'>
					<br>
					<a href='/root/chat?action=user_settings&popup=1' onclick='popup(this.href); return false;' ><locale:STRING name='change_settings' file='chat'></a>
					</td>
					<core:LITERAL>
					<td align=right valign=bottom width=1%>
						<input class=button type=button value='Exit' onclick='start_action("exit")'>
					</td>
					</core:LITERAL>
				</tr>
				</table>
				<fetch:SUB_BRANCH target='chat_rooms'>
					<core:PARAMETER name='loader_class_name' value='chat_room'>
					<core:PARAMETER name='data_source_path' value='fetch_sub_branch_data_source'>
					<core:PARAMETER name='path' value='/root/chat'>
				</fetch:SUB_BRANCH>
				<list:LIST id='chat_rooms'>
				<core:LITERAL>
				<form>
				<select id="chat_room_selector" size=1>
				</core:LITERAL>
				<option value=none><locale:STRING name='select_chat_room' file='chat'>
				<option value=none>--------------------
				<list:ITEM>
				<option value="{$path}">{$title}
				</list:ITEM>
				</list:LIST>
				<core:LITERAL>
				</select>
				<input type="button" value="Go" onclick="jump_to_chat_room()">
				</form>
				</core:LITERAL>

			<script language="JavaScript" type="text/javascript">
			function jump_to_chat_room()
			{
				chat_room_selector = document.getElementById('chat_room_selector');
				if (chat_room_selector.options[chat_room_selector.selectedIndex].value != "none")
				{
						location = chat_room_selector.options[chat_room_selector.selectedIndex].value
				}
			}
			</script>
			</chat:LOGGED_IN>
</td>
</tr>
</table>
<iframe name='send_message_frame' src='/shared/blank.html' width='0' height='0'></iframe>
<iframe name='get_messages_frame' src='/shared/blank.html' width='0' height='0'></iframe>
<iframe name='get_users_frame' src='/shared/blank.html' width='0' height='0'></iframe>
<iframe name='toggle_ignore_user_frame' src='/shared/blank.html' width='0' height='0'></iframe>
<iframe name='exit_frame' src='/shared/blank.html' width='0' height='0'></iframe>
<iframe name='set_properties' src='/shared/blank.html' width='0' height='0'></iframe>
<div id='popup_div'></div>
</body>
</html>
