    <script>
    arr_actions['{$controller_id}'] = {
        'change_controller':{'href':'/root/admin/site_structure?action=change_controller&id={$node_id}&popup=1', 'img': '<action:ICON identifier="configure">', 'name': '<locale:STRING name="change_controller" file="site_structure">'},
        'group_access':{'href':'/root/admin/controllers?popup=1&action=set_group_access&controller_id={$controller_id}', 'img': '<action:ICON identifier="access_manage">', 'name': 'Set group access'},
        'group_access_template':{'href':'/root/admin/controllers?popup=1&action=set_group_access_template&controller_id={$controller_id}', 'img': '<action:ICON identifier="access_template_manage">', 'name': 'Set group access template'},
    }
    </script>
    <span id="{$controller_id}" behavior="CDDAction" ddalign="hbr"><img src='/shared/images/marker/action_minus.gif'></span>
