<core:WRAP file="/admin/popup.html" placeholder="content">
<h2><locale:STRING name='informer_editing' file='informer'></h2>

<form method="post" name="informer_form" id="informer_form">
  <table width="100%" border="0" cellspacing="0" cellpadding="3">
    <core:INCLUDE file="/informer_object/form_fields.html">
    <tr>
      <td colspan=2 align=center height=30><action_button action="edit" name="update" type="submit" id="update" locale_value="update"  reload_parent="true" class="button">
      &nbsp;
      <input name="cancel" type="button" id="cancel" locale_value="close" onclick='window.close();' class="button">
      </td>
    </tr>
  </table>
</form>