    <tr>
      <td><label for="title"><span class=req>*</span><locale:STRING name='title' ></label></td>
      <td><input type="text" name="title" id="title" label="Title"  class="input">
      </td>
    </tr>
    <tr>
      <td><label for="author"><locale:STRING name='author' file='subscribe'></label></td>
      <td><input type="text" name="author" id="author" label="author"  class="input">
      </td>
    </tr>
    <tr>
      <td><label for="subscribe_mail_content"><span class=req>*</span><locale:STRING name='content'></label></td>
      <td><richedit name="subscribe_mail_content" id="subscribe_mail_content" label="Content" rows="25" cols="80"></richedit>
      </td>
    </tr>