<html>
<body>
<h1><locale:STRING name='order_title' file='cart'> {$date}</h1>
<table border=0>
<tr>
	<td><locale:STRING name='name' file='enterprise_member'>:</td>
	<td>{$name} {$secondname} {$lastname}</td>
</tr>
<tr>
	<td>E-mail: </td>
	<td>{$email}</td>
</tr>
<tr>
	<td><locale:STRING name='phone' file='enterprise_member'>:</td>
	<td>{$phone}</td>
</tr>
<tr>
	<td><locale:STRING name='address' file='enterprise_member'>:</td>
	<td>{$address}</td>
</tr>
</table>

<locale:STRING name='order_contents' file='cart'>
<grid:LIST id='cart_items'>
<table border=0>
<tr>
<th><locale:STRING name='order_item' file='cart'></th>
<th><locale:STRING name='price' file='cart'></th>
<th><locale:STRING name='count' file='cart'></th>
<th><locale:STRING name='summ' file='cart'></th>
<th><locale:STRING name='notes' file='cart'></th>
</tr>
<grid:ITERATOR>
<tr>
<td>{$description}</td>
<td>{$price}</td>
<td>{$amount}</td>
<td>{$summ}</td>
<td>{$note}</td>
</tr>
</grid:ITERATOR>
</table>
</grid:LIST>
</body>
</html>