<grid:LIST id='users'>
<admin:list:header>
  <admin:list:title>
    <locale:STRING name='users_list' file='user'>
  </admin:list:title>
</admin:list:header>

<table  cellpadding='0' cellspacing='0' class='content'>
  <tr>
    <th><grid:SELECTORS_TOGGLER></th>
    <th><locale:STRING name='login' file='user'></th>
    <th><locale:STRING name='email'></th>
    <th><locale:STRING name='name' file='user'></th>
    <th><locale:STRING name='lastname' file='user'></th>
    <th><locale:STRING name='actions'></th>
  </tr>
  <grid:ITERATOR>
  <grid:SEPARATOR><tr><td class="col6" colspan="6" height="1"></td></tr></grid:SEPARATOR>
  <grid:STRIPE odd><tr class="odd_row"></grid:STRIPE>
  <grid:STRIPE even><tr class="even_row"></grid:STRIPE>

   <td><span behavior='CRow' target='-2'><core:INCLUDE file="/admin/grid_items/selector.html"></td>
    <td>
    <core:INCLUDE file="/admin/grid_items/list_item_hint.html">
    {$identifier}
    </td>
    <td><a href='mailto:{$email}'>{$email}</a></td>
    <td>{$name}</td>
    <td>{$lastname}</td>
    <td><core:INCLUDE file="jip_actions/dropdown.html"></td>
  </tr>
  </grid:ITERATOR>
</table>

<admin:list:footer>
<table  border="0" cellpadding="0" cellspacing="5" class="col5" width="100%">
<tr>
  <td>
  <admin:list:actions>
    <admin:list:action shortcut='delete' locale_value='delete' form_submitted='0'>
  </admin:list:actions>
  </td>
</tr>
</table>
</admin:list:footer>

</grid:LIST>