<form method="post" name="feedback_form" id="feedback_form">
<core:INCLUDE file="form_errors.html">
  <table width="100%" border="0" cellspacing="2" cellpadding="3">
    <input type="hidden" name="identifier" id="identifier">
    <tr>
      <td><label for="subject"><span class=req>*</span><locale:STRING name="subject" ></label></td>
      <td><input type="text" name="subject" id="subject" label="Subject" class="input">
      </td>
    </tr>
    <tr>
      <td><label for="sender_name"><span class=req>*</span><locale:STRING name="sender_name" file="feedback"></label></td>
      <td><input type="text" name="sender_name" id="sender_name" label="Sender name" class="input">
      </td>
    </tr>
    <tr>
      <td><label for="sender_email"><span class=req>*</span><locale:STRING name="email" ></label></td>
      <td><input type="text" name="sender_email" id="sender_email" label="Sender email" class="input">
      </td>
    </tr>
    <tr>
      <td><label for="body"><span class=req>*</span> <locale:STRING name="body" file="feedback"></label></td>
      <td><textarea name="body" id="body" label="Body" rows="15" cols="60" class="textarea"></textarea>
      </td>
    </tr>	
    <tr>
      <td>&nbsp;</td>
      <td><action_button action="display" name="create" type="submit" id="create" value="Отослать" class='button'>
      </td>
    </tr>
  </table>
</form>