<core:INCLUDE file='/admin/admin_form_items/errors.html'>
<tr>
  <td><span class=req>*</span><label for="title"><locale:STRING name='poll_question' file='poll'></label></td>
  <td><input type="text" name="title" id="title" size="40" class='input'>
  </td>
</tr>
<tr>
  <td><span class=req>*</span><label for="start_date"><locale:STRING name='start_show_date'></label></td>
  <td><date name="start_date" type="text" id="start_date" class='input'>
  </td>
</tr>
<tr>
  <td><span class=req>*</span><label for="finish_date"><locale:STRING name='finish_show_date'></label></td>
  <td><date name="finish_date" type="text" id="finish_date" class='input'>
  </td>
</tr>
<tr>
  <td><label for="restriction_1"><locale:STRING name='not_restricted' file="poll"></label></td>
  <td><input name="restriction" type="radio" id="restriction_1" value="1">
  </td>
</tr>
<tr>
  <td><label for="restriction_2"><locale:STRING name='cookie_based_restriction' file='poll'></label></td>
  <td><input name="restriction" type="radio" id="restriction_2" value="2">
  </td>
</tr>
<tr>
  <td><label for="restriction_3"><locale:STRING name='ip_based_restriction' file='poll'></label></td>
  <td><input name="restriction" type="radio" id="restriction_3" value="3">
  </td>
</tr>
<core:INCLUDE file='/admin/admin_form_items/req_info.html'>