<core:WRAP file="popup.html" placeholder="content">
<h2><locale:STRING name='set_group_access'> </h2>

<DATASOURCE target='controller'>
		<core:PARAMETER name='datasource_path' value='controller_datasource' >
</DATASOURCE>
<grid:LIST id='controller'>
<grid:ITERATOR>
<h2>{$class_name}</h2>
</grid:ITERATOR>
</grid:LIST>
<br>


<form method="post" name="set_group_access" id="set_group_access">
<request_state name="controller_id" id="controller_id">

<table width="100%" border="0" cellspacing="0" cellpadding="5">
<tr>
<th>
<locale:STRING name='actions'>
</th>
<fetch:SUB_BRANCH target='groups' >
	<core:PARAMETER name='loader_class_name' value='user_group' >
	<core:PARAMETER name='path' value='/root' >
	<core:PARAMETER name='depth' value='-1' type='numeric' >
</fetch:SUB_BRANCH>


<grid:LIST id="groups">
	<grid:ITERATOR>
	<th>
	{$identifier}
	</th>
	</grid:ITERATOR>
</grid:LIST>
</tr>

<DATASOURCE target='controllers'>
		<core:PARAMETER name='datasource_path' value='controller_group_action_access_datasource' >
</DATASOURCE>

<grid:LIST id='controllers'>
<grid:ITERATOR>
<tr>
<td><small>{$action_name}({$permissions_required})</small></td>
<core:DATA_TRANSFER hash_id='groups' target='checkers'>
	<grid:LIST id='checkers'>
		<grid:ITERATOR>
		<td align="center"><selector class="checkbox"></td>
		</grid:ITERATOR>
	</grid:LIST>
</grid:ITERATOR>
</grid:LIST>
</tr>
<tr>
	<td colspan=100 align=center>
		<action_button action="set_group_access" name="update" id="update" locale_value="update" class="button">
		&nbsp;
		<input name="cancel" type="button" id="cancel" locale_value="close" onclick='window.close();' class="button">
	</td>
</tr>
</table>
</form>