<html>
<head>
  <title><metadata:TITLE separator=' :: ' /></title>
  <metadata:CHARSET>

  <link rel="stylesheet" href="/shared/styles/admin.css" type="text/css">
  <script language="javascript" src="/shared/js/common.js"></script>
  <script language="javascript" src="/design/main/js/form_errors.js"></script>

  <metadata:METADATA>
    <meta name="description" content="{$description}">
    <meta name="keywords" content="{$keywords}">
  </metadata:METADATA>
</head>
<body>
        <!--BEGIN: page-->
        <core:PLACEHOLDER id="content">
</body>
</html>
