<core:WRAP file="popup.html" placeholder="content">

<h2><locale:STRING name='edit_files_folder' file='file'></h2>
<form method="post" name="edit_files_folder" id="edit_files_folder">
  <table width="100%" border="0" cellspacing="2" cellpadding="3">
		<core:INCLUDE file='/admin/admin_form_items/folder_form_fields.html'>
    <tr>
      <td colspan=2 align=center><action_button action="edit_files_folder" name="update" type="submit" id="update" locale_value="update"  reload_parent="true" class="button">
      &nbsp;
      <input name="cancel" type="button" id="cancel" locale_value="close" onclick='window.close();' class="button">

      </td>
    </tr>
  </table>
</form>