<core:WRAP file="admin/site_management_page.html" placeholder="content">

<fetch:SUB_BRANCH target='user_groups' >
  <core:PARAMETER name='loader_class_name' value='user_group'>
  <core:PARAMETER name='order' value='priority=ASC'>
</fetch:SUB_BRANCH>

<grid:LIST id='user_groups'>
<admin:list:header>
  <admin:list:title>
    <locale:STRING name='user_groups_list' file='user_group'>
  </admin:list:title>
</admin:list:header>
<table  cellpadding='0' cellspacing='0' class='content'>
<core:INCLUDE file='/admin/grid_items/grid_body_final_level_no_publish.html'>
</table>
<admin:list:footer>
  <core:INCLUDE file='/admin/grid_items/grid_footer_no_move.html'>
</admin:list:footer>
</grid:LIST>
