<core:WRAP file="popup.html" placeholder="content">

<h2><locale:STRING name='articles_folder_editing' file='article'></h2>

<form method="post" name="articles_folder" id="articles_folder">
	<core:INCLUDE file="form_errors.html">
  <table width="100%" border="0" cellspacing="2" cellpadding="3">
		<core:INCLUDE file='/admin/admin_form_items/folder_form_fields.html'>
    <tr>
      <td>&nbsp;</td>
      <td><action_button action="edit" name="update" type="submit" id="update" locale_value="update"  reload_parent="true" class="button">
      &nbsp;
      <input name="cancel" type="button" id="cancel" locale_value="close" onclick='window.close();' class="button">

      </td>
    </tr>
  </table>
</form>