<core:WRAP file="/admin/site_management_page.html" placeholder="content">

<form name='cache_manager' id='cache_manager' method='post'>

  <control_button action='flush_full_page_cache&popup=1' class='button'  reload_parent='1'>
  <locale:STRING name='flush_full_page_cache' file='cache_manager'>
  </control_button>&nbsp;&nbsp;{#full_page_cache_size}
  
  <br><br>
  
  <control_button action='flush_partial_page_cache&popup=1' class='button' reload_parent='1'>
  <locale:STRING name='flush_partial_page_cache' file='cache_manager'>
  </control_button>&nbsp;&nbsp;{#partial_page_cache_size}
  
  <br><br>

  <control_button action='flush_image_cache&popup=1' class='button' reload_parent='1'>
  <locale:STRING name='flush_image_cache' file='cache_manager'>
  </control_button>&nbsp;&nbsp;{#image_cache_size}
  
  <br><br>
  
  <control_button action='flush_ini_cache&popup=1' class='button' reload_parent='1'>
  <locale:STRING name='flush_ini_cache' file='cache_manager'>
  </control_button>&nbsp;&nbsp;{#ini_cache_size}
  
  <br><br>
  
  <control_button action='flush_template_cache&popup=1' class='button' reload_parent='1'>
  <locale:STRING name='flush_template_cache' file='cache_manager'>
  </control_button>&nbsp;&nbsp;{#template_cache_size}
  
  <br><br>

</form>