
<head>
<title></title>
<meta http-equiv='Content-Type' content='text/html; charset=windows-1251'>

<metadata:METADATA>
  <meta name="description" content="{$description}">
  <meta name="keywords" content="{$keywords}">
</metadata:METADATA>

<link rel='stylesheet' type="text/css" href="/shared/styles/common.css">
<link rel='stylesheet' type="text/css" href="/shared/styles/page.css">
<link rel='stylesheet' type="text/css" href="/shared/styles/dd.css">

<script language="javascript" src="/shared/js/common.js"></script>
<script language="javascript" src="/shared/js/cookie.js"></script>
<script language="javascript" src="/shared/js/iframe.js"></script>

<script language="javascript" src="/shared/js/htc.js"></script>
<script language="javascript" src="/shared/js/htc.limb_cp.js"></script>
<script language="javascript" src="/shared/styles/class.actions.js"></script>

</head>
