<!--BEGIN: body-->
    <div class="tabulator-header">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td valign="bottom" width="100%" id="lo-place-top"><div>
          <core:INCLUDE file="/admin/include/tabulator.html">
          </div>
          <!--BEGIN:[ breadcrumbs ]-->
          <table border="0" class="path" cellpadding="0" cellspacing="0" width="100%">
          <tr>
            <td style='padding:0 0 0 10px' >
            <core:INCLUDE file="/admin/include/layout_manager.html">
            </td>
            <td style='padding:0 0 0 10px' >
              <core:INCLUDE file="/admin/include/breadcrumbs.html">
            </td>
            <td width="100%" >
            </td>
            <td>
              <core:INCLUDE file="/admin/include/user_services.html">
            </td>
          </tr>
          </table>
          <!--END:[ breadcrumbs ]-->
        </td>
      </tr>
    </table>
    </div>
    <div class="tabulator-body">
