        <span behavior='CDDLayout' ddalign="vtr" class="CDDLayout">
          <img alt="layout" title="Change layout" src="/shared/images/icon/common/16/layout.gif">
          <span id="content" style="display: none;">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="layout">
            <tr>
              <td height="12" class="lo-top">&nbsp;</td>
            </tr>
            <tr>
              <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td class="lo-left"><img src="/shared/images/1x1.gif" height="55" width="14"></td>
                  <td class="lo-center" width="100%"><img src="/shared/images/icon/common/24/panel.gif"></td>
                  <td class="lo-right"><img src="/shared/images/1x1.gif" height="55" width="14"></td>
                </tr>
                </table>
              </td>
            </tr>
            </table>
          </span>
        </span>

