<!--BEGIN:[ title ]-->
<fetch:MAPPED>
<table border="0" cellpadding="2" cellspacing="0" class="head" width="100%">
<tr>
  <td>
    <limb:CONTEXT_ICON variation='64'>
  </td>
  <td>
      <h1 class="title">{$title}</h1>
      <span class="description">Distribution of substantively modified versions of this document is prohibited without the explicit permission of the copyright holder.</span>
  </td>
</tr>
</table>

<!--END:[ title ]-->

<core:INCLUDE file="/admin/jip/common.html">

</fetch:MAPPED>
