          <!--BEGIN:[ tabulator ]-->
          <fetch:SUB_BRANCH target="tabs_header" >
            <core:PARAMETER name='loader_class_name' value='navigation_item' >
            <core:PARAMETER name='path' value='/root/admin/navigation' >
            <core:PARAMETER name='order' value='priority=ASC'>
            <core:PARAMETER name='depth' value='1'>
          </fetch:SUB_BRANCH>

            <table class="tabulator" border="0" cellpadding="0" cellspacing="0" width="100%" background="/shared/images/main/bgr/1.gif">
              <tr>
                <td class="tab-empty" style="padding: 6px 0 4px 0">
                  <div style="width:180px" align="center"><img alt="LIMB CMS" title="LIMB CMS" src="/shared/images/logo.limb-cp.gif"></div>
                </td>
                <grid:LIST id='tabs_header'>
                  <grid:ITERATOR>
                    <grid:SEPARATOR><td class="tab-space"><img src="/shared/images/1x1.gif"></td></grid:SEPARATOR>
                    <td class="tab" id="tab_{$identifier}">
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td class="label" id='tab-label'><nobr><a href="{$url}" onclick='return false;'>{$title}</a></nobr></td>
                        <td class="corner"><img src="/shared/images/1x1.gif"><div id="tab_{$identifier}_content"></div></td>
                      </tr>
                      </table>
                    </td>
                  <script>
                      tab_data = {'id': 'tab_{$identifier}', 'activate_handler': activate_tab, 'src': '{$url}'}
                      tabs.register_tab_item(tab_data)
                  </script>

                  </grid:ITERATOR>
                </grid:LIST>
                <td width="100%"></td>
              </tr>
            </table>
            <!--END:[ tabulator ]-->
            <script>highlight_tab(tabs, 'tab_' + page_tab_id);//tabs.activate_default()</script>
