<table width="100%" border="0" cellspacing="0" cellpadding="0" class="user-menu">
<tr>
  <td class="item"><nobr><USER:ATTRIBUTE name='name' > <USER:ATTRIBUTE name='lastname' > [<USER:ATTRIBUTE name='login' >]</nobr></td>
  <td class="sep">|</td>
  <td>
    <span behavior="CDDMenu" ddalign="vbl" class="CDDMenu"><img src="/shared/images/marker/arr.gif">
      <span id="content" style="display: none;">
        <div class="dd-tab-container">
          <table border="0" cellpadding="0" cellspacing="0">
            <tr><td class="top-line"></td></tr>
            <tr>
              <td><span behavior="CRow" target="-2"></span><img src="/shared/images/icon/common/12/profile.gif"></td>
              <td nowrap="nowrap"><a href="">My profile</a></td>
            </tr>
            <tr>
              <td><span behavior="CRow" target="-2"></span><img src="/shared/images/icon/common/12/password.gif"></td>
              <td nowrap="nowrap"><a href="">Change password</a></td>
            </tr>
            <tr>
              <td><span behavior="CRow" target="-2"></span></td>
              <td nowrap="nowrap">
                <form method="post" name="change_locale_form" id="change_locale_form1" action="/root/login?action=change_user_locale&popup=1" onsubmit="return submit_form(this, this.action);">
                <select id='locale_id' name='locale_id' class='input' options_datasource='available_locales_datasource' class='input'></select>
                <input type='submit' class='button' locale_value='change_locale' locale_file='user'>
                </form>
              </td>
            </tr>
          </table>
        </div>
      </span>
    </span>
  </td>
  <td class="sep">|</td>
  <td class="item">
    <a href='/root/login?action=logout'><locale:STRING name='logout' file='login'></a>
  </td>
</tr>
</table>
