<fetch:SUB_BRANCH target='last_news'>
	<core:PARAMETER name='loader_class_name' value='period_news_object'>
	<core:PARAMETER name='data_source_path' value='fetch_data_source'>
	<core:PARAMETER name='fetch_method' value='fetch_valid_period'>
	<core:PARAMETER name='limit' value='10'>
	<core:PARAMETER name='order' value='start_date=DESC' >
</fetch:SUB_BRANCH>

<table width="100%" border=0 cellspacing="7" cellpadding="0" >
  <tr> 
    <td>
    	<img src="/design/main/images/news-blosk.gif" width="222" height="40"></td>
  </tr>
  <tr> 
    <td>
			<table width="100%" border=0 cellspacing="7" cellpadding="0" class="table">
			<col class="date">
				<list:LIST id='last_news'>
			  <list:ITEM>
			  <tr>
					<td><locale:DATE_FORMAT hash_id='news_date' locale_format='short_date'></td>
					<td width=100%>
						<a href="{$path}" class="link">{$title}</a></td>
			  </tr>
			  </list:ITEM>
			</list:LIST>
			</table>
	</td>
  </tr>
</table>