<core:WRAP file="popup.html" placeholder="content">

<h2><locale:STRING name='set_group_access_template'> </h2>

<DATA_SOURCE target='class'>
		<core:PARAMETER name='data_source_path' value='class_data_source' >
</DATA_SOURCE>


<list:LIST id='class'>
<list:ITEM>
<h2>{$class_name}</h2>
</list:ITEM>
</list:LIST>
<br>

<form method="post" name="set_group_access_template" id="set_group_access_template">
<request_state name="class_id" id="class_id">


<DATA_SOURCE target='actions'>
		<core:PARAMETER name='data_source_path' value='class_template_actions_list_data_source' >
</DATA_SOURCE>

<table width="100%" border="0" cellspacing="0" cellpadding="5">

<tr><td>&nbsp;</td>
<list:LIST id='actions'>
<list:ITEM>
<td align="center">{$action_name}<br>r & w</td>
</list:ITEM>
</list:LIST>
</tr>

<DATA_SOURCE target='classes'>
		<core:PARAMETER name='data_source_path' value='class_group_access_template_data_source' >
</DATA_SOURCE>

<grid:LIST id='classes'>
<tr>
<td>{$group_name}</td>
<core:DATASET hash_id='actions' child_id='checkers'>
	<list:LIST id='checkers'>
		<list:ITEM>
			<td align="center">
			<selector class="checkbox" selector_name='read_selector_name'>&nbsp;&nbsp;<selector class="checkbox" selector_name='write_selector_name'>
			</td>
		</list:ITEM>
	</list:LIST>
</core:DATASET>
</tr>
</grid:LIST>
<tr>
	<td colspan=100 align=center>
		<action_button action="set_group_access_template" name="update" id="update" value="Update" class="button">
		&nbsp;
		<input name="cancel" type="button" id="cancel" value="Cancel" onclick='window.close();' class="button">
	</td>
</tr>

</table>
</form>