<core:INCLUDE file='/admin/admin_form_items/errors.html'>
<core:INCLUDE file='/admin/admin_form_items/title.html'>
<core:INCLUDE file='/admin/admin_form_items/req_annotation.html'>
<tr>
  <td><label for="start_date"><span class='req'>*</span><locale:STRING name='start_show_date'></label></td>
  <td><date name="start_date" type="text" id="start_date" class='input' function='fStartPop(document["announce_form"]["start_date"],document["announce_form"]["finish_date"])'>
  </td>
</tr>
<tr>
  <td><label for="finish_date"><span class='req'>*</span><locale:STRING name='finish_show_date'></label></td>
  <td><date name="finish_date" type="text" id="finish_date" class='input' function='fEndPop(document["announce_form"]["start_date"],document["announce_form"]["finish_date"])'>
  </td>
</tr>
<core:INCLUDE file='/admin/admin_form_items/image_select.html'>
<tr>
  <td><label for="url"><locale:STRING name='url' file='announce'></label></td>
  <td><input type="text" name="url" id="url" class='input' size='60'>
  </td>
</tr>
<core:INCLUDE file='/admin/admin_form_items/req_info.html'>