<core:WRAP file="/admin/content_management_page.html" placeholder="content">

<core:INCLUDE file="/admin/include/page_data.html">

<fetch:MAPPED>
  {$content}
</fetch:MAPPED>

<fetch:SUB_BRANCH target='messages' pager='pager'>
  <core:PARAMETER name='loader_class_name' value='message' >
  <core:PARAMETER name='order' value='priority=ASC'>
</fetch:SUB_BRANCH>

<core:INCLUDE file="/admin/pager.html">

<grid:LIST id='messages'>
<admin:list>
  <admin:list:title><locale:STRING name='messages_list' file='message'></admin:list:title>

  <admin:list:header>
    <admin:list:head><grid:SELECTORS_TOGGLER></admin:list:head>
    <admin:list:head><locale:STRING name='items_order'></admin:list:head>
    <admin:list:head width='100%'><locale:STRING name='title'></admin:list:head>
    <admin:list:head><locale:STRING name='actions'></admin:list:head>
  </admin:list:header>

  <grid:ITERATOR>
  <admin:list:item>
    <admin:list:cell><core:INCLUDE file="/admin/grid_items/selector.html"></admin:list:cell>
    <admin:list:cell><core:INCLUDE file='/admin/grid_items/priority_input.html'></admin:list:cell>
    <admin:list:cell>{$title}</admin:list:cell>
    <admin:list:cell>
      <core:INCLUDE file="/jip_actions/dropdown.html">
    </admin:list:cell>
  </admin:list:item>
  </grid:ITERATOR>

  <admin:list:footer>
    <admin:list:actions buttons='2'>
      <admin:list:action shortcut='delete' locale_value='delete' form_submitted='0'>
      <admin:list:action shortcut='move' locale_value='move' form_submitted='0'>
      <admin:list:action shortcut='save_priority'  locale_value='change_order' form_submitted='1'>
      <admin:list:action shortcut='toggle_published_status' locale_value='toggle_published_status' form_submitted='1'>
    </admin:list:actions>
  </admin:list:footer>
</admin:list>

  <!--END:[ DATA TABLE ]-->
</grid:LIST>
