<list:LIST id='faq_folder'>
<table width=100% border=0 cellspacing=0 cellpadding=0 class=com1>
<tr class=com4>
	<td class=btitle2><img src='/design/main/images/titles/sections.gif'></td>
</tr>
<list:ITEM>
	<tr>
		<td align=center class=com5>
			<table width=100% border=0 cellspacing=0 cellpadding=0 style='padding:5px 5px 5px 5px'>
			<col valign=top style='padding:5px 5px 5px 5px'>
			<tr>
				<td width=1><a href='{$path}'><img src='/design/main/images/icons/f.gif' alt='{$title}'></a></td>
				<td><a href='{$path}'>{$title}</a></td>
			</tr>
			</table>
			<core:INCLUDE file="/jip_actions/simple.html">
		</td>
	</tr>
</list:ITEM>
</table>
	</list:LIST>
