<core:WRAP file="admin/content_management_page.html" placeholder="content">
<span class=jip>
<fetch:MAPPED>
<core:INCLUDE file="jip_actions/extended.html">
</fetch:MAPPED>
</span>

<fetch:SUB_BRANCH target='informers' navigator="pager" >
	<core:PARAMETER name='loader_class_name' value='informer_object'>
	<core:PARAMETER name='order' value='priority=ASC'>
</fetch:SUB_BRANCH>

<core:INCLUDE file="pager.html">

<grid:LIST id='informers'>
<table width=100%>
<tr>
	<th><grid:SELECTORS_TOGGLER></th>
	<th><locale:STRING name='published_status' ></th>
	<th><locale:STRING name='title'></th>
	<th><locale:STRING name='modified_date'></th>
	<th><locale:STRING name='items_order'></th>
	<th><locale:STRING name='actions'></th>
</tr>
<grid:ITERATOR>
<tr class="jip">
<td><core:INCLUDE file="/admin/selector.html"></td>
<td><core:INCLUDE file="published_status.html"></td>
<td jip='object'>{$title}</td>
<td><locale:DATE_FORMAT hash_id='modified_date' type='stamp' locale_format='short_date_time'></td>
<td><core:INCLUDE file='/admin/priority_input.html'></td>
<td jip='action'><core:INCLUDE file="jip_actions/normal.html"></td>
</tr>
</grid:ITERATOR>
<tr>
	<td colspan='3' align='left'><core:INCLUDE file='/admin/delete_button.html'></td>
	<td colspan='2' align='right'><core:INCLUDE file='/admin/priority_button.html'></td>
	<td><core:INCLUDE file='/admin/toggle_publish_status_button.html'></td>
</tr>

</table>
</grid:LIST>