<grid:LIST id='admin_flat_menu'>
<table width='100%' border=0 cellspacing=5 cellpadding=2>
<tr>
<grid:ITERATOR>
  <grid:SEPARATOR count='3'></tr><tr></grid:SEPARATOR>
  <td>
    <td align='center' width='33%'>
      <a href='{$url}' <core:OPTIONAL for="new_window">target="_blank"</core:OPTIONAL>><img src='{$image_path}{$image_name}.32.gif' alt='{$title}' title='{$title}' border='0'></a>
      <br><a href='{$url}' <core:OPTIONAL for="new_window">target="_blank"</core:OPTIONAL>>{$title}</a></td>
  </td>
</grid:ITERATOR>
</tr>
</table>
</grid:LIST>