<core:WRAP file="admin/site_management_page.html" placeholder="content">

<admin:list:header>
  <admin:list:title>
    <locale:STRING name='controller_class_name'>
  </admin:list:title>
</admin:list:header>


<table cellpadding="0" cellspacing="0" class="content">
<tr>
  <th><locale:STRING name='controller_class_name'></th>
  <th colspan='2'><locale:STRING name='actions'></th>
</tr>
<DATASOURCE target='controllers'>
  <core:PARAMETER name='datasource_path' value='controller_list_datasource'>
</DATASOURCE>

<grid:LIST id='controllers'>
<grid:ITERATOR>
  <grid:SEPARATOR><tr><td class="col6" colspan="6" height="1"></td></tr></grid:SEPARATOR>
  <grid:STRIPE odd><tr class="odd_row"></grid:STRIPE>
  <grid:STRIPE even><tr class="even_row"></grid:STRIPE>
  <td><span behavior='CRow' target='-2'><small>{$name}</small></td>
  <td>
  <!--
    <a href='{^path}?popup=1&action=set_group_access&controller_id={$id}' onclick="return click_href(this.href);"><img alt="" src="/shared/images/access_manage.gif">Set group access</a>
    <a href='{^path}?popup=1&action=set_group_access_template&controller_id={$id}' onclick="return click_href(this.href);"><img alt="" src="/shared/images/access_template_manage.gif">Set group access template</a>
   -->
  <script type="text/javascript" language="javascript">
  arr_actions['controllers_{$id}'] = {
      'group_access':{'href':'{^path}?popup=1&action=set_group_access&controller_id={$id}', 'img': '<action:ICON identifier="access_manage">', 'name': 'Set group access'},
      'group_access_template':{'href':'{^path}?popup=1&action=set_group_access_template&controller_id={$id}', 'img': '<action:ICON identifier="access_template_manage">', 'name': 'Set group access template'},
  }
  </script>
  <span id="controllers_{$id}" behavior="CDDAction" ddalign="hbr"><img src='/shared/images/marker/action_minus.gif'></span>
  </td>
</tr>
</grid:ITERATOR>
</grid:LIST>
</table>
<admin:list:footer>
</admin:list:footer>

