<core:WRAP file="/admin/popup.html" placeholder="content">

<DATASOURCE target='controller'>
    <core:PARAMETER name='datasource_path' value='controller_datasource' >
</DATASOURCE>
<admin:list:header>
  <admin:list:title>
    <core:DATASPACE id='controller'>
    {$name} - <locale:STRING name='set_group_access_template'>
    </core:DATASPACE>
  </admin:list:title>
</admin:list:header>


<form method="post" name="set_group_access_template" id="set_group_access_template">
<request_state name="controller_id" id="controller_id">
<table  cellpadding='0' cellspacing='0' class='content'>
<core:INCLUDE file='/controller_folder/group_access_templates.html'>
<tr>
  <td colspan=100 align=center>
    <action_button action="set_group_access_template" name="update" id="update" locale_value="update" class="button">
    &nbsp;
    <input name="cancel" type="button" id="cancel" locale_value="close" onclick='window.close();' class="button">
  </td>
</tr>
</table>
</form>
<admin:list:footer>
</admin:list:footer>
