<core:WRAP file="admin/admin_display_page.html" placeholder="content">
<fetch:MAPPED>
<span class=jip>
<core:INCLUDE file="jip_actions/extended.html">
</span>
</fetch:MAPPED>
<br>

<fetch:SUB_BRANCH target='answers'>
	<core:PARAMETER name='loader_class_name' value='poll_answer'>
</fetch:SUB_BRANCH>


<list:LIST id='answers'>
<table width=100%>
<tr>
	<th><locale:STRING name='poll_answers_list' file='poll'></th>
	<th><locale:STRING name='created_date'></th>
	<th><locale:STRING name='modified_date'></th>
	<th><locale:STRING name='actions'></th>
</tr>

<list:ITEM>
	<tr class="jip">
		<td jip='object'>{$title}</td>
		<td align="center"><locale:DATE_FORMAT hash_id='created_date' type='stamp' locale_format='short_date_time'></td>
		<td align="center"><locale:DATE_FORMAT hash_id='modified_date' type='stamp' locale_format='short_date_time'></td>
		<td align="center" jip='action'><core:INCLUDE file="jip_actions/normal.html"></td>
	</tr>
</list:ITEM>
</table>
</list:LIST>
