<core:WRAP file="admin/admin_display_page.html" placeholder="content">
<span class=jip>
<fetch:MAPPED>
<core:INCLUDE file="jip_actions/extended.html">
</fetch:MAPPED>
</span>

<fetch:SUB_BRANCH target='announcements' navigator="pager" >
	<core:PARAMETER name='loader_class_name' value='announce_object'>
</fetch:SUB_BRANCH>

<core:INCLUDE file="pager.html">

<table width=100%>
<tr>
	<th><locale:STRING name='announcement' file='announce'></th>
	<th><locale:STRING name='published_status' ></th>
	<th><locale:STRING name='publish_period'></th>
	<th><locale:STRING name='modified_date'></th>
	<th><locale:STRING name='actions'></th>
</tr>
<grid:LIST id='announcements'>
<grid:ITERATOR>
<tr class="jip">
<td jip='object'><a href="{$path}">{$title}</a></td>
<td align="center">
	<core:INCLUDE file="published_status.html">
</td>
<td align="center"><locale:DATE_FORMAT hash_id='start_date' locale_format='short_date'> - <locale:DATE_FORMAT hash_id='finish_date' locale_format='short_date'></td>
<td align="center"><locale:DATE_FORMAT hash_id='modified_date' type='stamp' locale_format='short_date_time'></td>
<td align="center" jip='action'><core:INCLUDE file="jip_actions/normal.html"></td>
</tr>
</grid:ITERATOR>
</grid:LIST>
</table>