<core:WRAP file="admin/admin_display_page.html" placeholder="content">

<span class=jip>
<fetch:MAPPED>
<core:INCLUDE file="jip_actions/extended.html">
</fetch:MAPPED>
</span>

<fetch:SUB_BRANCH target='folders'>
	<core:PARAMETER name='loader_class_name' value='catalog_folder'>
	<core:PARAMETER name='order' value='priority=ASC'>
</fetch:SUB_BRANCH>

<fetch:SUB_BRANCH target='catalog_objects'>
	<core:PARAMETER name='loader_class_name' value='catalog_object'>
	<core:PARAMETER name='order' value='priority=ASC'>
</fetch:SUB_BRANCH>

<grid:LIST id='folders'>
<table width=100%>
<tr>
	<th><grid:SELECTORS_TOGGLER></th>
	<th><locale:STRING name='published_status'></th>
	<th><locale:STRING name='catalog_folder' file='catalog'></th>
	<th><locale:STRING name='modified_date'></th>
	<th><locale:STRING name='items_order'></th>
	<th><locale:STRING name='actions'></th>
</tr>
<grid:ITERATOR>
<tr class="jip">
<td><core:INCLUDE file="/admin/selector.html"></td>
<td><core:INCLUDE file="published_status.html"></td>
<td jip='object'><a href='{$path}?action=admin_display'>{$title}({$children})</a></td>
<td><locale:DATE_FORMAT hash_id='modified_date' type='stamp' locale_format='short_date_time'></td>
<td><core:INCLUDE file='/admin/priority_input.html'></td>
<td jip='action'><core:INCLUDE file="jip_actions/normal.html"></td>
</tr>
</grid:ITERATOR>
<tr>
	<td colspan='4' align='left'><core:INCLUDE file='/admin/delete_button.html'></td>
	<td><core:INCLUDE file='/admin/priority_button.html'></td>
	<td><core:INCLUDE file='/admin/toggle_publish_status_button.html'></td>
</tr>
</table>
</grid:LIST>

<core:INCLUDE file="pager.html">

<grid:LIST id='catalog_objects'>
<table width=100%>
<tr>
	<th><grid:SELECTORS_TOGGLER></th>
	<th><locale:STRING name='published_status'></th>
	<th><locale:STRING name='catalog_object' file='catalog'></th>
	<th><locale:STRING name='modified_date'></th>
	<th><locale:STRING name='items_order'></th>
	<th><locale:STRING name='actions'></th>
</tr>
<grid:ITERATOR>
<tr class="jip">
<td><core:INCLUDE file="/admin/selector.html"></td>
<td><core:INCLUDE file="published_status.html"></td>
<td jip='object'><a href='{$path}?action=admin_display'>{$title}</a></td>
<td><locale:DATE_FORMAT hash_id='modified_date' type='stamp' locale_format='short_date_time'></td>
<td><core:INCLUDE file='/admin/priority_input.html'></td>
<td jip='action'><core:INCLUDE file="jip_actions/normal.html"></td>
</tr>
</grid:ITERATOR>
<tr>
	<td colspan='4' align='left'><core:INCLUDE file='/admin/delete_button.html'></td>
	<td><core:INCLUDE file='/admin/priority_button.html'></td>
	<td><core:INCLUDE file='/admin/toggle_publish_status_button.html'></td>
</tr>
</table>
</grid:LIST>