<!-- Powered by LIMB | http://www.limb-project.com/ -->
<!-- Designed by BIT | http://www.bit-creative.com/ -->

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><metadata:TITLE separator=' :: ' offset_path='/root'/> :: <core:SYS_PARAM name='site_title' type='char'></title>
  <meta content="text/html; charset=windows-1251" http-equiv="Content-Type">
  <link href="/shared/styles/admin.css" rel="stylesheet" type="text/css">

  <script type="text/javascript" language="javascript" src="/shared/js/common.js"></script>

  <script language="javascript" src="/shared/js/tabs.js"></script>
  <script language="javascript" src="/shared/js/hint.js"></script>

  <script type="text/javascript" language="javascript" src="/shared/js/htc.js"></script>
  <script type="text/javascript" language="javascript" src="/shared/js/htc.limb_cp.js"></script>
  <script type="text/javascript" language="javascript" src="/shared/styles/class.actions.js"></script>
 </head>
<script>
  var tabs = new tabs_container();

  function get_frame(tab_id)
  {
    var iframe_name = tabs.tab_items[tab_id].data.iframe_name;
    for(i=0; i<window.frames.length; i++)
      if (window.frames[i].name == iframe_name)
        return window.frames[i]
  }

  function activate_tab(tab)
  {
    var frm = get_frame(tab.id)
    if (frm.location.href == 'about:blank' || frm.location.href == '')
      if (last_tab_url = get_cookie(tab.id + '_last_url'))
        frm.location.href = last_tab_url;
      else
        frm.location.href = tab.data.src;
    refresh_url();
  }

  function go_home(tab_id)
  {
    var home_src = tabs.tab_items[tab_id].data.src;
    var frm = get_frame(tab_id)
    if (frm.location.href != home_src)
      frm.location.href = home_src;
  }

  function reload(tab_id)
  {
    get_frame(tab_id).location.reload();
  }

  function refresh_url()
  {
    var frm = get_frame(tabs.active_tab.id)
    if(location_bar = document.getElementById('active_iframe_url'))
     location_bar.value = frm.location;
  }

  function goto_address()
  {
    href = '';
    if(location_bar = document.getElementById('active_iframe_url'))
     href = location_bar.value;

    var frm = get_frame(tabs.active_tab.id)
    frm.location.href = href;
  }
</script>

<body>

  <fetch:SUB_BRANCH target="tabs_header, tabs_body" >
    <core:PARAMETER name='loader_class_name' value='navigation_item' >
    <core:PARAMETER name='path' value='/root/admin/navigation' >
    <core:PARAMETER name='order' value='priority=ASC'>
    <core:PARAMETER name='depth' value='1'>
  </fetch:SUB_BRANCH>

<table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%">
<tr>
  <td class="bgr" height="25" valign="bottom">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td style="padding:3px 12px 3Px 12px"><img alt="LIMB" src="/shared/images/logo.limb.1.gif"></td>
      <td valign="bottom" width="100%">
        <!--BEGIN:[ tabulator ]-->
        <table border="0" cellpadding="0" cellspacing="0" class="tabulator" width="100%">
        <tr>

          <grid:LIST id='tabs_header'>
            <grid:ITERATOR>
              <grid:SEPARATOR><td><img alt="" src="/shared/images/1x1.gif" class="sep"></td></grid:SEPARATOR>
              <td  valign="bottom">
                <table border="0" cellpadding="0" cellspacing="0" id="tab_{$identifier}">
                <tr>
                  <td class="label"><nobr>{$title}</nobr></td>
                  <td class="arr">
                  <span id='{$id}' behavior='CDDCommon'>
                  <img src='/shared/images/marker/1.gif'>
                    <span id='content'  style='display:none;'>
                    <table border="0" cellspacing="0" cellpadding="0" class="dd-action-container">'
                    <tr>
                      <td><img alt="Home page of this tab" src="/shared/images/icon/home.gif"></td>
                      <td nowrap><a href="JavaScript:go_home('tab_{$identifier}')"><img src='/shared/images/icons/home.gif' alt='Home page of this tab' title='Home page of this tab'></a></td>
                    </tr>
                    <tr>
                      <td><img alt="Reload this tab" src="/shared/images/icon/reload.gif"></td>
                      <td nowrap><a href="JavaScript:reload('tab_{$identifier}');"><img src='/shared/images/icons/reload.gif' alt='Reload this tab' title='Reload this tab'></a></td>
                    </tr>
                    </table>
                    </span>
                  </span>
                  </td>
                </tr>
                </table>
              </td>

            </grid:ITERATOR>
          </grid:LIST>

          <td width="100%"></td>
          <td><img alt="" src="images/1x1.gif" class="sep"></td>
          <td>
            <table border="0" cellpadding="0" cellspacing="0" class="tab-user">
            <tr>
              <td class="label">
               <span id='{$id}' behavior='CDDCommon' ddalign='hbl'>
               <nobr>[ Admin Name ]</nobr>
                  <span id='content'  style='display:none;'>
                    <table cellpadding='1' cellspacing='1' class="dd-action-container">
                      <tr>
                        <td>
                          <a href='/root/login?action=logout'><locale:STRING name='logout' file='login'>[<USER:ATTRIBUTE name='login' >]</a><br>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <form method="post" name="change_locale_form" id="change_locale_form" action="/root/login?action=change_user_locale&popup=1" onsubmit="return submit_form(this, this.action);">
                          <select id='locale_id' name='locale_id' class='input' options_datasource='available_locales_datasource' class='input'></select>
                          <input type='submit' class='button' locale_value='change_locale' locale_file='user'>
                          </form>
                        </td>
                      </tr>
                    </table>
                  </span>
                </span>
              </td>
              <td class="arr"><img alt="" src="/shared/images/marker/1.gif"></td>
            </tr>
            </table>
          </td>
          <td><img alt="" src="/shared/images/1x1.gif" class="sep"></td>
        </tr>
        </table>
        <!--END:[ tabulator ]-->
      </td>
    </tr>
    </table>
  </td>
</tr>
<tr><td class="col1" height="5"></td></tr>
<tr>
  <td height="100%" valign="top">
  <!--BEGIN:[ middle ]-->
    <grid:LIST id='tabs_body'>
      <grid:ITERATOR>
        <div id="tab_{$identifier}_content" style="width:100%; height: 100%;">
          <iframe frameborder="0" height="100%" id="iframe_{$identifier}" name="iframe_{$identifier}" src="about:blank" width="100%"></iframe>
        </div>
        <script type='text/javascript'>
          tab_data = {'id': 'tab_{$identifier}', 'activate_handler': activate_tab, 'src': '{$url}', 'iframe_name': 'iframe_{$identifier}'}
          tabs.register_tab_item(tab_data);
        </script>

     </grid:ITERATOR>
    <script type='text/javascript'>
      if (active_tab = get_cookie('active_tab'))
        tabs.activate(active_tab);
      else
        tabs.activate('');
    </script>
    </grid:LIST>
  <!--END:[ middle ]-->
  </td>
</tr>
<tr><td class="col1" height="5"></td></tr>
<tr>
  <td class="bgr">
  <!--BEGIN:[ footer ]-->
    <table border="0" cellpadding="0" cellspacing="2" width="100%">
    <tr>
      <td>
      <core:LITERAL>
        <form onsubmit='goto_address();return false;'>
        <table>
          <tr>
            <td>
              <input type='text' id='active_iframe_url' name='active_iframe_url' class='input' size='60'>
            </td>
            <td>
              <input class="button" type="submit" value="  GO!  ">
            </td>
          </tr>
        </table>
        </form>
      </core:LITERAL>
      </td>
      <td width="100%"></td>
      <td style="padding:0 10	px 0 10px">
      <nobr>&copy; <a href='http://bit-creative.com'>BIT</a> 2005 <LIMB:VERSION type='logo'></nobr>
      </td>
    </tr>
    </table>
  <!--END:[ footer ]-->
  </td>
</tr>
</table>

</body>
</html>

