<core:WRAP file="admin/content_management_page.html" placeholder="content">

<fetch:MAPPED>
<core:INCLUDE file="jip_actions/normal.html">
</fetch:MAPPED>

<fetch:SUB_BRANCH target='folders' >
	<core:PARAMETER name='order' value='priority=ASC'>
</fetch:SUB_BRANCH>

<grid:LIST id='folders'>
<table>
<tr><td colspan='100' class='btitle1' height='3'><locale:STRING name='faq_folders_list' file='faq'></td></tr>
<core:INCLUDE file='/admin/grid_items/folder_grid_body.html'> 
<core:INCLUDE file='/admin/no_move_grid_footer.html'> 
</table>
</grid:LIST>
