<core:WRAP file="admin/content_management_page.html" placeholder="content">

<fetch:MAPPED>
{$content}
<core:OPTIONAL for="content">
<br>
</core:OPTIONAL>
</fetch:MAPPED>

<fetch:SUB_BRANCH target='messages' pager='pager'>
  <core:PARAMETER name='loader_class_name' value='message' >
  <core:PARAMETER name='order' value='priority=ASC'>
</fetch:SUB_BRANCH>

<core:INCLUDE file="/admin/pager.html">

<grid:LIST id='messages'>
  <admin:list:header>
    <admin:list:title>
      <locale:STRING name='messages_list' file='message'>
    </admin:list:title>
  </admin:list:header>
  <table cellpadding="0" cellspacing="0" class="content">
  <core:INCLUDE file='/admin/grid_items/grid_body_folder_no_publish.html'>
  </table>
  <admin:list:footer>
    <core:INCLUDE file='/admin/grid_items/grid_footer_full.html'>
  </admin:list:footer>
</grid:LIST>
