<core:WRAP file="page.html" placeholder="content">

<fetch:MAPPED>
<core:INCLUDE file="jip_actions/normal.html">
</fetch:MAPPED>

<DATASOURCE target='questions'>
<core:PARAMETER name='datasource_path' value='poll_all_results_datasource'>
<core:PARAMETER name='loader_class_name' value='poll'>
<core:PARAMETER name='order' value='created_date=DESC'>
</DATASOURCE>

<grid:LIST id='questions'>
  <table border=0 cellspacing=0 cellpadding=1>
  <grid:ITERATOR>
      <tr class="jip">
        <td>
          <core:INCLUDE file="published_status.html">
          <core:INCLUDE file="jip_actions/dropdown.html">
          {$title}
        </td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td align=right>Всего ответов:</td>
        <td><b>{$total_count}</b></td>
      </tr>
    <core:DATA_TRANSFER hash_id='answers' target='answers'>

    <grid:LIST id='answers'>
      <grid:ITERATOR>
      <tr class=jip>
        <td>
          <core:INCLUDE file="jip_actions/dropdown.html">
          {$title}
        </td>
        <td width=100><img src='/shared/images/1x1.gif' width='{$percentage}%' height=4 style='background-color:#e60000'></td>
        <td width=1><nobr>{$count} ({$rounded_percentage}%)</nobr></td>
      </tr>
      </grid:ITERATOR>
    </grid:LIST>
  </grid:ITERATOR>
  </table>
</grid:LIST>
