<table width=160 border=0 cellspacing=0 cellpadding=0>
<tr class=com4>
	<td class=btitle1>History</td>
</tr>
<tr>
	<td valign='top'>
		<core:BLOCK id='admin_history_block'>
		
		<DATASOURCE target="history" >
			<core:PARAMETER name='datasource_path' value='session_history_datasource' >
		</DATASOURCE>
    <grid:LIST id='history'>
    <table width='100%' border='0' cellspacing='0' cellpadding='1'>
    <grid:ITERATOR>
    		<tr>
    			<td align='right'><a href='{$href}' alt='{$href}' title='{$href}'>{$title}</a></td>
    			<td>&nbsp;</td>
    		</tr>
    		<tr>
    			<td align=center colspan=3><img src='/shared/images/1x1.gif' class=com2 width=80% height=1></td>
    		</tr>
    </grid:ITERATOR>
    <tr>
    <td></td>
    <td><img src='/shared/images/1x1.gif' width=12 height=0></td>
    </tr>
    </table>
    </grid:LIST>

		</core:BLOCK>
	</td>
</tr>
</table> 