<html>
	<head>
		<title></title>
		<link rel=stylesheet type="text/css" href="/shared/styles/admin.css">
		<script language="javascript" src="/shared/js/common.js"></script>
	</head>
<body  bgcolor='#ffffff'>
<a name='top'>
<table cellpadding=2 cellspacing=0 border=0 width=100% height=100%>
<tr><td height=50% colspan=4></td></tr>
<tr>
	<td width=50%></td>
	<td align=center><img src='/shared/images/logo.gif'><br>&nbsp;</td>
	<td valign=middle align=center>
		<core:PLACEHOLDER id="content">
	</td>
	<td width=50%></td>
</tr>
<tr><td height=50% colspan=4></td></tr>
</table>
</body>
</html>
