					<!--BEGIN: вкладка №1-->
				  <table width="100%" border="0" cellspacing="0" cellpadding="0" style='padding:5px 10px 1px 5px;' id=param_req_content>
				  	<col align=right width=200 class=labels>
				    <tr>
				      <td><label for="identifier"><span class=req>*</span><locale:STRING name='identifier'></label></td>
				      <td><input type="text" name="identifier" id="identifier" label="Identifier" class='input'>

				      <hint>
					      <hint:CONTENT>
					      	<locale:STRING name='identifier_desc'>
					      </hint:CONTENT>
				      </hint>

				      </td>
				    </tr>
				    <tr>
				      <td><label for="title"><span class=req>*</span><locale:STRING name='title'></label></td>
				      <td><input type="text" name="title" id="title" label="Title" size="60" class='input'></td>
				    </tr>
				  </table>
					<!--END: вкладка №1-->