<core:WRAP file="admin/page.html" placeholder="content">

<fetch:MAPPED>
<span class='jip'>
<core:INCLUDE file="jip_actions/extended.html">
</span>
</fetch:MAPPED>

<hr>
<fetch:SUB_BRANCH target='items'>
	<core:PARAMETER name='loader_class_name' value='navigation_item'>
	<core:PARAMETER name='data_source_path' value='/fetch_tree_data_source'>
	<core:PARAMETER name='include_parent' value='0' type='boolean'>
	<core:PARAMETER name='check_expanded_parents' value='0' type='boolean'>
	<core:PARAMETER name='depth' value='1' type='numeric'>
</fetch:SUB_BRANCH>

<grid:LIST id='items'>
    <table width="100%" border="0" cellspacing="0" cellpadding="8">
			<tr>
				<th><locale:STRING name='title'></th>
				<th>URL</th>
				<th>
				<locale:STRING name='items_order'>
				</th>
				<th><locale:STRING name='actions'></th>
			</tr>
    <grid:ITERATOR>
				<tr class='jip'>
					<td jip='object' class='jip_object'><a href="{$path}">{$title}</a></td>
					<td>{$url}</td>
					<td><core:INCLUDE file="order.html"></td>
					<td jip='action'><core:INCLUDE file="jip_actions/normal.html"></td>
				</tr>
    </grid:ITERATOR>
			</table>
</grid:LIST>