<a href='javascript:void(0);' onclick='this.style.cursor = "default"; toggle_hint("user_services");' alt='Click to view services' title='Click to view services'>[<USER:ATTRIBUTE name='login' >]</a>
<div id='user_services' style='z-index: 1; position: absolute; visibility: hidden; padding:2px 10px 2px 10px; background-color:#F3F3F3;text-align:left;border:solid 1px #E4E4E4;'>
<table cellpadding='1' cellspacing='1'>
	<tr>
		<td>
      <a href='/root/login?action=logout'><locale:STRING name='logout' file='login'>[<USER:ATTRIBUTE name='login' >]</a><br>
		</td>
  </tr>
  <tr>
		<td>
      <form method="post" name="change_locale_form" id="change_locale_form" action="/root/login?action=change_user_locale&popup=1" onsubmit="return submit_form(this, this.action);">
      <select id='locale_id' name='locale_id' class='input' options_datasource='available_locales_datasource' class='input'></select>
      <input type='submit' class='button' locale_value='change_locale' locale_file='user'>
      </form>

		</td>
	</tr>
</table>
</div>

