<?
	reload('/root/chat/main');
?>

<html>
<head>
	<title><metadata:TITLE separator=' :: ' />::Official Shweir Secondary School</title>
	<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
	<link href="/design/main/styles/main.css" rel="stylesheet" type="text/css">
	<script language="javascript" src="/shared/js/common.js"></script>
	<script language="javascript" src="/design/main/js/form_errors.js"></script>
	<script src='/design/main/js/chat.js'></script>
	<metadata:METADATA>
	<meta name="description" content="{$description}">
	<meta name="keywords" content="{$keywords}">
	</metadata:METADATA>
</head>
<body>

<fetch:SUB_BRANCH target='chat_rooms'>
	<core:PARAMETER name='loader_class_name' value='chat_room'>
	<core:PARAMETER name='data_source_path' value='fetch_sub_branch_data_source'>
</fetch:SUB_BRANCH>

<list:LIST id='chat_rooms'>
<table border=0 cellspacing=0 cellpadding=4 width=100%>
    <list:ITEM>
		<tr>
		<td>
			<a href='{$path}'>{$title}</a>
		</td>
		</tr>


    </list:ITEM>
</table>
</list:LIST>
<div id='popup_div'></div>
</body>
</html>