<form method="post" name="login_form" id="login_form" action="/root/login">

	<form:errors target='errors'>
	<grid:LIST id='errors'>
  	<font color='red'><locale:STRING name='not_authorized' file='user'>.</font>
	</grid:LIST>  
  <input type="hidden" name="redirect" id="redirect">
  <table width="100%" border="0" cellspacing="2" cellpadding="3">
    <tr>
      <td><label for='login'><locale:STRING name='login' file='user'></label></td>
      <td><input name="login" type="text" id="login" label="Login" size="10" class='input'></td>
    </tr>
    <tr>
      <td><label for='password'><locale:STRING name='password' file='user'></label></td>
      <td><input name="password" type="password" id="password" label="Password" size="10"  class='input'></td>
    </tr>
    <tr>
      <td><label for='locale'><locale:STRING name='locale' file='user'></label></td>
      <td><select id='locale_id' name='locale_id' class='input' options_datasource='available_locales_datasource' class='input'></select></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input name="submit" type="submit" id="submit" locale_value='login' locale_file='user' class='button'></td>
    </tr>
  </table>
</form>