<table border=0 width=100%>
    <tr>
      <td nowrap width="40%"><label for="site_title"><locale:STRING name='site_title' file='site_param'></label></td>
      <td><input type="text" name="site_title" id="site_title" label="site_title" class='input'>
      </td>
    </tr>
    <tr>
      <td nowrap width="40%"><label for="contact_email"><locale:STRING name='contact_email' file='site_param'></label></td>
      <td><input type="text" name="contact_email" id="contact_email" label="contact_email" class='input'>
      </td>
    </tr>

</table>