<!-- Powered by LIMB | http://www.limb-project.com/ -->
<!-- Designed by BIT | http://www.bit-creative.com/ -->

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title></title>
  <meta content="text/html; charset=windows-1251" http-equiv="Content-Type">
  <link href="/shared/styles/admin.css" rel="stylesheet" type="text/css">
</head>
<body>
<table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%">
<tr>
  <td width="50%"></td>
  <td height="100%" valign="middle">
    <table border="0" cellpadding="0" cellspacing="0" class="cp-table" width="360">
    <tr>
      <td style='padding:9px'>
      <table border="0" cellpadding="0" cellspacing="15" class="body" width="100%">
      <tr>
        <td>
          <table border="0" cellpadding="0" cellspacing="0" width="140">
          <tr>
            <td align="center"><img alt="" src="/shared/images/icon/login.gif"></td>
          </tr>
          <tr>
            <td style="padding:20px 0 0 0">
            <!--BEGIN: welcome-->
            <b>Welcome to Limb!</b><br>
            Use a valid username and password to gain access to the administration console.
            Use a valid username and password to gain access to the administration console.
            <!--END: welcome-->
            </td>
          </tr>
          </table>
        </td>
        <td valign="top" width="100%">
          <table border="0" cellpadding="0" cellspacing="5" width="100%">
            <form method="post" name="login_form" id="login_form" action="/root/login">
            <tr>
              <td align="right"><img alt="LIMB" src="/shared/images/logo.limb.gif"></td>
            </tr>
            <tr><td><label for="login"><locale:STRING name='login' file='user'></label></td></tr>
            <tr><td align="right"><input class="input" id="login" name="login" size="22" type="text"></td></tr>
            <tr><td><label for="password"><locale:STRING name='password' file='user'></label></td></tr>
            <tr><td align="right"><input class="input" id="password" name="password" size="22" type="password"></td></tr>
            <tr><td><label for="locale"><locale:STRING name='locale' file='user'></label></td></tr>
            <tr><td align="right"><select class="select" id="locale_id" name="locale_id" options_datasource="available_locales_datasource"></select></td></tr>
            <tr><td align="right" style="padding:20px 0 0 0"><input class="button" id="submit" name="submit" type="submit" locale_value='login' locale_file='user'></td></tr>
            </form>
          </table>
        </td>
      </tr>
      </table>
      </td>
    </tr>
    </table>
  </td>
  <td width="50%"></td>
</tr>
</table>

</body>
</html>

