
		<core:BLOCK id='admin_menu_block1'>
		<fetch:SUB_BRANCH target="admin_menu" >
			<core:PARAMETER name='loader_class_name' value='navigation_item' >
			<core:PARAMETER name='datasource_path' value='tree_navigation_datasource' >
			<core:PARAMETER name='path' value='/root/admin/navigation/content_management' >
			<core:PARAMETER name='order' value='priority=ASC'>
			<core:PARAMETER name='depth' value='2'>
		</fetch:SUB_BRANCH>
		<core:INCLUDE file="/navigation/admin_menu.html">
		</core:BLOCK>
