<html>
<body>
<h1><locale:STRING name='order_title' file='cart'></h1>
<table border=0>
<tr>
	<td><locale:STRING name='name' file='enterprise_member'>:</td>
	<td>{$name} {$secondname} {$lastname}</td>
</tr>
<tr>
	<td>E-mail: </td>
	<td>{$email}</td>
</tr>
<tr>
	<td><locale:STRING name='phone' file='enterprise_member'>:</td>
	<td>{$phone}</td>
</tr>
<tr>
	<td><locale:STRING name='address' file='enterprise_member'>:</td>
	<td>{$address}</td>
</tr>
<tr>
	<td><locale:STRING name='notes' file='cart'>:</td>
	<td> {$notes}</td>
</tr>
</table>

<locale:STRING name='order_contents' file='cart'>
<list:LIST id='cart_items'>
<table border=0>
<tr>
<th><locale:STRING name='order_item' file='cart'></th>
<th><locale:STRING name='count' file='cart'></th>
<th><locale:STRING name='notes' file='cart'></th>
</tr>
<list:ITEM>
<tr>
<td>{$description}</td>
<td>{$amount}</td>
<td>{$note}</td>
</tr>
</list:ITEM>
</table>
</list:LIST>
</body>
</html>