<html>
<head>
<title>Site title</title>
<meta http-equiv='Content-Type' content='text/html; charset=windows-1251'>
<link rel='stylesheet' type="text/css" href="/shared/styles/main.css">
<link rel='stylesheet' type="text/css" href="/shared/styles/common.css">
<link rel='stylesheet' type="text/css" href="/shared/styles/page.css">
<link rel='stylesheet' type="text/css" href="/shared/styles/dd.css">

<script language="javascript" src="/shared/js/common.js"></script>
<script language="javascript" src="/shared/js/cookie.js"></script>
<script language="javascript" src="/shared/js/tabs.js"></script>

<script language="javascript" src="/shared/js/htc.js"></script>
<script language="javascript" src="/shared/js/htc.limb_cp.js"></script>
<script language="javascript" src="/shared/styles/class.actions.js"></script>

<script language="javascript" src="/shared/js/tabs-iframes.js"></script>
<script language="javascript" src="/shared/js/iframe.js"></script>

</head>
<body>
<!--BEGIN: body-->
<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
  <tr>
    <td valign="bottom" width="100%">
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td valign="bottom" width="100%" id="lo-place-top"><div>
            <core:INCLUDE file="/admin/include/tabulator.html">
            </div>
            <!--BEGIN:[ breadcrumbs ]-->
            <table border="0" class="path" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td style='padding:0 0 0 10px' >
                <core:INCLUDE file="/admin/include/breadcrumbs.html">
              </td>
              <td width="100%" align='right'>
                <core:INCLUDE file="/admin/include/layout_manager.html">
              </td>
              <td>
                <core:INCLUDE file="/admin/include/user_services.html">
              </td>
            </tr>
            </table>
            <!--END:[ breadcrumbs ]-->
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="tabulator-body" height="100%" valign="top">
      <!--BEGIN:[ middle ]-->
    <grid:LIST id='tabs_body'>
      <grid:ITERATOR>
      <div id="tab_{$identifier}_content" style="width: 100%; height: 100%; display: none;">
        <iframe id="iframe_{$identifier}" name="iframe_{$identifier}" src="about:blank" frameborder="0" height="100%" width="100%"></iframe>
      </div>
      <script>
          tab_data = {'id': 'tab_{$identifier}', 'activate_handler': activate_tab, 'src': '{$url}', 'iframe_name': 'iframe_{$identifier}'}
          tabs.register_tab_item(tab_data)
      </script>
      </grid:ITERATOR>
    </grid:LIST>
      <script>tabs.activate_default()</script>

      <!--END:[ middle ]-->
    </td>
  </tr>
</table>
</body>
</html>