<core:WRAP file="admin/content_management_page.html" placeholder="content">

<fetch:MAPPED>
<table width=100% border=0 cellspacing=2 cellpadding=2 >
<tr>
  <td>
   <core:INCLUDE file="published_status.html">
	</td>
	<td>
		<core:INCLUDE file="jip_actions/normal.html">
	</td>
</tr>
<tr>
	<td width="100%" valign="top"  style="padding: 10px, 5px, 5px 10px" bgcolor=white colspan=2>
  	<core:OPTIONAL for='image_id'>
    	<table style='border: solid 1px D6C4C4' cellspacing=0 cellpadding=3>
				<tr>
					<td>
					 	<img src="/root?node_id={$image_id}&thumbnail" border="0" ></td>
				</tr>
			</table><br>
    </core:OPTIONAL>

    {$content}
   </td>
</tr>
</table>	
</fetch:MAPPED>
