<core:INCLUDE file='/admin/admin_form_items/errors.html'>
<core:INCLUDE file='/admin/admin_form_items/title.html'>
<core:INCLUDE file='/admin/admin_form_items/req_annotation.html'>
<tr>
  <td><label for="image_id"><locale:STRING name='image' file='useful_link'></label></td>
  <td><image_select name="image_id" id="image_id" label="Image">
  </td>
</tr>
<tr>
  <td><label for="uri"><locale:STRING name='url' file='useful_link'></label></td>
  <td><input type="text" name="uri" id="uri" label="Url" class='input' size='60'>
  </td>
</tr>
<core:INCLUDE file='/admin/admin_form_items/req_info.html'>