<core:WRAP file="admin/content_management_page.html" placeholder="content">

<fetch:MAPPED>
<core:INCLUDE file="jip_actions/normal.html">
</fetch:MAPPED>

<fetch:SUB_BRANCH target='files_folder' navigator="pager">
  <core:PARAMETER name='loader_class_name' value='site_object'>
  <core:PARAMETER name='order' value='priority=ASC'>
</fetch:SUB_BRANCH>

<fetch:SUB_BRANCH target='files'  navigator="pager2" >
  <core:PARAMETER name='loader_class_name' value='file_object' >
  <core:PARAMETER name='order' value='priority=ASC'>
</fetch:SUB_BRANCH>

<core:INCLUDE file="/admin/pager.html">

<grid:LIST id='files_folder'>
<table width='100%'>
<tr><td colspan='100' class='btitle1' height='3'><locale:STRING name='file_folders_list' file='file'></td></tr>
<core:INCLUDE file='/admin/grid_items/no_publish_folder_grid_body.html'>
<core:INCLUDE file='/admin/grid_items/full_grid_footer.html'>
</table>
</grid:LIST>

<core:INCLUDE file="/admin/pager2.html">

<grid:LIST id='files'>
<table width='100%'>
<tr><td colspan='4' class='btitle1' height='3'><locale:STRING name='files_list' file='file'></td></tr>
<core:INCLUDE file='/admin/grid_items/no_publish_grid_header.html'>
<grid:ITERATOR>
  <tr>
    <td><core:INCLUDE file="/admin/grid_items/selector.html"></td>
    <td><core:INCLUDE file='/admin/grid_items/priority_input.html'></td>
    <td>
      <core:INCLUDE file="/admin/grid_items/list_item_hint.html">
      <img src='{$path}?icon'>&nbsp;<a href='{$path}'>{$title}</a>
    </td>
    <td><core:INCLUDE file="jip_actions/dropdown.html"></td>
  </tr>
</grid:ITERATOR>
<core:INCLUDE file='/admin/grid_items/full_grid_footer.html'>
</table>
</grid:LIST>