<core:WRAP file="/admin/popup.html" placeholder="content">

<form method="post" name="links_group" id="links_group">
  <request_state name='group_id' attach_form_prefix='true'>
  <table width="100%" border="0" cellspacing="2" cellpadding="3">
  <col span=2 align=center>
  <tr>
    <td colspan=2><h1><locale:STRING name='want_to_delete_group' file='links'></h1></td>
  </tr>
  <tr>
    <td colspan=2 height=20></td>
  </tr>
  <tr>
    <td><action_button action="delete_group" name="delete" id="delete" locale_value="delete" class="button"></td>
    <td><input name="cancel" type="button" id="cancel" locale_value="close" onclick='window.close();' class="button"></td>
  </tr>
  </table>
</form>