    <tr class=com4>
      <td colspan=2 class=pad4><core:INCLUDE file="form_errors.html"></td>
    </tr>
    <tr>
      <td><span class='req'>*</span><label for="identifier"><locale:STRING name='identifier' ></label></td>
      <td><input type="text" name="identifier" id="identifier" class='input' size='30'>
      </td>
    </tr>
    <tr>
      <td><span class='req'>*</span><label for="title"><locale:STRING name='title' ></label></td>
      <td><input type="text" name="title" id="title" class='input' size='60'>
      </td>
    </tr>
    <tr>
      <td class=tab-bottom><img src='/shared/images/i.gif'></td>
      <td width=100% class=tab-bottom><span class=desc><locale:STRING name='form_field_req'></span></td>
    </tr>