<html>
<head>
<title><metadata:TITLE separator=' :: ' /></title>
<meta http-equiv="content-type" content="text/html; charset=windows-1251">
<link rel="stylesheet" href="/shared/styles/admin.css" type="text/css">
</head>
<body bgcolor="#FFFFFF">

<h1>{#template_path}</h1>

<core:OPTIONAL for='from_template_path'>
<br>
<br>
back to <a style='font-weight:bold;text-decoration:underline; ' href='/root/template_source?{#history_query}'>{#from_template_path}</a>
</core:OPTIONAL>

<pre>
{#template_content}
</pre>

</body>
</html>