<html>
<head>
<title><metadata:TITLE separator=' :: ' /></title>
<style>
pre
{
	background: #ffd;
	border-bottom: #960 1px dotted;
	border-left: #960 1px dotted;
	border-right: #960 1px dotted;
	border-top: #960 1px dotted;
	font: 11px arial, geneva, sans-serif;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px
}

</style>
<meta http-equiv="content-type" content="text/html; charset=windows-1251">
<link rel="stylesheet" href="/shared/styles/admin.css" type="text/css">
</head>
<body bgcolor="#FFFFFF">

<h1>{#template_path}</h1>

<core:OPTIONAL for='from_template_path'>
<br>
<br>
back to <a style='font-weight:bold;text-decoration:underline; ' href='/root/template_source?{#history_query}'>{#from_template_path}</a>
</core:OPTIONAL>

<pre>
{#template_content}
</pre>

</body>
</html>