<core:INCLUDE file="/admin/admin_top.html">
<!--BEGIN: layout-->

<!--BEGIN: body-->
<table width=100% border=0 cellspacing=0 cellpadding=0>
<tr>
  <td valign='top' style='padding:10px'>
  <img src='/shared/images/1x1.gif' width='160px' height='1px'>
    <core:INCLUDE file="/navigation/site_management_admin.html">
    <core:INCLUDE file="/admin/session_history.html">

  </td>
  <td width=1 class=com2><img src='/shared/images/1x1.gif'></td>
  <td width=100% valign=top style='padding:10px 20px 30px 20px'>
    <core:INCLUDE file="/admin/page_data.html">
    <core:PLACEHOLDER id="content">
  </td>
</tr>
</table>
<!--END: body-->

<!--END: layout-->
</body>
</html>
