<core:WRAP file="page.html" placeholder="content">

<span class=jip>
<fetch:MAPPED>
<core:INCLUDE file="jip_actions/normal.html">
</fetch:MAPPED>

</span> 
<fetch:SUB_BRANCH target='articles_folders' >
	<core:PARAMETER name='loader_class_name' value='articles_folder' >
</fetch:SUB_BRANCH>


<fetch:SUB_BRANCH target='articles' navigator='pager'>
	<core:PARAMETER name='loader_class_name' value='article' >
</fetch:SUB_BRANCH>

<table width=100% border=0 cellpadding=4 > 
	<tr>
		<td width=100% >
			<core:INCLUDE file="front_pager.html">			
			<grid:LIST id='articles'>
			<table width=100% cellpadding=0 cellspacing=0>
			<grid:ITERATOR>
			<tr class="jip">
				<td jip='object' class=h2><a href='{$path}'>{$title}</a></td>
			</tr>
			<tr>
				<td jip='object'class=text width=100% style='padding-left:40px; padding-top: 0px'>{$annotation}</a></td>
			</tr>
			<tr>
				<td align="center" jip='action'><core:INCLUDE file="jip_actions/normal.html"></td>
			</tr>
			</grid:ITERATOR>
			</table>
			</grid:LIST>
		</td>

			<grid:LIST id='articles_folders'>
		<td valign=top style="border-left:solid 1px #DEDEDE; padding: 1px 0px 0px 8px">	
			<span class=date><locale:STRING name='subfolders' file='article'>:</span>
			
			
			<table width=120 border=0 cellpadding=0 cellspacing=0>
			<grid:ITERATOR>
			<tr class="jip">
				<td jip='object' class=h2><a href='{$path}'>{$title}</a></td>
				<td align="center" jip='action'><core:INCLUDE file="jip_actions/normal.html"></td>
			</tr>
			</grid:ITERATOR>
			</table>
		</td>
			</grid:LIST>
	</tr>
</table>

