<core:INCLUDE file='/admin/admin_form_items/errors.html'>
<core:INCLUDE file='/admin/admin_form_items/identifier.html'>
<core:INCLUDE file='/admin/admin_form_items/title.html'>
<tr>
  <td><label for="mail_template"><locale:STRING name='mail_template' file="subscribe"></label></td>
  <td><richedit name="mail_template" id="mail_template" label="Mail_template" cols="80" rows="15"></richedit>
  </td>
</tr>
<core:INCLUDE file='/admin/admin_form_items/req_info.html'>
<div id='popup_div'></div>
