<core:WRAP file="admin/content_management_page.html" placeholder="content">

<fetch:MAPPED>
<core:INCLUDE file="/admin/jip/common.html">
</fetch:MAPPED>

<fetch:SUB_BRANCH target="admin_wide_menu" >
  <core:PARAMETER name='loader_class_name' value='navigation_item' >
  <core:PARAMETER name='datasource_path' value='pictured_tree_navigation_datasource' >
  <core:PARAMETER name='path' value='/root/admin/navigation/content_management' >
  <core:PARAMETER name='order' value='priority=ASC'>
  <core:PARAMETER name='depth' value='2'>
</fetch:SUB_BRANCH>

<core:INCLUDE file="/admin/navigation/admin_wide_menu.html">