<table width="100%" border="0" cellspacing="0" cellpadding="0" style='padding:5px 10px 1px 5px;' id=param_req_content>
	<col align=right width=200 class=labels>
  <tr>
    <td><label for="title"><span class=req>*</span><locale:STRING name='fullname' file='member'></label></td>
    <td><input type="text" name="name" id="name" label="Name" size="60" class='input'></td>
  </tr>
  <tr>
    <td><label for="email"><span class=req>*</span><locale:STRING name='email'></label></td>
    <td><input type="text" name="email" id="email" label="Email" size="60" class='input'></td>
  </tr>
  <tr>
    <td><label for="phone"><locale:STRING name='phone' file='member'></label></td>
    <td><input type="text" name="phone" id="phone" label="Phone" size="60" class='input'></td>
  </tr>
  <tr>
    <td><label for="address"><locale:STRING name='address' file='member'></label></td>
    <td><textarea name="address" id="address" label="Address" cols="60" rows="3" class='textarea'></textarea></td>
  </tr>
  <tr>
    <td><label for="notes"><locale:STRING name='notes' file='cart'></label></td>
    <td><textarea name="notes" id="notes" label="Notes" cols="60" rows="6" class='textarea'></textarea></td>
  </tr>
</table>

	