<core:WRAP file="admin/content_management_page.html" placeholder="content">

<fetch:SUB_BRANCH target='items' navigator="pager" >
  <core:PARAMETER name='loader_class_name' value='faq_object' >
  <core:PARAMETER name='order' value='priority=ASC'>
</fetch:SUB_BRANCH>

<core:INCLUDE file="/admin/pager.html">

<grid:LIST id='items'>
  <admin:list:header>
    <admin:list:title>
      <locale:STRING name='questions_list' file='faq'>
    </admin:list:title>
  </admin:list:header>

  <table cellpadding='0' cellspacing='0' class='content'>
  <core:INCLUDE file='admin/grid_items/grid_header_common.html'>
  <grid:ITERATOR>
  <grid:SEPARATOR><tr><td class="col6" colspan="6" height="1"></td></tr></grid:SEPARATOR>
  <grid:STRIPE odd><tr class="odd_row"></grid:STRIPE>
  <grid:STRIPE even><tr class="even_row"></grid:STRIPE>
    <td><span behavior='CRow' target='-2'></span><core:INCLUDE file="/admin/grid_items/selector.html"></td>
    <td><core:INCLUDE file='/admin/grid_items/priority_input.html'></td>
    <td><core:INCLUDE file="published_status.html"></td>
    <td>
      <core:INCLUDE file="/admin/grid_items/list_item_hint.html">
      {$question}
    </td>
    <td><core:INCLUDE file="jip_actions/dropdown.html"></td>
  </tr>
  </grid:ITERATOR>
  </table>
  <admin:list:footer>
    <core:INCLUDE file='/admin/grid_items/grid_footer_full.html'>
  </admin:list:footer>
</grid:LIST>
