<html>
<head>
	<title><metadata:TITLE separator=' :: ' /></title>
	<metadata:CHARSET>
	<link href="/design/main/styles/main.css" rel="stylesheet" type="text/css">
	<script language="javascript" src="/shared/js/common.js"></script>
	<script language="javascript" src="/design/main/js/form_errors.js"></script>
	<metadata:METADATA>
	<meta name="description" content="{$description}">
	<meta name="keywords" content="{$keywords}">
	</metadata:METADATA>
</head>

<body>
	<metadata:BREADCRUMBS>
	<grid:LIST>
		<grid:ITERATOR>
			<core:DEFAULT for='is_last'>
			{$title} >>
			</core:DEFAULT>
			<core:OPTIONAL for='is_last'>
				{$title}
			</core:OPTIONAL>
		</grid:ITERATOR>
	</grid:LIST>
	</metadata:BREADCRUMBS>

<br>
<fetch:MAPPED>{$title}</fetch:MAPPED>
<br>

<core:PLACEHOLDER id="content">

</body>
</html>
