<core:WRAP file="popup.html" placeholder="content">

<form name="edit_site_object" id="edit_site_object" enctype="multipart/form-data" method="post">
	<core:INCLUDE file="form_errors.html">
	<table>

	<core:INCLUDE file='/admin/admin_form_items/identifier.html'>
	<core:INCLUDE file='/admin/admin_form_items/title.html'>
	<core:INCLUDE file='/admin/admin_form_items/req_info.html'>
	<div id='popup_div'></div>	
	<tr>
		<td colspan='2' align='center'>
			<action_button name="edit_button" class="button"  action="edit" reload_parent="true" locale_value="update"/>
		   &nbsp;
		  <input name="cancel" type="button" id="cancel" locale_value="close" onclick='window.close();' class="button">
		</td>
	</tr>
</table>

</form>