<tr>
	<td style='padding:0 0 6px 0'>
		<table width=100% border=0 cellspacing=0 cellpadding=0>
			<col align=right style='padding:0 10px 0px 4px' valign=top>
			<col style='padding:0 10px 0px 0px'>
			<tr class=header>
				<td class=date><locale:DATE_FORMAT hash_id='news_date' locale_format='short_date'></td>
				<td class=linksmall width=100%><a href='{$path}'>{$title}</a></td>
			</tr>
		</table>	
	</td>
	<td width=1 valign=top><core:INCLUDE file="jip_actions/dropdown.html"></td>
</tr>