<core:WRAP file="/admin/site_management_page.html" placeholder="content">

<fetch:SUB_BRANCH target='tree'>
  <core:PARAMETER name='datasource_path' value='/fetch_tree_datasource'>
  <core:PARAMETER name='path' value='/root'>
  <core:PARAMETER name='depth' value='-1' type='numeric'>
  <core:PARAMETER name='check_expanded_parents' value='1' type='boolean'>
  <core:PARAMETER name='include_parent' value='1' type='boolean'>
  <core:PARAMETER name='restrict_by_class' value='0' type='boolean'>
  <core:PARAMETER name='order' value='class_ordr=ASC,identifier=ASC' >
</fetch:SUB_BRANCH>


<grid:LIST id='tree'>
  <admin:list:header>
    <admin:list:title><locale:STRING name='site_structure' file='site_structure'>
    </admin:list:title>
  </admin:list:header>
  <table cellpadding="0" cellspacing="0" class="content">
  <tr>
    <th><grid:SELECTORS_TOGGLER></th>
    <th><locale:STRING name='tree_element'></th>
    <th>#ID</th>
    <th><locale:STRING name='published_status' ></th>
    <th><locale:STRING name='actions'></th>
  </tr>
  <grid:ITERATOR>
    <grid:SEPARATOR><tr><td class="col6" colspan="6" height="1"></td></tr></grid:SEPARATOR>
    <grid:STRIPE odd><tr class="odd_row"></grid:STRIPE>
    <grid:STRIPE even><tr class="even_row"></grid:STRIPE>
      <td><span behavior='CRow' target='-2'></span><core:INCLUDE file="/admin/grid_items/selector.html"></td>
      <td><grid:TREE_ITEM></td>
      <td><core:INCLUDE file="/admin/grid_items/list_item_hint.html">#<b>{$node_id}</b></td>
      <td align="center"><core:INCLUDE file="published_status.html"></td>
      <td><core:INCLUDE file="/jip_actions/site_structure.html"></td>
    </tr>
  </grid:ITERATOR>
  </table>
  <admin:list:footer>
  <table  border="0" cellpadding="0" cellspacing="5" class="col5" width="100%">
  <tr>
    <td>
      <admin:list:actions select_class='select' button_class='button' locale_value='do'>
        <admin:list:action shortcut='delete' locale_value='delete' form_submitted='0'>
        <admin:list:action shortcut='move' locale_value='move' form_submitted='0'>
      </admin:list:actions>
    </td>
  </tr>
  </table>
  </admin:list:footer>
</grid:LIST>
