<core:WRAP file="/admin/popup.html" placeholder="content">
<h2><locale:STRING name='changing_password' file='user'></h2>
<br>
<fetch:MAPPED>
  <locale:STRING name='user' file='user'>: {$name} {$lastname}<br>
  <locale:STRING name='login' file='user'>: {$identifier}
</fetch:MAPPED>

<form method="post" name="change_password" id="change_password">
  <input name="identifier" type="hidden" id="identifier">
  <table width="100%" border="0" cellspacing="2" cellpadding="3">
    <tr class=com4>
      <td colspan=2 class=pad4><core:INCLUDE file="form_errors.html"></td>
    </tr>
    <tr>
      <td><label for="password"><span class=req>*</span><locale:STRING name='password' file='user'></label></td>
      <td><input name="password" type="password" id="password" label="Password" class="input"></td>
    </tr>
    <tr>
      <td><label for="second_password"><span class=req>*</span><locale:STRING name='second_password' file='user'></label></td>
      <td><input name="second_password" type="password" id="second_password" label="Password verify" class="input"></td>
    </tr>
    <tr>
      <td colspan=2 align=center><action_button action="change_password" name="submit" type="submit" id="submit" locale_value="submit" class="button">
       &nbsp;
      <input name="cancel" type="button" id="cancel" locale_value="close" onclick='window.close();' class="button">
      </td>
    </tr>
  </table>
</form>