<actions>
<table border=0 cellspacing=0 cellpadding=0 class=jip-actions jip='actions'>
<tr>
	<td><img jip='l' src='/shared/images/act1.gif'></td>
	<td class=jip-td><img src='/shared/images/sep.gif'></td>
	<actions:ITEM>
	<td class=jip-td><a href='{$action_href}' onclick="return click_href(this.href);"><img src='{$img_src}' alt='{$action_name}' border=0 class=action></a></td>
	<td class=jip-td><img src='/shared/images/sep.gif'></td>
	</actions:ITEM>
	<td><img jip='r' src='/shared/images/act3.gif'></td>
</tr>
</table>
</actions>
