<core:WRAP file="popup.html" placeholder="content">
<h2><locale:STRING name='changing_password' file='user'></h2>
<br>
<fetch:MAPPED>
	<locale:STRING name='login' file='user'>: {$identifier}
</fetch:MAPPED>

<form method="post" name="change_password" id="change_password">
<input name="identifier" type="hidden" id="identifier">
	<core:INCLUDE file="form_errors.html">
  <table width="100%" border="0" cellspacing="2" cellpadding="3">
    <tr>
      <td><label for="password"><locale:STRING name='password' file='user'></label></td>
      <td><input name="password" type="password" id="password" label="Password" class="input">
      </td>
    </tr>
    <tr>
      <td><label for="second_password"><locale:STRING name='second_password' file='user'></label></td>
      <td><input name="second_password" type="password" id="second_password" label="Password verify" class="input">
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><action_button action="change_password" name="submit" type="submit" id="submit" value="Submit" class="button">
	     &nbsp;
      <input name="cancel" type="button" id="cancel" locale_value="close" onclick='window.close();' class="button">
      </td>
    </tr>
  </table>
</form>