<core:WRAP file="admin/content_management_page.html" placeholder="content">
<span class=jip>
<fetch:MAPPED>
<core:INCLUDE file="jip_actions/extended.html">
</fetch:MAPPED>
</span>

<fetch:SUB_BRANCH target='list' navigator="pager">
	<core:PARAMETER name='loader_class_name' value='pictured_news_object'>
	<core:PARAMETER name='order' value='news_date=DESC, created_date=DESC'>
</fetch:SUB_BRANCH>

<core:INCLUDE file="pager.html">

<grid:LIST id='list'>
<table>
<tr><td colspan='6' class='btitle1' height='3'></td></tr>
<tr>
	<th><grid:SELECTORS_TOGGLER></th>
	<th><locale:STRING name='published_status'></th>
	<th><locale:STRING name='image' file='image'></th>
	<th><locale:STRING name='newsline' file='newsline'></th>
	<th><locale:STRING name='date'></th>
	<th><locale:STRING name='actions'></th>
</tr>
<grid:ITERATOR>
<tr class="jip">
  <td><core:INCLUDE file="/admin/selector.html"></td>
  <td><core:INCLUDE file="published_status.html"></td>
  <td>
  	<core:OPTIONAL for='image_id'>
  	<img src='/root?node_id={$image_id}&icon'>
  	</core:OPTIONAL>
  </td>
  <td jip='object'>
    <core:INCLUDE file="/admin/list_item_hint.html">
    <a href="{$path}" target="_blank">{$title}</a>
  </td>
  <td><locale:DATE_FORMAT hash_id='modified_date' type='stamp' locale_format='short_date'></td>
  <td jip='action'><core:INCLUDE file="jip_actions/dropdown.html"></td>
</tr>
</grid:ITERATOR>
<tr><td colspan='6' class='btitle1' height='3'></td></tr>
<tr>
	<td colspan='6'>
	<grid:actions select_class='select' button_class='button' locale_value='do'>
		<grid:action shortcut='delete' locale_value='delete' form_submitted='0'>
		<grid:action shortcut='save_priority'  locale_value='change_order' form_submitted='1'>
		<grid:action shortcut='toggle_published_status'   locale_value='toggle_published_status' form_submitted='1'>
	</grid:actions>
	</td>
</tr>
</table>
</grid:LIST>