<core:WRAP file="admin/content_management_page.html" placeholder="content">

<fetch:MAPPED>
<core:INCLUDE file="jip_actions/normal.html">
</fetch:MAPPED>

<fetch:SUB_BRANCH target='list' navigator="pager">
	<core:PARAMETER name='loader_class_name' value='pictured_news_object'>
	<core:PARAMETER name='order' value='news_date=DESC, created_date=DESC'>
</fetch:SUB_BRANCH>

<core:INCLUDE file="pager.html">

<grid:LIST id='list'>
<table>
<tr><td colspan='6' class='btitle1' height='3'></td></tr>
<tr>
	<th><grid:SELECTORS_TOGGLER></th>
	<th><locale:STRING name='published_status'></th>
	<th><locale:STRING name='image' file='image'></th>
	<th><locale:STRING name='newsline' file='newsline'></th>
	<th><locale:STRING name='date'></th>
	<th><locale:STRING name='actions'></th>
</tr>
<grid:ITERATOR>
<tr>
  <td><core:INCLUDE file="/admin/selector.html"></td>
  <td><core:INCLUDE file="published_status.html"></td>
  <td>
  	<core:OPTIONAL for='image_id'>
  	<img src='/root?node_id={$image_id}&icon'>
  	</core:OPTIONAL>
  </td>
  <td>
    <core:INCLUDE file="/admin/list_item_hint.html">
    <a href="{$path}" target="_blank">{$title}</a>
  </td>
  <td><locale:DATE_FORMAT hash_id='news_date' locale_format='short_date'></td>
  <td><core:INCLUDE file="jip_actions/dropdown.html"></td>
</tr>
</grid:ITERATOR>
<core:INCLUDE file='/admin/no_move_grid_footer.html'>
</table>
</grid:LIST>