<core:WRAP file="admin/admin_display_page.html" placeholder="content">
<span class=jip>
<fetch:MAPPED>
<core:INCLUDE file="jip_actions/extended.html">
</fetch:MAPPED>
</span>

<fetch:SUB_BRANCH target='list' navigator="pager">
	<core:PARAMETER name='loader_class_name' value='pictured_news_object'>
	<core:PARAMETER name='order' value='news_date=DESC, created_date=DESC'>
</fetch:SUB_BRANCH>

<core:INCLUDE file="pager.html">

<grid:LIST id='list'>
<table width=100%>
<tr>
	<th><grid:SELECTORS_TOGGLER></th>
	<th><locale:STRING name='published_status'></th>
	<th><locale:STRING name='image' file='image'></th>
	<th><locale:STRING name='newsline' file='newsline'></th>
	<th><locale:STRING name='identifier'></th>
	<th><locale:STRING name='date'></th>
	<th><locale:STRING name='modified_date'></th>
	<th><locale:STRING name='actions'></th>
</tr>
<grid:ITERATOR>
<tr class="jip">
<td><core:INCLUDE file="/admin/selector.html"></td>
<td><core:INCLUDE file="published_status.html"></td>
<td>
	<core:OPTIONAL for='image_id'>
	<img src='/root?node_id={$image_id}&icon'>
	</core:OPTIONAL>
</td>
<td jip='object'><a href="{$path}" target="_blank">{$title}</a></td>
<td>{$identifier}</td>
<td><locale:DATE_FORMAT hash_id='news_date' locale_format='short_date'></td>
<td><locale:DATE_FORMAT hash_id='modified_date' locale_format='short_date'></td>
<td jip='action'><core:INCLUDE file="jip_actions/normal.html"></td>
</tr>
</grid:ITERATOR>
<tr><td colspan='6' align='left'><core:INCLUDE file='/admin/delete_button.html'></td><td align='left'><core:INCLUDE file='/admin/toggle_publish_status_button.html'></td></tr>
</table>
</grid:LIST>