<core:WRAP file="page.html" placeholder="content">


<fetch:MAPPED>
<core:INCLUDE file="jip_actions/dropdown.html">
</fetch:MAPPED>

<fetch:SUB_BRANCH target='news' navigator='pager' >
	<core:PARAMETER name='loader_class_name' value='pictured_news_object'>
	<core:PARAMETER name='order' value='news_date=DESC'>
</fetch:SUB_BRANCH>

<core:INCLUDE file="front_pager.html">
<grid:LIST id='news'>
    <grid:ITERATOR>
		<core:INCLUDE file="/pictured_news_object/news_item.html">
    </grid:ITERATOR>
</grid:LIST>