body{padding:0px; margin:0px; color:#ffffff;font:8pt Arial;color:#000000;}
.text{font:9pt Arial;}
.textbold{font:bold 10pt Arial;}
.copyright{font:8pt Arial;}
.input{font:10pt Arial; border:solid 1px #5C6699; background-color:#FCFAF0;}
.disabled_input{font:10pt Arial; border:solid 1px #5C6699; background-color:#EEEEEE;}

.com1{background-color:#B0BCF5;}
.com2{background-color:#ECECEC}
.com3{background-color:#000000} 
.com4{background-color:#FFFFFF}
.com5{background-color:#FCFAF0}
.com51{background-color:#F4F2EB}
.com6{background-color:#808AC0}
.com7{background-color:#F6F7FC}
.com8{background-color:#f8f8f8}

th{font:9pt Arial, Tahoma;padding:2px 4px 2px 4px;color:#E6EBFF}
.delimiter2{border-right: 2px solid #5C6699;}
.delimeter3{border-right: 1px solid #E6E6E6;}
.delimiter{background-color:#FFFFFF; border-top: 1px solid #E6E6E6; border-right: 1px solid #E6E6E6; border-bottom: 1px solid #E6E6E6; border-left: 1px solid #E6E6E6;}
.delimiter4{background-color:#ffffff; border-top: 1px solid #cccccc; border-right: 1px solid #cccccc; border-bottom: 1px solid #cccccc; border-left: 1px solid #cccccc;}

a{text-decoration:none;font:9pt Arial, Tahoma; color:#4060FF}
a:hover{text-decoration:underline;}
a.path{}
a.path:hover{}
a.menu_selected_links{font-weight:bold;}
.inverse{color:#ffffff}

.active{font:bold 9pt;color:#ff4444}
.tcom1{}
.tcom2{}
.tcom3{color:#FF6E6E;}
.tcom4{color:#ffffff;}
.tcom5{color:#B1003B;}
.ttitle{font:18pt Compact, Arial;color:#5C6699;}
.page_title{font:24pt Compact, Impact, Arial;color:#808AC0;}
.site_title{font:16pt Compact, Impact, Arial;color:#5C6699;}
.site_title2{font:16pt Compact, Impact, Arial;color:#C6C6C6;}
.panel_title{font:16pt Compact, Impact, Arial;color:#ffffff;height:42px;text-align:center}
.title{font:18pt Compact, Impact, Arial;color:#808AC0;height:42px;text-align:center}

.SUBMIT2 {color:#5C6699;  FONT:bold 9pt; width:98px; height: 26px; }

.row{/*behavior:url('/shared/htcs/row.htc');*/padding:0 5px 0 5px;}
.oddrow{/*behavior:url('/shared/htcs/row.htc');*/padding:0 5px 0 5px;}
/*htc menu*/
/*.preview{behavior:url('/shared/htcs/preview.htc');}*/
.ddframe{behavior:url('/shared/htcs/ddframe.htc');}
.cmenu{behavior:url('/shared/htcs/cmenu.htc');}
.shad{behavior:url('/shared/htcs/shad.htc');}

.ddborder_item{border:0px solid;padding:1}/*D4D0C8*/
.ddborder_item_hover{border:1px solid #08246B;background-color : #FEFFEA;}
.ddborder_item_active{border:1px solid #808080;background-color : #DEDBD6;}


.col{
	behavior:url('/shared/htcs/col.htc');
	font-size : x-small;
}
.border1{border:solid 2px #AAAAAA}
.border2{border:solid 1px #CCCCCC;}
.border3{border-top:solid 5px #ECECEC;}

.pad5{padding:5px}
/*form*/
 .button{border:solid 1px #5C6699; background-color:#E6EBFF;font:10pt Arial;
			filter:progid:DXImageTransform.Microsoft.Shadow(color=#cccccc, Direction=135, Strength=4) }

.checkbox{behavior:url('/shared/htcs/checkbox.htc');width:1px;height:1px;}

@font-face {
    font-family: compact;
    font-style:  normal;
    font-weight: normal;
    src: url('/shared/fonts/compact.eot')}

/*admin*/
.row{page:row;}
.jip{page:actions;border:solid 1px #ffffff;}
.jip-object{border:solid 1px #ffffff;}
.jip-object-active{border:dotted 1px #7095ED;}

.jip-actions{border:solid 1px #63D465; background-color:#E6FAE6;}
.jip-actions-active{}

.jip-td{}

.action{page:action;background-repeat:no-repeat;background-position:center center;}
.error-block{border:dashed 1px #e00000; padding:3px 20px 0 20px}

.hint-table-css{background-color: #FFFFFF; border: 1px solid #999999;}
.hint-title-css{background-color: #F8F8F8; font-weight: bold;}	    
