<core:INCLUDE file='/admin/admin_form_items/errors.html'>
<core:INCLUDE file='/admin/admin_form_items/parent_select.html'>
<core:INCLUDE file='/admin/admin_form_items/identifier.html'>
<core:INCLUDE file='/admin/admin_form_items/title.html'>
<tr>
	<td colspan=2>
	<span class=req>*</span><locale:STRING name='content'>
	</td>
</tr>
<tr>
  <td colspan=2><richedit name="content" id="message_content" label="Content"></richedit>
  </td>
</tr>
<core:INCLUDE file='/admin/admin_form_items/req_info.html'>