<core:WRAP file="admin/content_management_page.html" placeholder="content">

<fetch:SUB_BRANCH target='list' navigator="pager">
  <core:PARAMETER name='loader_class_name' value='period_news_object'>
  <core:PARAMETER name='order' value='news_date=DESC'>
</fetch:SUB_BRANCH>

<core:INCLUDE file="/admin/pager.html">

<grid:LIST id='list'>
  <admin:list:HEADER>
   <admin:list:TITLE>
    <locale:STRING name='news_list' file='newsline'>
   </admin:list:TITLE>
  </admin:list:HEADER>
  <table cellpadding="0" cellspacing="0" class="content">
  <tr>
    <th><locale:STRING name='published_status'></th>
    <th><locale:STRING name='title'></th>
    <th><locale:STRING name='date'></th>
    <th><locale:STRING name='publish_period'></th>
    <th><locale:STRING name='actions'></th>
  </tr>
  <grid:ITERATOR>
  <tr>
    <td><core:INCLUDE file="published_status.html"></td>
    <td>
      <core:INCLUDE file="/admin/grid_items/list_item_hint.html">
      <a href="{$path}" target="_blank">{$title}</a>
    </td>
    <td><locale:DATE_FORMAT hash_id='news_date' locale_format='short_date'></td>
    <td><locale:DATE_FORMAT hash_id='start_date' locale_format='short_date'> - <locale:DATE_FORMAT hash_id='finish_date' locale_format='short_date'></td>
    <td><core:INCLUDE file="jip_actions/dropdown.html"></td>
  </tr>
  </grid:ITERATOR>
  </table>
  <admin:list:footer>
    <core:INCLUDE file='/admin/grid_items/grid_footer_full.html'>
  </admin:list:footer>
</grid:LIST>

