<core:WRAP file="page.html" placeholder="content">

<!--ÍÀ×ÀËÎ: ÊÎÍÒÅÍÒ-->

<fetch:MAPPED>
<span class=jip>
<table width=100% border=0 cellspacing=2 cellpadding=2 jip='object' class=jip-object>
	<tr>
		<td class=date colspan=2><locale:DATE_FORMAT hash_id="start_date" locale_format="short_date"></td>
	</tr>
	<tr>
		<td width=100% ><core:INCLUDE file="jip_actions/normal.html"></td>
	</tr>
	<tr>
		<td class=text>{$content}</td>
	</tr>
</table>	
</span>
</fetch:MAPPED>

<!--ÊÎÍÅÖ: ÊÎÍÒÅÍÒ-->