<core:WRAP file="page.html" placeholder="content">

<fetch:MAPPED>
<core:INCLUDE file="jip_actions/dropdown.html">
</fetch:MAPPED>

<fetch:SUB_BRANCH target='useful_links'  navigator="pager" >
  <core:PARAMETER name='loader_class_name' value='useful_link'>
  <core:PARAMETER name='order' value='priority=ASC'>
</fetch:SUB_BRANCH>

<core:INCLUDE file="/admin/pager.html">

<grid:LIST id='useful_links'>
<table border=0 cellspacing=0 cellpadding=4 width=100%>
  <tr>
    <th></th>
    <th><locale:STRING name='link' file='useful_link'></th>
    <th><locale:STRING name='link' file='useful_link'></th>
  </tr>
    <grid:ITERATOR>
    <tr>
      <td width='1'>
      <core:INCLUDE file="published_status.html">
      </td>
      <td>
        <core:OPTIONAL for='image_id'>
        <img src='/root?node_id={$image_id}&icon' align='center'>
        </core:OPTIONAL>
        <a href='{$uri}'>{$title}</a></td>
      <td>
      <core:INCLUDE file="jip_actions/dropdown.html">
      </td>
    </tr>
    </grid:ITERATOR>
</table>
</grid:LIST>