<core:WRAP file="/admin/popup.html" placeholder="content">

<DATASOURCE target='controller'>
    <core:PARAMETER name='datasource_path' value='controller_datasource' >
</DATASOURCE>

<core:DATASPACE id='controller'>
<h1>{$name}</h1><br><br>
</core:DATASPACE>

<h2><locale:STRING name='set_group_access_template'> </h2>

<br>

<form method="post" name="set_group_access_template" id="set_group_access_template">
<request_state name="controller_id" id="controller_id">


<DATASOURCE target='actions'>
    <core:PARAMETER name='datasource_path' value='controller_template_actions_list_datasource' >
</DATASOURCE>

<table width="100%" border="0" cellspacing="0" cellpadding="5">

<tr><td>&nbsp;</td>
<grid:LIST id='actions'>
<grid:ITERATOR>
<td align="center">{$action_name}</td>
</grid:ITERATOR>
</grid:LIST>
</tr>

<DATASOURCE target='controllers'>
    <core:PARAMETER name='datasource_path' value='controller_group_access_template_datasource' >
</DATASOURCE>

<grid:LIST id='controllers'>
<grid:ITERATOR>
<tr>
<td>{$group_name}</td>
<core:DATA_TRANSFER hash_id='actions' target='checkers'>
  <grid:LIST id='checkers'>
    <grid:ITERATOR>
      <td align="center">
      <selector class="checkbox">
      </td>
    </grid:ITERATOR>
  </grid:LIST>
</tr>
</grid:ITERATOR>
</grid:LIST>
<tr>
  <td colspan=100 align=center>
    <action_button action="set_group_access_template" name="update" id="update" locale_value="update" class="button">
    &nbsp;
    <input name="cancel" type="button" id="cancel" locale_value="close" onclick='window.close();' class="button">
  </td>
</tr>

</table>
</form>