<html>
<head>
<title><metadata:TITLE separator=' :: ' /></title>
<metadata:CHARSET>
<metadata:METADATA>
  <meta name="description" content="{$description}">
  <meta name="keywords" content="{$keywords}">
</metadata:METADATA>

<link rel="stylesheet" href="/shared/styles/admin.css" type="text/css">
<script language="javascript" src="/shared/js/common.js"></script>
<script language="javascript" src="/shared/js/form_errors.js"></script>

<script type="text/javascript" language="javascript" src="/shared/js/htc.js"></script>
<script type="text/javascript" language="javascript" src="/shared/js/htc.limb_cp.js"></script>
<script type="text/javascript" language="javascript" src="/shared/styles/class.actions.js"></script>

</head>
<body>

<table width=100% border=0 cellspacing=0 cellpadding=0 height=100% class=cp-header>

<tr>
  <td height=100% valign="top" >
    <table width=100% border=0 cellspacing=0 cellpadding=0 height=100% class=form>
      <tr>
        <td height=100% valign=top>
          <!--BEGIN: page-->
          <core:PLACEHOLDER id="content">
        </td>
      </tr>
    </table>
  </td>
</tr>
</table>


</body>
</html>

