<core:INCLUDE file='/admin/admin_form_items/errors.html'>
<core:INCLUDE file='/admin/admin_form_items/parent_select.html'>
<core:INCLUDE file='/admin/admin_form_items/identifier.html'>
<core:INCLUDE file='/admin/admin_form_items/title.html'>
<tr>
  <td><label for="url"><span class=req>*</span><locale:STRING name="url" file="navigation"></label></td>
  <td><input type="text" name="url" id="url" label="Url"  class="input" size="60">
  </td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><js_checkbox name="new_window" id="new_window"><label for="new_window_checkbox"><locale:STRING name='open_new_window' file="navigation"></label></td>
</tr>
<core:INCLUDE file='/admin/admin_form_items/req_info.html'>
<div id='popup_div'></div>
