<core:WRAP file="admin/content_management_page.html" placeholder="content">

<fetch:MAPPED>
<core:INCLUDE file="jip_actions/normal.html">
</fetch:MAPPED>

<fetch:SUB_BRANCH target='answers'>
  <core:PARAMETER name='loader_class_name' value='poll_answer'>
  <core:PARAMETER name='order' value='priority=ASC'>
</fetch:SUB_BRANCH>

<grid:LIST id='answers'>
<table>
<tr><td colspan='5' class='btitle1' height='3'></td></tr>
<tr><td colspan='100' class='btitle1' height='3'><locale:STRING name='poll_answers_list' file='poll'></td></tr>
<core:INCLUDE file='/admin/grid_items/final_level_grid_body.html'>
<core:INCLUDE file='/admin/grid_items/no_move_grid_footer.html'>
</table>
</grid:LIST>
