<core:WRAP file="admin/admin_display_page.html" placeholder="content">


<fetch:MAPPED>
<core:INCLUDE file="jip_actions/extended.html">
</fetch:MAPPED>

<fetch:SUB_BRANCH target='chat_rooms'>
	<core:PARAMETER name='loader_class_name' value='chat_room'>
</fetch:SUB_BRANCH>

<grid:LIST id='chat_rooms'>
<table border=0 cellspacing=0 cellpadding=4 width=100%>
    <grid:ITERATOR>
		<tr>
			<td class=jip >
				<table border=0 jip='action'>
				<tr>
				<td><core:INCLUDE file="published_status.html"></td>
				<td><core:INCLUDE file="jip_actions/normal.html"></td>
				<tr>
				</table>
				<table jip='object' width=100%>
					<tr>
						<td width=30% valign=top>
							<a href='{$path}'>{$title}</a><br>
						</td>
						<td valign=top>
							{$annotation}
						</td>
					</tr>
				</table>
			</td>
		</tr>
    </grid:ITERATOR>
</table>
</grid:LIST>
<div id='popup_div'></div>
