<core:WRAP file="admin/content_management_page.html" placeholder="content">

<fetch:MAPPED>
<core:INCLUDE file="jip_actions/normal.html">
</fetch:MAPPED>

<fetch:SUB_BRANCH target='documents' navigator="pager" >
  <core:PARAMETER name='loader_class_name' value='document' >
  <core:PARAMETER name='order' value='priority=ASC'>
</fetch:SUB_BRANCH>

<core:INCLUDE file="pager.html">

<grid:LIST id='documents'>
<table>
<tr><td colspan='5' class='btitle1' height='3'></td></tr>
<tr>
  <th><grid:SELECTORS_TOGGLER></th>
  <th><locale:STRING name='items_order'></th>
  <th><locale:STRING name='published_status' ></th>
  <th><locale:STRING name='document' file='document'></th>
  <th><locale:STRING name='actions'></th>
</tr>
<grid:ITERATOR>
<tr>
  <td><core:INCLUDE file="/admin/selector.html"></td>
  <td><core:INCLUDE file='/admin/priority_input.html'></td>
  <td><core:INCLUDE file="published_status.html"></td>
  <td>
    <core:INCLUDE file="/admin/list_item_hint.html">
    <a href="{$path}?action=admin_display">{$title}</a>
  </td>
  <td><core:INCLUDE file="jip_actions/dropdown.html"></td>
</tr>
</grid:ITERATOR>
<core:INCLUDE file='/admin/full_grid_footer.html'>
</table>
</grid:LIST>

