	<table width=100% border=0 cellspacing=0 cellpadding=0 height=100%>
	<tr>
		<td height=1%>
			<!--BEGIN: табулятор-->
			<table width=100% border=0 cellspacing=0 cellpadding=0 id=tabulator active=param_req class=tabulator>
			<col span=100 valign=bottom class=form>
			<tr>
				<td class=tab>&nbsp;</td>
				<td id=param_req_box class=tab-active>
					<table border=0 cellspacing=0 cellpadding=0 height=100%>
					<tr>
						<td nowrap class=label-active id=param_req><a href='JavaScript:void(0);'><locale:STRING name='properties'></a></td>
					</tr>
					</table>	
				</td>
				<td class=tab id=param_text_box>
					<table border=0 cellspacing=0 cellpadding=0 height=100%>
					<tr>
						<td nowrap class=label id=param_text><a href='JavaScript:void(0);'><locale:STRING name='content'></a></td>
					</tr>
					</table>	
				</td>
				<td class=tab width=100%>&nbsp;</td>
			</tr>
			</table>	
			<!--END: табулятор-->
		</td>
	</tr>
	<tr class=com4>
		<td colspan=2 class=pad4><core:INCLUDE file="form_errors.html"></td>
	</tr>
	<tr>
		<td height=100% valign=top>
		
					<!--BEGIN: вкладка №1-->
				  <table width="100%" border="0" cellspacing="0" cellpadding="0" style='padding:5px 10px 1px 5px;' id=param_req_content>
				  	<col align=right width=200 class=labels>
					    <tr>
					      <td nowrap><label for="identifier"><span class=req>*</span> <locale:STRING name='identifier'></label></td>
					      <td><input type="text" name="identifier" id="identifier" label="Identifier" class='input'>
					      </td>
					    </tr>
					    <tr>
					      <td nowrap><label for="title"><span class=req>*</span> <locale:STRING name='title'></label></td>
					      <td><input type="text" name="title" id="title" label="Title" class='input' size='60'>
					      </td>
					    </tr>
							<tr>
							  <td><label for="file_id"><locale:STRING name='file' ></label></td>
							  <td><file_select name="file_id" id="file_id" label="File">
							  </td>
							</tr>
				  </table>
					<!--END: вкладка №1-->

					<!--BEGIN: вкладка №2-->
				  <table width="100%" border="0" cellspacing="3" cellpadding="0" height=100% id=param_text_content>
			    <tr>
			      <td colspan=2><richedit name="object_content" id="object_content" label="Content" rows="25" style='width:100%;'></richedit>
			      </td>
			    </tr>
				  </table>
					<!--END: вкладка №2-->

		</td>
	</tr>
	</table>	
<script>
	init_tab('param_req',	'tabulator', 'label', 'tab')
	init_tab('param_text',	'tabulator', 'label', 'tab','window.onresize()')
</script>

	<div id='popup_div'></div>
 
 
 
 
 
 


