<core:WRAP file="/admin/site_management_page.html" placeholder="content">
<table border=0 cellspacing=0 cellpadding=0 >
<tr><td colspan='100' class='btitle1' height='3'></td></tr>
<tr height=30 valign='middle'>
  <th><locale:STRING name='tree_element'></th>
  <th>#ID</th>
  <th><locale:STRING name='published_status' ></th>
  <th><locale:STRING name='actions'></th>
  <th><locale:STRING name='controller_class_name'></th>
</tr>
<tr>
  <td height=10 background='/shared/images/t_l.gif' class=bgr_no_rep></td>
</tr>

<fetch:SUB_BRANCH target='tree'>
  <core:PARAMETER name='datasource_path' value='/fetch_tree_datasource'>
  <core:PARAMETER name='path' value='/root'>
  <core:PARAMETER name='depth' value='-1' type='numeric'>
  <core:PARAMETER name='check_expanded_parents' value='1' type='boolean'>
  <core:PARAMETER name='include_parent' value='1' type='boolean'>
  <core:PARAMETER name='restrict_by_class' value='0' type='boolean'>
  <core:PARAMETER name='order' value='class_ordr=ASC,identifier=ASC' >
</fetch:SUB_BRANCH>

<grid:LIST id='tree'>
<grid:ITERATOR>
<tr class=row>
<td height=100%><grid:TREE_ITEM></td>
<td height=100%>
  <core:INCLUDE file="/admin/list_item_hint.html">
  #<b>{$node_id}</b>
</td>
<td align="center"><core:INCLUDE file="published_status.html"></td>
<td><core:INCLUDE file="/jip_actions/dropdown.html"></td>
<td><small>&nbsp;{$controller_name}</small></td>
</tr>
</grid:ITERATOR>
</grid:LIST>
<tr><td colspan='100' class='btitle1' height='3'></td></tr>
</table>