<core:WRAP file="popup.html" placeholder="content">

<form name="change_controller_form" id="change_controller_form" method="post">
  <core:INCLUDE file="form_errors.html">
  <table>
  <tr>
    <td><span class=req>*</span><locale:STRING name='controller_class_name'></td>
    <td><select options_datasource='controllers_classes_options_datasource' name='controller_name' id='controller_name' class='input'></select></td>
  </tr>

  <core:INCLUDE file='/admin/admin_form_items/req_info.html'>
  <request_state name='id' attach_form_prefix='true'>
  <tr>
    <td colspan='2' align='center'>
      <action_button name="create_button" class="button"  action="change_controller" reload_parent="true" locale_value="create"/>
       &nbsp;
      <input name="cancel" type="button" id="cancel" locale_value="close" onclick='window.close();' class="button">
    </td>
  </tr>
</table>

</form>