<html>
<head>
<link rel="stylesheet" href="/shared/styles/admin.css" type="text/css">
<script language="javascript" src="/shared/js/common.js"></script>
<script language="javascript" src="/shared/js/form_errors.js"></script>
</head>
<body>
<table width=100% border=0 cellspacing=0 cellpadding=0>
<tr>
	<td style='padding:0 25px 3px 0' class=path>
	<metadata:BREADCRUMBS offset_path='/root'>
	<list:LIST>
		<list:ITEM>
			<list:BREADCRUMBS common>
			<a href="{$path}?action=file_select">{$title}</a> &gt;
			</list:BREADCRUMBS>
			<list:BREADCRUMBS id='breadcrumbs_title' last>
			{$title}
			</list:BREADCRUMBS>
		</list:ITEM>
	</list:LIST>
	</metadata:BREADCRUMBS>
	</td>
</tr>
<td>
<fetch:MAPPED>
<core:INCLUDE file="jip_actions/simple.html">
</fetch:MAPPED>
</td>
</table>

<fetch:SUB_BRANCH target="folders">
	<core:PARAMETER name='loader_class_name' value='files_folder'>
</fetch:SUB_BRANCH>

<fetch:SUB_BRANCH navigator='pager' target="files">
	<core:PARAMETER name='loader_class_name' value='file_object'>
</fetch:SUB_BRANCH>

<core:INCLUDE file="pager.html">

<list:LIST id='folders'>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <list:ITEM>
				<tr class='jip'>
					<td jip='object' class='jip_object'><img src='/shared/images/folder.gif' align='center'>&nbsp;<a href="{$path}?action=image_select">{$title}</a></td>
					<td jip='action'><core:INCLUDE file="jip_actions/simple.html"></td>
				</tr>
    </list:ITEM>
			</table>
</list:LIST>

<table width="100%" border="0" cellspacing="5" cellpadding="5">

<grid:LIST id='files'>
<tr>
<td><grid:ITEM><img src='/root?node_id={$node_id}&icon' align='center'>{$identifier}&nbsp;{$description}</grid:ITEM></td>
<td width='1'><core:INCLUDE file="/jip_actions/simple.html"></td>
<td>&nbsp;<grid:ITEM><core:LITERAL><button class='button' onclick='parent.update_file_data(</core:LITERAL>{node_id: "{$node_id}", name: "{$identifier}", description: "{$description}", mime_type: "{$mime_type}", size: "{$size}"}<core:LITERAL>)'>Select</button></core:LITERAL><core:LITERAL></a></core:LITERAL></grid:ITEM></td>
</tr>
</grid:LIST>

</table>
</body>
</html>
