<core:WRAP file="admin/page.html" placeholder="content">
<span class=jip>
<fetch:MAPPED>
<core:INCLUDE file="jip_actions/extended.html">
</fetch:MAPPED>
</span>
<br>

<fetch:SUB_BRANCH target='users' navigator='pager' >
	<core:PARAMETER name='loader_class_name' value='user_object'>
	<core:PARAMETER name='order' value='sso.identifier=ASC'>
</fetch:SUB_BRANCH>

<core:INCLUDE file="pager.html">

<list:LIST id='users'>
<table width=100%>
	<tr>
		<th><locale:STRING name='login' file='user'></th>
		<th><locale:STRING name='email'></th>
		<th><locale:STRING name='created_date'></th>
		<th><locale:STRING name='modified_date'></th>
		<th><locale:STRING name='actions'></th>
	</tr>
	<list:ITEM>
	<tr class="jip">
		<td jip='object' class='jip_object'>{$identifier}</td>
		<td jip='object' class='jip_object'><a href='mailto:{$email}'>{$email}</a></td>
		<td align="center"><locale:DATE_FORMAT hash_id='created_date' type='stamp' locale_format='short_date_time'></td>
		<td align="center"><locale:DATE_FORMAT hash_id='modified_date' type='stamp' locale_format='short_date_time'></td>
		<td align="center" jip='action'><core:INCLUDE file="jip_actions/normal.html"></td>
	</tr>
	</list:ITEM>
</table>
</list:LIST>