		<table width=100% border='0' cellspacing='0' cellpadding='0'>
		<tr><td colspan='2' ><locale:DATE_FORMAT hash_id='news_date' locale_format='short_date'></td></tr>
		<tr>
			<td valign='top' height='100%'>
				<core:OPTIONAL for='image_id'>
					<a href='/root?node_id={$image_id}&original'><img align='left' src='/root?node_id={$image_id}&thumbnail'></a>
				</core:OPTIONAL>
				<core:DEFAULT for='image_id'>					
				</core:DEFAULT>
			
			<core:OPTIONAL for='content'>
			  <a href='{$path}'>{$annotation}</a><br>
			</core:OPTIONAL>
			<core:DEFAULT for='content'>
			  {$annotation}
			</core:DEFAULT>
			  
			<table>
			<tr>
				<td ><core:INCLUDE file="published_status.html"></td>
				<td jip='action' ><core:INCLUDE file="jip_actions/simple.html"></td>
			</tr>
			</table>
			</td>
		</tr>
		<core:OPTIONAL for='content'>
		<tr><td align=right style='padding:4px'>[ <a href='{$path}'>more...</a> ]</td></tr>
		</core:OPTIONAL>
		</table><hr size="1px" color="#000000">