<grid:LIST id='menu'>
<table width='100%' border='0' cellspacing='3' cellpadding='1'>
<grid:ITERATOR>
		<tr>
			<td align='right' class='border1'><a href='{$url}' <core:OPTIONAL for="new_window">target="_blank"</core:OPTIONAL>>{$title}</a></td>
			<core:OPTIONAL for="in_path">
				<td><img src='/shared/images/arr1.gif'></td>
			</core:OPTIONAL>
			<core:DEFAULT for="in_path">
				<td class='border1'>&nbsp;</td>
			</core:DEFAULT>
		</tr>
</grid:ITERATOR>
<tr>
<td></td>
<td><img src='/shared/images/1x1.gif' width=12 height=0></td>
</tr>
</table>
</grid:LIST>
