<core:WRAP file="admin/content_management_page.html" placeholder="content">

<fetch:MAPPED>
<core:INCLUDE file="jip_actions/normal.html">
</fetch:MAPPED>

<fetch:SUB_BRANCH target='messages' navigator='pager'>
	<core:PARAMETER name='loader_class_name' value='guestbook_message' >
	<core:PARAMETER name='order' value='created_date=DESC' >
</fetch:SUB_BRANCH>

<core:INCLUDE file="pager.html">

<grid:LIST id='messages'>
<table width=100%>
<tr>
	<th><grid:SELECTORS_TOGGLER></th>
	<th><locale:STRING name='published_status'></th>
	<th><locale:STRING name='messages_list' file='guestbook'></th>
	<th><locale:STRING name='name' file='guestbook'></th>
	<th><locale:STRING name='created_date'></th>
	<th><locale:STRING name='actions'></th>
</tr>

<grid:ITERATOR>
	<tr>
		<td><core:INCLUDE file="/admin/selector.html"></td>
		<td><core:INCLUDE file="published_status.html"></td>
		<td>
      <core:INCLUDE file="/admin/list_item_hint.html">
      <a href="{$path}?action=admin_display">{$title}</a>
    </td>
		<td>
			<core:DEFAULT for='sender_email'>
				{$sender}
			</core:DEFAULT>
			<core:OPTIONAL for='sender_email'>
				<a href='mailto:{$sender_email}'>{$sender}</a>
			</core:OPTIONAL>
		</td>
		<td><locale:DATE_FORMAT hash_id='created_date' type='stamp' locale_format='short_date_time'></td>
		<td><core:INCLUDE file="jip_actions/dropdown.html"></td>
	</tr>
</grid:ITERATOR>
<core:INCLUDE file='/admin/no_move_grid_footer.html'> 
</table>
</grid:LIST>
