<core:WRAP file="admin/page.html" placeholder="content">
<form method="post" name="set_group_access" id="set_group_access">
<input name="type" type="hidden" id="type">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<th>
<locale:STRING name='object'>
</th>
<fetch:SUB_BRANCH target="groups" >
	<core:PARAMETER name='loader_class_name' value='user_group'>
	<core:PARAMETER name='path' value='/root'>
	<core:PARAMETER name='depth' value='-1' type='numeric'>
</fetch:SUB_BRANCH>

<list:LIST id="groups">
	<list:ITEM>
	<th>
	{$identifier}<br>
	(read/write)
	</th>
</list:ITEM>
</list:LIST>

</tr>

<fetch:SUB_BRANCH target='access'>
	<core:PARAMETER name='data_source_path' value='group_object_access_data_source'>
	<core:PARAMETER name='path' value='/root'>
	<core:PARAMETER name='depth' value='-1' type='numeric'>
	<core:PARAMETER name='check_expanded_parents' value='1' type='boolean'>
	<core:PARAMETER name='include_parent' value='1' type='boolean'>
	<core:PARAMETER name='restrict_by_class' value='0' type='boolean'>
</fetch:SUB_BRANCH>


<grid:LIST id='access'>
<tr>
<td><grid:TREE_ITEM></grid:TREE_ITEM></td>
<core:DATASET hash_id='groups' child_id='checkers'>
	<list:LIST id='checkers'>
		<list:ITEM>
		<td align="center">
			<selector class="checkbox" selector_name='read_selector_name'>&nbsp;&nbsp;<selector class="checkbox" selector_name='write_selector_name'>
		</td>
		</list:ITEM>
	</list:LIST>
</core:DATASET>
</grid:LIST>
</tr>

</table>
<action_button action="set_group_access" name="update" type="submit" id="update" value="Update" class="button">
</form>
