<table border=0 cellspacing=0 cellpadding=0>
<tr>
	<td><a class=named name={$identifier}>{$question}</a></td>
</tr>
<tr>
	<td><core:OPTIONAL for='question_author'>{$question_author}</core:OPTIONAL> <core:OPTIONAL for='question_author_email'><a href='mailto:{$question_author_email}'>@</a><hr></core:OPTIONAL></td>
</tr>
<tr>
	<td class=annotation>{$answer}</td>
</tr>
<tr>
	<td class=annotation>
		<core:OPTIONAL for='answer_author'><hr>{$answer_author}</core:OPTIONAL>
		<core:OPTIONAL for='answer_author_email'><a href='mailto:{$answer_author_email}'>@</a></core:OPTIONAL>
	</td>
</tr>
</table>	
