<core:WRAP file="/admin/popup.html" placeholder="content">

<form name="grid_form" id="grid_form" method="post">
  <core:INCLUDE file="form_errors.html">

  <table>
  <core:INCLUDE file='/admin/admin_form_items/parent_select.html'>

  <tr>
  <td colspan='2'>
    <br>
    <grid:LIST id='multi_move'>
      <table width=100%>
      <tr>
        <th><grid:SELECTORS_TOGGLER></th>
        <th><locale:STRING name='title'></th>
        <th><locale:STRING name='identifier'></th>
        <th><locale:STRING name='class_name'></th>
      </tr>
      <grid:ITERATOR>
      <tr>
      <td><core:INCLUDE file="/admin/grid_items/selector.html"></td>
      <td>{$title}</td>
      <td>{$identifier}</td>
      <td>{$class_name}</td>
      </tr>
      </grid:ITERATOR>
      </table>
    </grid:LIST>
  </td>
  </tr>

  <tr>
    <td colspan='2' align='center'>
      <action_button name="move_button" class="button"  action="multi_move" reload_parent="true" locale_value="move"/>
       &nbsp;
      <input name="cancel" type="button" id="cancel" locale_value="close" onclick='window.close();' class="button">
    </td>
  </tr>

</table>
</form>