<core:WRAP file="admin/content_management_page.html" placeholder="content">

<fetch:SUB_BRANCH target='files_folder' navigator="pager">
  <core:PARAMETER name='loader_class_name' value='site_object'>
  <core:PARAMETER name='order' value='priority=ASC'>
</fetch:SUB_BRANCH>

<fetch:SUB_BRANCH target='files'  navigator="pager2" >
  <core:PARAMETER name='loader_class_name' value='file_object' >
  <core:PARAMETER name='order' value='priority=ASC'>
</fetch:SUB_BRANCH>

<core:INCLUDE file="/admin/pager.html">

<grid:LIST id='files_folder'>
  <admin:list:header>
    <admin:list:title>
      <locale:STRING name='file_folders_list' file='file'>
    </admin:list:title>
  </admin:list:header>
  <table cellpadding='0' cellspacing='0' class='content'>
    <core:INCLUDE file='/admin/grid_items/grid_body_folder_no_publish.html'>
  </table>
  <admin:list:footer>
    <core:INCLUDE file='/admin/grid_items/grid_footer_full.html'>
  </admin:list:footer>
</grid:LIST>

<core:INCLUDE file="/admin/pager2.html">

<grid:LIST id='files'>
  <admin:list:header>
    <admin:list:title>
      <locale:STRING name='files_list' file='file'>
    </admin:list:title>
  </admin:list:header>

  <table cellpadding='0' cellspacing='0' class='content'>
  <core:INCLUDE file='/admin/grid_items/grid_header_no_publish.html'>
  <grid:ITERATOR>
    <grid:SEPARATOR><tr><td class="col6" colspan="6" height="1"></td></tr></grid:SEPARATOR>
    <grid:STRIPE odd><tr class="odd_row"></grid:STRIPE>
    <grid:STRIPE even><tr class="even_row"></grid:STRIPE>
      <td><span behavior='CRow' target='-2'></span><core:INCLUDE file="/admin/grid_items/selector.html"></td>
      <td><core:INCLUDE file='/admin/grid_items/priority_input.html'></td>
      <td>
        <core:INCLUDE file="/admin/grid_items/list_item_hint.html">
        <img src='{$path}?icon'>&nbsp;<a href='{$path}'>{$title}</a>
      </td>
      <td><core:INCLUDE file="jip_actions/dropdown.html"></td>
    </tr>
  </grid:ITERATOR>
  </table>
  <admin:list:footer>
    <core:INCLUDE file='/admin/grid_items/grid_footer_full.html'>
  </admin:list:footer>
</grid:LIST>