<DATASOURCE target='last_news'>
	<core:PARAMETER name='loader_class_name' value='pictured_news_object'>
	<core:PARAMETER name='datasource_path' value='fetch_datasource'>
	<core:PARAMETER name='fetch_method' value='fetch_accessible'>
	<core:PARAMETER name='limit' value='3'>
	<core:PARAMETER name='order' value='news_date=DESC' >
</DATASOURCE>

<grid:LIST id='last_news'>
<table width="205" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td valign="top" class="title-right" style="padding:0 0 0 10px">новости</td>
	</tr>
	<tr>				
       	<td  width="205" valign="top" ><img src="/design/main/images/title_block.gif"></td>
	</tr>
	<tr>				
		<td  valign="top" class="news" style="padding:0 10px 0 10px">	
			<grid:ITERATOR>
		    <br><a href="{$path}">
		    <core:OPTIONAL for='image_id'>
		    <img src="/root?node_id={$image_id}" align="left">
		    </core:OPTIONAL>
		    <span class="bold"><locale:DATE_FORMAT hash_id='news_date' locale_format='short_date'></span><br>
				{$annotation}</a>
				<br>
				<br>
			</grid:ITERATOR>
				<a href="/root/news"><span class="bold" >все новости</span><br></a><br><br>
		</td>
	</tr>
</table>
</grid:LIST>