<core:WRAP file="admin/content_management_page.html" placeholder="content">

<fetch:MAPPED>
<core:INCLUDE file="jip_actions/normal.html">
</fetch:MAPPED>

<fetch:SUB_BRANCH target='folders'>
	<core:PARAMETER name='loader_class_name' value='subscribe_theme'>
	<core:PARAMETER name='order' value='priority=ASC'>
</fetch:SUB_BRANCH>

<grid:LIST id='folders'>
<table border=0 cellspacing=2 cellpadding=2 width=100%>
<tr>
	<th><grid:SELECTORS_TOGGLER></th>
	<th><locale:STRING name='items_order'></th>
	<th><locale:STRING name='published_status' ></th>
	<th><locale:STRING name='subscribe_themes' file='subscribe'></th>
	<th><locale:STRING name='actions'></th>
</tr>
<grid:ITERATOR>
<tr>
	<td><core:INCLUDE file="/admin/selector.html"></td>
	<td><core:INCLUDE file='/admin/priority_input.html'></td>
	<td><core:INCLUDE file="published_status.html"></td>
	<td>
		<table width=100% border=0 cellspacing=0 cellpadding=2>
		<tr>
			<td width=1><a href="{$path}"><img src='/shared/images/subscribe.gif'></a></td>
			<td><a href="{$path}">{$title}</a></td>
		</tr>
		</table>	
	</td>
	<td><core:INCLUDE file="jip_actions/dropdown.html"></td>
</tr>
</grid:ITERATOR>
<core:INCLUDE file='/admin/no_move_grid_footer.html'>
</table>
</grid:LIST>


