<core:WRAP file="admin/content_management_page.html" placeholder="content">

<fetch:MAPPED>
<core:INCLUDE file="jip_actions/normal.html">
</fetch:MAPPED>

<fetch:SUB_BRANCH target='folders'>
	<core:PARAMETER name='order' value='priority=ASC'>
</fetch:SUB_BRANCH>

<fetch:SUB_BRANCH target='photos' navigator="pager" >
	<core:PARAMETER name='loader_class_name' value='photogallery_object'>
	<core:PARAMETER name='order' value='priority=ASC'>
</fetch:SUB_BRANCH>

<grid:LIST id='folders'>
<table>
<tr>
	<th><grid:SELECTORS_TOGGLER></th>
	<th><locale:STRING name='items_order'></th>
	<th><locale:STRING name='published_status'></th>
	<th><locale:STRING name='photogallery_folder' file='photogallery'></th>
	<th><locale:STRING name='actions'></th>
</tr>
<grid:ITERATOR>
<tr><td colspan='100' class='btitle1' height='3'><locale:STRING name='photogallery_folders_list' file='photogallery'></td></tr>
<core:INCLUDE file='/admin/grid_items/folder_grid_body.html'>
<core:INCLUDE file='/admin/full_grid_footer.html'></table>
</grid:LIST>

<core:INCLUDE file="pager.html">

<grid:LIST id='photos'>
<table>
<tr><td colspan='100' class='btitle1' height='3'><locale:STRING name='photos_list' file='photogallery'></td></tr>
<tr>
	<th><grid:SELECTORS_TOGGLER></th>
	<th><locale:STRING name='items_order'></th>
	<th><locale:STRING name='published_status'></th>
	<th><locale:STRING name='title'></th>
	<th><locale:STRING name='title'></th>
	<th><locale:STRING name='actions'></th>
</tr>
<grid:ITERATOR>
<tr>
  <td><core:INCLUDE file="/admin/selector.html"></td>
  <td><core:INCLUDE file='/admin/priority_input.html'></td>
  <td><core:INCLUDE file="published_status.html"></td>
  <td><img src='/root?node_id={$image_id}&icon' align='center' border=0></td>
  <td>
    <core:INCLUDE file="/admin/list_item_hint.html">
    {$title}
  </td>
  <td><core:INCLUDE file="jip_actions/dropdown.html"></td>
</tr>
</grid:ITERATOR>
<core:INCLUDE file='/admin/full_grid_footer.html'>
</table>
</grid:LIST>
