<span class="hint-link-css"  onmouseover='this.style.cursor = "default"; start_hint("detail_{$id}");' onmouseout='stop_hint();'><img src="/shared/images/i.gif"></span>
<div id='detail_{$id}' style='z-index: 1; position: absolute; visibility: hidden; width: 250px;'>
<table class="hint-table-css"  width='100%' cellpadding='6px' cellspacing='0'>
  <tr><td class="hint-title-css"  ><img src='/shared/images/i.gif'> <locale:STRING name='detail_info'></td></tr>
  <tr><td>
<table width='100%'  cellpadding='0'  cellspacing='0'>
	<tr>
		<td ><locale:STRING name='identifier'></td>
		<td>{$identifier}</td>
	</tr>
	<tr>
		<td ><locale:STRING name='title'></td>
		<td>{$title}</td>
	</tr>
	<tr>
		<td ><locale:STRING name='created_date'></td>
		<td><locale:DATE_FORMAT hash_id='created_date' type='stamp' locale_format='short_date_time'></td>
	</tr>
	<tr>
		<td ><locale:STRING name='modified_date'></td>
		<td><locale:DATE_FORMAT hash_id='modified_date' type='stamp' locale_format='short_date_time'></td>
	</tr>
	<tr>
		<td ><locale:STRING name='version'>: {$version}</td>
		<td><locale:STRING name='language'>: {$locale_id}</td>
	</tr>
	<tr>
		<td ></td>
		<td></td>
	</tr>
	<tr>
		<td ><locale:STRING name='controller_class_name'></td>
		<td>{$controller_name}</td>
	</tr>
	<tr>
		<td ><locale:STRING name='object_type'></td>
		<td>{$class_name}</td>
	</tr>
</table>
</td></tr>
</table>
</div>