    <input type="hidden" name="identifier" id="identifier">
    <tr>
      <td><label for="title"><locale:STRING name="subject" ></label></td>
      <td><input type="text" name="title" id="title" label="Subject" class="input">
      </td>
    </tr>
    <tr>
      <td><label for="sender"><span class=req>*</span> <locale:STRING name="name" file="guestbook"></label></td>
      <td><input type="text" name="sender" id="sender" label="Sender" class="input">
      </td>
    </tr>
    <tr>
      <td><label for="sender_email"><locale:STRING name="email" ></label></td>
      <td><input type="text" name="sender_email" id="sender_email" label="Sender email" class="input">
      </td>
    </tr>

    <tr>
      <td><label for="message"><span class=req>*</span> <locale:STRING name="message" file="guestbook"></label></td>
      <td><textarea name="message" id="message" label="Message" rows="15" cols="60" class="textarea"></textarea>
      </td>
    </tr>