<core:WRAP file="admin/page.html" placeholder="content">

<fetch:MAPPED>
<core:INCLUDE file="jip_actions/extended.html">

<DATASOURCE target='groups'>
	<core:PARAMETER name='datasource_path' value='/links_groups_datasource'>
</DATASOURCE>
<grid:LIST id='groups'>
<table>
<tr>
<th>ID</th>
<th><locale:STRING name='identifier'></th>
<th><locale:STRING name='title'></th>
<th><locale:STRING name='items_order'></th>
<th><locale:STRING name='actions'></th>
</tr>
<grid:ITERATOR>
<tr>
<td>{$id}</td>
<td>{$identifier}</td>
<td>{$title}</td>
<td><grid:INPUT name='priority' size='2' class='input' hash_id='id'></td>
<td>
  <a href='{^path}?action=delete_group&group_id={$id}&popup=1' onclick="return click_href(this.href);">Delete group</a>&nbsp;&nbsp;
  <a href='{^path}?action=edit_group&group_id={$id}&popup=1' onclick="return click_href(this.href);">Edit group</a>
</td>
</tr>
</grid:ITERATOR>
</tr>
<tr>
	<td colspan='4' align='right'>
    <grid:BUTTON class='button' path='/root/admin/links_manager' action='set_groups_priority&popup=1' locale_value='change_order' reload_parent='1' form_submitted='1' >
	</td>
	<td></td>
</tr>
</table>
</grid:LIST>
</fetch:MAPPED>
