<core:WRAP file="admin/admin_display_page.html" placeholder="content">
<span class=jip>
<fetch:MAPPED>
<core:INCLUDE file="jip_actions/extended.html">
</fetch:MAPPED>
</span>
<fetch:SUB_BRANCH target='folders' >
	<core:PARAMETER name='loader_class_name' value='documents_folder' >
</fetch:SUB_BRANCH>

<table width=100%>
<tr>
	<th><locale:STRING name='documents_folder' file='document'></th>
	<th><locale:STRING name='published_status' ></th>
	<th><locale:STRING name='created_date'></th>
	<th><locale:STRING name='modified_date'></th>
	<th><locale:STRING name='actions'></th>
</tr>
<grid:LIST id='folders'>
<tr class="jip">
<td jip='object'><grid:ITEM><a href="{$path}?action=admin_display">{$title}</a></grid:ITEM></td>
<td align="center"><grid:ITEM>
					<core:INCLUDE file="published_status.html">
</grid:ITEM></td>
<td align="center"><grid:ITEM><locale:DATE_FORMAT hash_id='created_date' type='stamp' locale_format='short_date_time'></grid:ITEM></td>
<td align="center"><grid:ITEM><locale:DATE_FORMAT hash_id='modified_date' type='stamp' locale_format='short_date_time'></grid:ITEM></td>
<td align="center" jip='action'><core:INCLUDE file="jip_actions/normal.html"></td>
</tr>
</grid:LIST>
</table>

<fetch:SUB_BRANCH target='documents' navigator="pager" >
	<core:PARAMETER name='loader_class_name' value='document' >
</fetch:SUB_BRANCH>


<core:INCLUDE file="pager.html">

<table width=100%>
<tr>
	<th><locale:STRING name='document' file='document'></th>
	<th><locale:STRING name='published_status' ></th>
	<th><locale:STRING name='modified_date'></th>
	<th><locale:STRING name='actions'></th>
</tr>
<grid:LIST id='documents'>
<tr class="jip">
<td jip='object'><grid:ITEM><a href="{$path}" target="_blank">{$title}</a></grid:ITEM></td>
<td align="center"><grid:ITEM>
					<core:INCLUDE file="published_status.html">
</grid:ITEM></td>
<td align="center"><grid:ITEM><locale:DATE_FORMAT hash_id='modified_date' type='stamp' locale_format='short_date_time'></grid:ITEM></td>
<td align="center" jip='action'><core:INCLUDE file="jip_actions/normal.html"></td>
</tr>
</grid:LIST>
</table>