<core:WRAP file="popup.html" placeholder="content">
<h2><locale:STRING name='message_creation' file='message'><h2>
<form method="post" name="create_message" id="create_message">
  <table width="100%" border="0" cellspacing="0" cellpadding="3">
		<core:INCLUDE file="/message/form_fields.html">
    <tr>
      <td colspan=2 align=center height=30><action_button action="create_message" name="create" type="submit" id="create" value="Create" class="button">
      &nbsp;
      <input name="cancel" type="button" id="cancel" value="Cancel" onclick='window.close();' class="button">
      </td>
    </tr>
  </table>
</form>