		<tr class=com4>
			<td colspan=2 class=pad4><core:INCLUDE file="form_errors.html"></td>
		</tr>
    <tr>
      <td><label for="title"><span class='req'>*</span><locale:STRING name='title'></label></td>
      <td><input type="text" name="title" id="title" label="Title" class='input' size='60'>
      </td>
    </tr>
    <tr>
      <td><label for="annotation"><span class='req'>*</span><locale:STRING name='annotation'></label></td>
      <td><textarea class='textarea' name="annotation" id="annotation" label="Annotation" cols='40' rows='5'></textarea>
      </td>
    </tr>

    <tr>
      <td><label for="start_date"><span class='req'>*</span><locale:STRING name='start_show_date'></label></td>
      <td><date name="start_date" type="text" id="start_date" label="Start date" class='input' onfocus="this.blur()" readonly='' function='fStartPop(document["announce_form"]["start_date"],document["announce_form"]["finish_date"])'>
      </td>
    </tr>
    <tr>
      <td><label for="finish_date"><span class='req'>*</span><locale:STRING name='finish_show_date'></label></td>
      <td><date name="finish_date" type="text" id="finish_date" label="Finish date" class='input' onfocus="this.blur()" readonly='' function='fEndPop(document["announce_form"]["start_date"],document["announce_form"]["finish_date"])'>
      </td>
    </tr>
    <tr>
      <td><label for="image_id"><locale:STRING name='image' file='announce'></label></td>
      <td><image_select name="image_id" id="image_id" label="Image">
      </td>
    </tr>
    <tr>
      <td><label for="url"><locale:STRING name='url' file='announce'></label></td>
      <td><input type="text" name="url" id="url" label="Url" class='input' size='60'>
      </td>
    </tr>
		<tr>
	    <td class=tab-bottom><img src='/shared/images/i.gif'></td>
	    <td width=100% class=tab-bottom><span class=desc><locale:STRING name='form_field_req'></span></td>
		</tr>
<div id='popup_div'></div>