<core:WRAP file="admin/content_management_page.html" placeholder="content">

<fetch:SUB_BRANCH target='ad_block_objects' navigator="pager" >
  <core:PARAMETER name='loader_class_name' value='ad_block_object'>
  <core:PARAMETER name='order' value='priority=ASC'>
</fetch:SUB_BRANCH>

<core:INCLUDE file="/admin/pager.html">

<grid:LIST id='ad_block_objects'>
<admin:list:header>
  <admin:list:title>
   <locale:STRING name='ab_block_objects_list' file='ad'>
  </admin:list:title>
</admin:list:header>

<table  cellpadding='0' cellspacing='0' class='content'>
<core:INCLUDE file='/admin/grid_items/grid_header_common.html'>
<grid:ITERATOR>
  <grid:SEPARATOR><tr><td class="col6" colspan="6" height="1"></td></tr></grid:SEPARATOR>
  <grid:STRIPE odd><tr class="odd_row"></grid:STRIPE>
  <grid:STRIPE even><tr class="even_row"></grid:STRIPE>
    <td><span behavior='CRow' target='-2'></span><core:INCLUDE file="/admin/grid_items/selector.html"></td>
    <td><core:INCLUDE file='/admin/grid_items/priority_input.html'></td>
    <td><core:INCLUDE file="published_status.html"></td>
    <td>
      <img src='/root?node_id={$image_id}&icon' alt='{$title}' title='{$title}'>
      {$title}<core:INCLUDE file="/admin/grid_items/list_item_hint.html">
      <core:OPTIONAL for='uri'><br><a href='{$uri}' target='_blank'>{$uri}</a></core:OPTIONAL>
    </td>
    <td><core:INCLUDE file="jip_actions/dropdown.html"></td>
  </tr>
</grid:ITERATOR>
</table>

<admin:list:footer>
  <core:INCLUDE file='/admin/grid_items/grid_footer_no_move.html'>
</admin:list:footer>
</grid:LIST>