<form:STATUS>
  <form:SUCCESS_STATUS>

    <table width='100%'>
      <tr class=com4><td>
        <img src='/shared/images/success.gif'>
        <font color='green'><b><locale:STRING name='operation_succeeded'></b></font><br><br>

  </form:SUCCESS_STATUS>

  <form:ERROR_STATUS>

    <table width='100%'>
      <tr class=com4><td>

        <img src='/shared/images/error.gif'>
        <font color='red'><b><locale:STRING name='operation_failed'></b></font><br><br>

  </form:ERROR_STATUS>
</form:STATUS>

<form:ERRORS target='errors' />

<grid:LIST id='errors'>
<grid:DEFAULT>
</grid:DEFAULT>
  <table width=100% border=0 cellspacing=0 cellpadding=0 class=error-block>
  <tr>
    <td>
      <locale:STRING name='form_had_errors'>
      <ol>
      <grid:ITERATOR>
        <li><span id="label_for_{$field}"></span> : {$error_message}</li>
      </grid:ITERATOR>
      </ol>
    </td>
  </tr>
  </table>
</grid:LIST>

<form:STATUS>
  <form:SUCCESS_STATUS>
    </td></tr></table>
  </form:SUCCESS_STATUS>

  <form:ERROR_STATUS>
    </td></tr></table>
  </form:ERROR_STATUS>
</form:STATUS>
