<fetch:ONE path='/root/messages/guestbook_message'>
<user>
<core:BLOCK id='not_logged_in'>
		{$content}
</core:BLOCK>
</user>
</fetch:ONE><form method="post" name="display" id="display">
	<core:INCLUDE file="form_errors.html">
  <table width="100%" border="0" cellspacing="2" cellpadding="3">
		<core:INCLUDE file="/guestbook_message/form_fields.html">
    <tr>
      <td>&nbsp;</td>
      <td><action_button action="display" name="create" type="submit" id="create" value="Отослать" class='button'>
      </td>
    </tr>
  </table>
</form>