<actions>
<a href='javascript:void(0);' onclick='this.style.cursor = "default"; toggle_hint("actions_{^node_id}");' alt='Click to view actions' title='Click to view actions'>JIP</a>
<div id='actions_{^node_id}' style='z-index: 1; position: absolute; visibility: hidden; width: 250px;'>
<table border=0 cellspacing=0 cellpadding=1 class=jip-actions jip='actions'>
	<actions:ITEM>
	<tr>
	<td class=jip-td>
		<a href='{$action_href}' onclick="return click_href(this.href);"><img src='{$img_src}' alt='{$action_name}' title='{$action_name}' border=0 class=action></a>
	</td>
	<td class=jip-td><a href='{$action_href}' onclick="return click_href(this.href);">{$action_name}</a>
	</td>
	</tr>
	</actions:ITEM>
	</table>
</div>
</actions>