<core:WRAP file="page.html" placeholder="content">

<form method="post" name="generate_password" id="generate_password">
  <core:INCLUDE file="form_errors.html">
  <table width="100%" border="0" cellspacing="2" cellpadding="3">
    <tr>
      <td><label for="email"><locale:STRING name='email'></label></td>
      <td><input name="email" type="text" id="email" class="input">
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><action_button action="generate_password" name="submit" type="submit" id="submit1" value="Submit" class="button">
      </td>
    </tr>
  </table>
</form>
