<core:WRAP file="admin/admin_display_page.html" placeholder="content">
<span class=jip>
<fetch:MAPPED>
<core:INCLUDE file="jip_actions/extended.html">
</fetch:MAPPED>
</span>

<fetch:SUB_BRANCH target='links' navigator="pager" >
	<core:PARAMETER name='loader_class_name' value='useful_link'>
	<core:PARAMETER name='order' value='priority=ASC'>
</fetch:SUB_BRANCH>

<core:INCLUDE file="pager.html">

<grid:LIST id='links'>
<table width=100%>
<tr>
	<th><locale:STRING name='link' file='useful_link'></th>
	<th><locale:STRING name='published_status' ></th>
	<th><locale:STRING name='url' file='useful_link'></th>
	<th><locale:STRING name='items_order'></th>
	<th><locale:STRING name='actions'></th>
</tr>
<grid:ITERATOR>
<tr class="jip">
<td jip='object'><a href="{$path}">{$title}</a></td>
<td align="center">
	<core:INCLUDE file="published_status.html">
</td>
<td align="center">{$uri}</td>
<td><core:INCLUDE file='/admin/priority_input.html'></td>
<td align="center" jip='action'><core:INCLUDE file="jip_actions/normal.html"></td>
</tr>
</grid:ITERATOR>
<tr><td colspan='4' align='right'><core:INCLUDE file='/admin/priority_button.html'></td><td>&nbsp;</td></tr>
</table>
</grid:LIST>
