<core:WRAP file="admin/content_management_page.html" placeholder="content">

<span class=jip>
<fetch:MAPPED>
<core:INCLUDE file="jip_actions/normal.html">
</fetch:MAPPED>
</span>

<fetch:SUB_BRANCH target='folders' >
  <core:PARAMETER name='loader_class_name' value='site_object' >
  <core:PARAMETER name='order' value='priority=ASC'>
</fetch:SUB_BRANCH>

<fetch:SUB_BRANCH target='articles' navigator="pager" >
  <core:PARAMETER name='loader_class_name' value='article' >
  <core:PARAMETER name='order' value='priority=ASC'>
</fetch:SUB_BRANCH>

<grid:LIST id='folders'>
<table>
<tr>
  <th><grid:SELECTORS_TOGGLER></th>
  <th><locale:STRING name='items_order'></th>
  <th><locale:STRING name='published_status' ></th>
  <th><locale:STRING name='articles_folder' file='article'></th>
  <th><locale:STRING name='actions'></th>
</tr>
<grid:ITERATOR>
<tr class="jip">
  <td><core:INCLUDE file="/admin/selector.html"></td>
  <td><core:INCLUDE file='/admin/priority_input.html'></td>
  <td><core:INCLUDE file="published_status.html"></td>
  <td >
    <core:INCLUDE file="/admin/list_item_hint.html">
    <a href="{$path}?action=admin_display">{$title}</a>
  </td>
  <td jip='action'><core:INCLUDE file="jip_actions/dropdown.html"></td>
</tr>
</grid:ITERATOR>
<tr>
  <td colspan='5'>
  <grid:actions select_class='select' button_class='button' locale_value='do'>
    <grid:action shortcut='delete' locale_value='delete' form_submitted='0'>
    <grid:action shortcut='save_priority'  locale_value='change_order' form_submitted='1'>
    <grid:action shortcut='toggle_published_status'   locale_value='toggle_published_status' form_submitted='1'>
  </grid:actions>
  </td>
</tr>
</table>
</grid:LIST>

<core:INCLUDE file="pager.html">

<grid:LIST id='articles'>
<table>
<tr>
  <th><grid:SELECTORS_TOGGLER></th>
  <th><locale:STRING name='items_order'></th>
  <th><locale:STRING name='published_status' ></th>
  <th><locale:STRING name='article' file='article'></th>
  <th><locale:STRING name='actions'></th>
</tr>
<grid:ITERATOR>
<tr class="jip">
  <td><core:INCLUDE file="/admin/selector.html"></td>
  <td><core:INCLUDE file='/admin/priority_input.html'></td>
  <td><core:INCLUDE file="published_status.html"></td>
  <td jip='object'>
    <core:INCLUDE file="/admin/list_item_hint.html">
    <a href="{$path}" target="_blank">{$title}</a>
  </td>
  <td jip='action'><core:INCLUDE file="jip_actions/dropdown.html"></td>
</tr>
</grid:ITERATOR>
<tr>
  <td colspan='5'>
  <grid:actions select_class='select' button_class='button' locale_value='do'>
    <grid:action shortcut='delete' locale_value='delete' form_submitted='0'>
    <grid:action shortcut='save_priority'  locale_value='change_order' form_submitted='1'>
    <grid:action shortcut='toggle_published_status'   locale_value='toggle_published_status' form_submitted='1'>
  </grid:actions>
  </td>
</tr>
</table>
</grid:LIST>
